body {
    margin-top: 25px;
    padding-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #000000;
    padding-right: 20px;
}

#G01question {
    display: block;
    border-bottom: solid black 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: #5B1704;
}

span[name^="G01choice"] {
    display: block;
    line-height: 21px;
    color: black;
}

#aviso-index {
    font-weight: bold;
    font-size: 14px;
    color: red;
}


#resultado {
    font-weight: normal;
    font-size: 12px;
}

/*
#resultadosuspenso {font-size:14px;line-height:30px;}
#resultadoaprobado {font-size:14px;line-height:30px;}
#resultadono-aprobado {font-size:14px;line-height:30px;}
*/
#resultadosuspenso {
    font-size: 12px;
    line-height: none;
}

#resultadoaprobado {
    font-size: 12px;
    line-height: none;
}

#resultadono-aprobado {
    font-size: 12px;
    line-height: none;
}