.version.conclusion /* version checker */
{
	color: #0000FB;
	background-color: #993075;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.9375000000005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu516
{
	width: 0.01px;
	margin-left: -100px;
}

#u516
{
	z-index: 2;
	padding-bottom: 6px;
}

#u516_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1097
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1152
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 130px;
}

#u523-4
{
	z-index: 5;
	width: 559px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 537px;
}

#u521
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u516-bw
{
	z-index: 2;
	height: 84px;
}

#u1095
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1101
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1101_img
{
	margin-right: -1px;
}

#pu999
{
	width: 0.01px;
	margin-left: -56px;
	margin-top: 36px;
}

#u999
{
	z-index: 17;
	width: 470px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
}

#u1004-23
{
	z-index: 19;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 501px;
}

#u1005-6
{
	z-index: 42;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -56px;
	margin-top: 27px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u1005-4
{
	padding-left: 30px;
}

#u1005-2
{
	color: #B63B6A;
}

#u1006
{
	z-index: 49;
	left: -56px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u1006_states.png") no-repeat 0px 0px;
}

#u1006_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u1006:hover #u1006_states
{
	background: url("../images/u1006_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

