.version.tema1 /* version checker */
{
	color: #000008;
	background-color: #67BA5D;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.9375px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1476
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1534
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 130px;
}

#u568-4
{
	z-index: 5;
	width: 590px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 506px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u1474
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1480
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1480_img
{
	margin-right: -1px;
}

#pu176
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 8px;
}

#u176
{
	z-index: 17;
	border-color: #000000;
	background-color: #940157;
	padding-bottom: 0px;
}

#u176_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
	padding-top: 41px;
	padding-bottom: 151px;
}

#u1419
{
	z-index: 81;
	width: 412px;
	background-color: transparent;
	left: 766px;
	position: relative;
}

#u178-4
{
	z-index: 18;
	width: 881px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	left: 100px;
	margin-top: 103px;
	position: relative;
}

#u176-bw
{
	z-index: 17;
	height: 499px;
}

#pamphletu864
{
	z-index: 43;
	width: 0.01px;
	height: 224px;
	position: relative;
	margin-right: -10000px;
	margin-top: 802px;
	left: 54px;
}

#u884
{
	z-index: 44;
	width: 1123px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u887
{
	position: absolute;
	width: 207px;
	height: 223px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u898
{
	position: absolute;
	width: 207px;
	height: 223px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 230px;
}

#u903
{
	position: absolute;
	width: 207px;
	height: 223px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 460px;
}

#u905
{
	position: absolute;
	width: 207px;
	height: 223px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 690px;
}

#u907
{
	position: absolute;
	width: 207px;
	height: 223px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 914px;
}

#u887:hover,#u898:hover,#u903:hover,#u905:hover,#u907:hover
{
	border-color: #999999;
	width: 207px;
	height: 223px;
	min-height: 0px;
	margin: 0px;
}

#u873
{
	position: absolute;
	width: 1051px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -466px;
	left: 1216px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u873popup
{
	z-index: 50;
}

#u878
{
	z-index: 51;
	width: 1007px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u893
{
	z-index: 52;
	width: 1002px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u899
{
	z-index: 54;
	width: 1007px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u909
{
	z-index: 55;
	width: 1002px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
}

#u904
{
	z-index: 57;
	width: 1007px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u914
{
	z-index: 58;
	width: 1002px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u906
{
	z-index: 60;
	width: 1007px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u919
{
	z-index: 61;
	width: 1002px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u908
{
	z-index: 63;
	width: 1007px;
	height: 498px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u924
{
	z-index: 64;
	width: 1007px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u880
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -442px;
	left: 2213px;
}

#u880:hover
{
	background-color: #999999;
	margin: 0px;
}

#u880:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u881-4
{
	z-index: 67;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u832-6
{
	z-index: 31;
	display: block;
	vertical-align: top;
	left: -46px;
	top: -375px;
	margin-bottom: -87px;
	position: relative;
}

#pu834
{
	width: 0.01px;
	margin-left: -46px;
	margin-top: -269px;
}

#u834
{
	z-index: 37;
	width: 1126px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u833-4
{
	z-index: 39;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 396px;
}

#pu929-8
{
	width: 0.01px;
	margin-left: -61px;
	margin-top: 225px;
}

#u929-8
{
	z-index: 71;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u930
{
	z-index: 79;
	width: 1141px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
}

#u830-6
{
	z-index: 22;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -61px;
	margin-top: 29px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u830-4
{
	padding-left: 30px;
}

#u830-2
{
	color: #B63B6A;
}

#u831
{
	z-index: 29;
	left: -61px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u831_states.png") no-repeat 0px 0px;
}

#u831_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u831:hover #u831_states
{
	background: url("../images/u831_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

