.version.tema2 /* version checker */
{
	color: #0000E7;
	background-color: #CC43AA;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1476
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1534
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 130px;
}

#u568-4
{
	z-index: 5;
	width: 590px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 506px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u1474
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1480
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1480_img
{
	margin-right: -1px;
}

#u504
{
	z-index: 17;
	border-color: #000000;
	background-color: #F6772C;
}

#u504_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
	padding-top: 41px;
	padding-bottom: 126px;
}

#u1414
{
	z-index: 343;
	width: 412px;
	background-color: transparent;
	left: 766px;
	position: relative;
}

#u505-4
{
	z-index: 18;
	width: 686px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	left: 100px;
	margin-top: 128px;
	position: relative;
}

#u504-bw
{
	z-index: 17;
	margin-top: 8px;
	height: 499px;
}

#pamphletu961
{
	z-index: 58;
	width: 0.01px;
	height: 106px;
	margin-left: 671px;
	margin-top: 405px;
	position: relative;
}

#u981
{
	z-index: 59;
	width: 346px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u984
{
	position: absolute;
	width: 344px;
	height: 105px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u984:hover
{
	border-color: #999999;
	width: 344px;
	height: 105px;
	min-height: 0px;
	margin: 0px;
}

#u970
{
	position: absolute;
	width: 1242px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -372px;
	left: 485px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u970popup
{
	z-index: 61;
}

#u975
{
	z-index: 62;
	width: 1198px;
	height: 348px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u990
{
	z-index: 63;
	width: 1197px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 1px;
}

#u991-4
{
	z-index: 66;
	display: block;
	vertical-align: top;
	position: relative;
}

#u992
{
	z-index: 64;
	width: 1197px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u977
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -348px;
	left: 1663px;
}

#u977:hover
{
	background-color: #999999;
	margin: 0px;
}

#u978-4
{
	z-index: 71;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u940-4
{
	z-index: 22;
	display: block;
	vertical-align: top;
	left: -45px;
	top: -463px;
	margin-bottom: -36px;
	position: relative;
}

#ppu943-19
{
	width: 0.01px;
	margin-left: -45px;
	margin-top: -389px;
}

#pu943-19
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u943-19
{
	z-index: 35;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	position: relative;
}

#u944
{
	z-index: 54;
	width: 553px;
	background-color: transparent;
	position: relative;
}

#u949
{
	z-index: 56;
	width: 345px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	left: 716px;
}

#pu997-4
{
	width: 0.01px;
	padding-bottom: 91px;
	margin-left: -64px;
	margin-top: 240px;
}

#u997-4
{
	z-index: 75;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1003-4
{
	z-index: 81;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 403px;
}

#pamphletu1021
{
	z-index: 85;
	width: 0.01px;
	height: 321px;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 4px;
}

#u1041
{
	z-index: 86;
	width: 755px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1044
{
	position: absolute;
	width: 355px;
	height: 319px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	top: 1px;
}

#u1044:hover
{
	border-color: #999999;
	width: 355px;
	height: 319px;
	min-height: 0px;
	margin: 0px;
}

#u1073
{
	position: absolute;
	width: 361px;
	height: 320px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 392px;
}

#u1030
{
	position: absolute;
	width: 1215px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -99px;
	left: 1221px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u1030popup
{
	z-index: 89;
}

#u1035
{
	z-index: 90;
	width: 1171px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1068
{
	z-index: 107;
	width: 315px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 58px;
}

#u1067-16
{
	z-index: 91;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	left: 336px;
}

#u1074
{
	z-index: 109;
	width: 1171px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1080
{
	z-index: 128;
	width: 293px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 6px;
}

#u1079-18
{
	z-index: 110;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 330px;
}

#u1037
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -76px;
	left: 2380px;
}

#u1037:hover
{
	background-color: #999999;
	margin: 0px;
}

#u1038-4
{
	z-index: 131;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#pu998
{
	width: 0.01px;
	padding-bottom: 788px;
	margin-left: -64px;
	margin-top: -412px;
}

#u998
{
	z-index: 79;
	width: 1143px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pamphletu1050
{
	z-index: 135;
	width: 0.01px;
	height: 321px;
	position: relative;
	margin-right: -10000px;
	left: 781px;
}

#u1056
{
	z-index: 136;
	width: 363px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1057
{
	position: absolute;
	width: 361px;
	height: 320px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1073:hover,#u1057:hover
{
	border-color: #999999;
	width: 361px;
	height: 320px;
	min-height: 0px;
	margin: 0px;
}

#u1058
{
	position: absolute;
	width: 1243px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: 431px;
	left: 441px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u1058popup
{
	z-index: 138;
}

#u1059
{
	z-index: 139;
	width: 1199px;
	height: 633px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1092
{
	z-index: 184;
	width: 293px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
}

#u1091-44
{
	z-index: 140;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 324px;
}

#u1060
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: 454px;
	left: 1625px;
}

#u1060:hover
{
	background-color: #999999;
	margin: 0px;
}

#u1061-4
{
	z-index: 187;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#pu1097-7
{
	width: 0.01px;
	margin-left: -1032px;
	margin-top: -588px;
}

#u1097-7
{
	z-index: 191;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1018px;
}

#u1103-4
{
	z-index: 200;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	left: 1359px;
}

#pamphletu1140
{
	z-index: 242;
	width: 0.01px;
	height: 295px;
	position: relative;
	margin-right: -10000px;
	margin-top: 223px;
	left: 1018px;
}

#u1141
{
	z-index: 243;
	width: 1066px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1142
{
	position: absolute;
	width: 1064px;
	height: 66px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1170
{
	position: absolute;
	width: 1064px;
	height: 66px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	top: 228px;
}

#u1142:hover,#u1170:hover
{
	border-color: #999999;
	width: 1064px;
	height: 66px;
	min-height: 0px;
	margin: 0px;
}

#u1145
{
	position: absolute;
	width: 932px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -122px;
	left: -1018px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u1145popup
{
	z-index: 246;
}

#u1146
{
	z-index: 247;
	width: 888px;
	height: 276px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1172-17
{
	z-index: 248;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 25px;
}

#u1171
{
	z-index: 265;
	width: 888px;
	height: 276px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1173-15
{
	z-index: 266;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 25px;
}

#u1147
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -100px;
	left: -141px;
}

#u1147:hover
{
	background-color: #999999;
	margin: 0px;
}

#u1148-4
{
	z-index: 282;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#pamphletu1111
{
	z-index: 204;
	width: 0.01px;
	height: 541px;
	left: -14px;
	top: -445px;
	margin-bottom: -445px;
	position: relative;
}

#u1131
{
	z-index: 205;
	width: 1066px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1134
{
	position: absolute;
	width: 1064px;
	height: 74px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1157
{
	position: absolute;
	width: 1064px;
	height: 74px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	top: 152px;
}

#u1134:hover,#u1157:hover
{
	border-color: #999999;
	width: 1064px;
	height: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1159
{
	position: absolute;
	width: 1064px;
	height: 71px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	top: 236px;
}

#u1161
{
	position: absolute;
	width: 1064px;
	height: 71px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	top: 384px;
}

#u1163
{
	position: absolute;
	width: 1064px;
	height: 71px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	top: 469px;
}

#u1159:hover,#u1161:hover,#u1163:hover
{
	border-color: #999999;
	width: 1064px;
	height: 71px;
	min-height: 0px;
	margin: 0px;
}

#u1120
{
	position: absolute;
	width: 913px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: 294px;
	left: -995px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u1120popup
{
	z-index: 211;
}

#u1125
{
	z-index: 212;
	width: 869px;
	height: 153px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1165-4
{
	z-index: 213;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 15px;
}

#u1158
{
	z-index: 217;
	width: 869px;
	height: 153px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1166-4
{
	z-index: 218;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 16px;
}

#u1160
{
	z-index: 222;
	width: 869px;
	height: 153px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1167-4
{
	z-index: 223;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 16px;
}

#u1162
{
	z-index: 227;
	width: 869px;
	height: 153px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1168-4
{
	z-index: 228;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 16px;
}

#u1164
{
	z-index: 232;
	width: 869px;
	height: 153px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1169-4
{
	z-index: 233;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
	left: 15px;
}

#u1127
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: 314px;
	left: -134px;
}

#u1127:hover
{
	background-color: #999999;
	margin: 0px;
}

#u1128-4
{
	z-index: 238;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#pu1098
{
	width: 0.01px;
	padding-bottom: 105px;
	margin-left: -14px;
	margin-top: -541px;
}

#u1098
{
	z-index: 198;
	width: 1065px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pamphletu1189
{
	z-index: 319;
	width: 0.01px;
	height: 67px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1071px;
	left: 89px;
}

#u1209
{
	z-index: 320;
	width: 316px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1212
{
	position: absolute;
	width: 314px;
	height: 66px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1212:hover
{
	border-color: #999999;
	width: 314px;
	height: 66px;
	min-height: 0px;
	margin: 0px;
}

#u1198
{
	position: absolute;
	width: 958px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -506px;
	left: 1175px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u1198popup
{
	z-index: 322;
}

#u1203
{
	z-index: 323;
	width: 914px;
	height: 634px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1218-14
{
	z-index: 324;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 24px;
}

#u1205
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -483px;
	left: 2075px;
}

#u1205:hover
{
	background-color: #999999;
	margin: 0px;
}

#u977:active,#u1037:active,#u1060:active,#u1147:active,#u1127:active,#u1205:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u1206-4
{
	z-index: 339;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u1176-4
{
	z-index: 304;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	top: -530px;
	margin-bottom: -36px;
	position: relative;
}

#u1175-6
{
	z-index: 298;
	display: block;
	vertical-align: top;
	top: -476px;
	margin-bottom: -87px;
	position: relative;
}

#pu1174-12
{
	width: 0.01px;
	margin-top: -363px;
}

#u1174-12
{
	z-index: 286;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1182-4
{
	z-index: 313;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
	left: 110px;
}

#pu1180
{
	width: 0.01px;
	margin-left: 78px;
	margin-top: -178px;
}

#u1180
{
	z-index: 308;
	width: 312px;
	border-color: #000000;
	background-color: #B63B6A;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u1181-4
{
	z-index: 309;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#u1183
{
	z-index: 317;
	width: 352px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 502px;
}

#u941-6
{
	z-index: 26;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -57px;
	margin-top: 45px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u941-4
{
	padding-left: 30px;
}

#u941-2
{
	color: #B63B6A;
}

#u942
{
	z-index: 33;
	left: -57px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u942_states.png") no-repeat 0px 0px;
}

#u942_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u942:hover #u942_states
{
	background: url("../images/u942_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

