.version.tema1 /* version checker */
{
	color: #0000F4;
	background-color: #E1CADE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.7999999999993px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 5px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1530
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1587
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 130px;
}

#u568-4
{
	z-index: 5;
	width: 576px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 520px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u1528
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1534
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1534_img
{
	margin-right: -1px;
}

#u176
{
	z-index: 17;
	border-color: #000000;
	background-color: #940157;
	padding-bottom: 209px;
}

#u176_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
}

#u178-4
{
	z-index: 18;
	width: 454px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 141px;
}

#u1457
{
	z-index: 95;
	width: 412px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 766px;
}

#u176-bw
{
	z-index: 17;
	margin-top: 8px;
	height: 290px;
}

#u688-20
{
	z-index: 24;
	display: block;
	vertical-align: top;
	left: -46px;
	margin-top: 63px;
	position: relative;
}

#pu683
{
	width: 0.01px;
	margin-left: -45px;
	margin-top: 28px;
}

#u683
{
	z-index: 22;
	width: 238px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u694
{
	z-index: 44;
	width: 286px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 284px;
}

#u699-4
{
	z-index: 46;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 623px;
}

#pamphletu720
{
	z-index: 74;
	width: 0.01px;
	height: 45px;
	margin-left: 365px;
	margin-top: 558px;
	position: relative;
}

#u728
{
	z-index: 75;
	width: 661px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u731
{
	position: absolute;
	width: 659px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u731:hover
{
	border-color: #999999;
	width: 659px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
}

#u721
{
	position: absolute;
	width: 665px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -412px;
	left: 877px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u721popup
{
	z-index: 77;
}

#u726
{
	z-index: 78;
	width: 621px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1575
{
	z-index: 79;
	width: 559px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 31px;
}

#u740
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -389px;
	left: 1490px;
}

#u740:hover
{
	background-color: #999999;
	margin: 0px;
}

#u740:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u741-4
{
	z-index: 82;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu705
{
	width: 0.01px;
	margin-left: -20px;
	margin-top: -390px;
}

#u705
{
	z-index: 50;
	width: 366px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu710-12
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 22px;
	margin-left: 393px;
}

#u710-12
{
	z-index: 52;
	display: block;
	vertical-align: top;
	position: relative;
}

#u714-4
{
	z-index: 70;
	display: block;
	vertical-align: top;
	margin-left: 92px;
	margin-top: 87px;
	position: relative;
}

#u711
{
	z-index: 64;
	width: 642px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 29px;
	position: relative;
}

#u712
{
	z-index: 65;
	width: 642px;
	border-style: none;
	border-color: transparent;
	background-color: #B63B6A;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u713-4
{
	z-index: 66;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 15px;
}

#u754-6
{
	z-index: 86;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -20px;
	margin-top: 154px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u754-4
{
	padding-left: 30px;
}

#u754-2
{
	color: #B63B6A;
}

#u755
{
	z-index: 93;
	left: -20px;
	margin-top: 8px;
	position: relative;
	background: url("../images/u755_states.png") no-repeat 0px 0px;
}

#u755_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u755:hover #u755_states
{
	background: url("../images/u755_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

