.version.evaluacion /* version checker */
{
	color: #000017;
	background-color: #CEA602;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 128px;
}

#pu516
{
	width: 0.01px;
	margin-left: -100px;
}

#u516
{
	z-index: 2;
	padding-bottom: 6px;
}

#u516_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1786
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1813
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 136px;
}

#u523-4
{
	z-index: 5;
	width: 559px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 537px;
}

#u521
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u516-bw
{
	z-index: 2;
	height: 84px;
}

#u1784
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1790
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1790_img
{
	margin-right: -1px;
}

#u1754-4
{
	z-index: 26;
	display: block;
	vertical-align: top;
	margin-left: 4px;
	margin-top: 42px;
	position: relative;
}

#u1755
{
	z-index: 30;
	width: 352px;
	background-color: transparent;
	margin-left: 332px;
	margin-top: 89px;
	position: relative;
}

#u1752-6
{
	z-index: 17;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-top: 88px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u1752-4
{
	padding-left: 30px;
}

#u1752-2
{
	color: #B63B6A;
}

#u1753
{
	z-index: 24;
	left: -46px;
	margin-top: 13px;
	position: relative;
	background: url("../images/u1753_states.png") no-repeat 0px 0px;
}

#u1753_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u1753:hover #u1753_states
{
	background: url("../images/u1753_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

