.version.tema2 /* version checker */
{
	color: #000009;
	background-color: #A48C26;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.8378980891712px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -958px;
}

#pu516
{
	width: 0.01px;
	margin-left: -100px;
}

#u516
{
	z-index: 2;
	padding-bottom: 6px;
}

#u516_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1786
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1813
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 136px;
}

#u523-4
{
	z-index: 5;
	width: 559px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 537px;
}

#u521
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u516-bw
{
	z-index: 2;
	height: 84px;
}

#u1784
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1790
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1790_img
{
	margin-right: -1px;
}

#u504
{
	z-index: 17;
	border-color: #000000;
	background-color: #F6772C;
	padding-bottom: 123px;
}

#u504_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
}

#u505-4
{
	z-index: 18;
	width: 608px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 120px;
}

#u1606
{
	z-index: 270;
	width: 412px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 766px;
}

#u504-bw
{
	z-index: 17;
	margin-top: 8px;
	height: 376px;
}

#pu1049-30
{
	width: 0.01px;
	margin-left: -71px;
	margin-top: 39px;
}

#u1049-30
{
	z-index: 22;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u1053
{
	z-index: 73;
	width: 19px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 211px;
	left: 22px;
}

#u1056
{
	z-index: 75;
	width: 19px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 242px;
	left: 22px;
}

#u1062
{
	z-index: 77;
	width: 19px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 270px;
	left: 22px;
}

#u1068
{
	z-index: 79;
	width: 19px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 299px;
	left: 22px;
}

#u1071
{
	z-index: 81;
	width: 19px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 329px;
	left: 22px;
}

#pu1050-7
{
	width: 0.01px;
	margin-left: -49px;
	margin-top: 13px;
}

#u1050-7
{
	z-index: 52;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1051-7
{
	z-index: 59;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 408px;
}

#u1052-7
{
	z-index: 66;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 865px;
}

#pamphletu1085
{
	z-index: 114;
	width: 0.01px;
	height: 73px;
	left: -60px;
	margin-top: 409px;
	position: relative;
}

#u1102
{
	z-index: 115;
	width: 943px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1105
{
	position: absolute;
	width: 171px;
	height: 72px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1118
{
	position: absolute;
	width: 171px;
	height: 72px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 194px;
}

#u1120
{
	position: absolute;
	width: 171px;
	height: 72px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 388px;
}

#u1124
{
	position: absolute;
	width: 171px;
	height: 72px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 770px;
}

#u1105:hover,#u1118:hover,#u1120:hover,#u1124:hover
{
	border-color: #999999;
	width: 171px;
	height: 72px;
	min-height: 0px;
	margin: 0px;
}

#u1095
{
	position: absolute;
	width: 1302px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -360px;
	left: 1211px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u1095popup
{
	z-index: 120;
}

#u1096
{
	z-index: 121;
	width: 1216px;
	height: 573px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-left: 21px;
	padding-right: 21px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1135-13
{
	z-index: 122;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1136
{
	z-index: 135;
	width: 1216px;
	background-color: transparent;
	position: relative;
}

#u1138-4
{
	z-index: 137;
	display: block;
	vertical-align: top;
	margin-top: 12px;
	position: relative;
}

#u1119
{
	z-index: 141;
	width: 1258px;
	height: 573px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1143-15
{
	z-index: 142;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 158px;
	left: 21px;
}

#u1121
{
	z-index: 157;
	width: 1258px;
	height: 573px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1145-20
{
	z-index: 158;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 19px;
}

#u1125
{
	z-index: 178;
	width: 1228px;
	height: 313px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 130px 15px;
}

#u1152-8
{
	z-index: 179;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1153
{
	z-index: 187;
	width: 1228px;
	background-color: transparent;
	position: relative;
}

#u1093
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -338px;
	left: 2453px;
}

#u1093:hover
{
	background-color: #999999;
	margin: 0px;
}

#u1094-4
{
	z-index: 190;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu1074-11
{
	width: 0.01px;
	margin-left: -1515px;
	margin-top: -410px;
}

#u1074-11
{
	z-index: 83;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 1444px;
}

#pamphletu1212
{
	z-index: 243;
	width: 0.01px;
	height: 73px;
	position: relative;
	margin-right: -10000px;
	margin-top: 337px;
	left: 2419px;
}

#u1229
{
	z-index: 244;
	width: 164px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1232
{
	position: absolute;
	width: 162px;
	height: 72px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1232:hover
{
	border-color: #999999;
	width: 162px;
	height: 72px;
	min-height: 0px;
	margin: 0px;
}

#u1222
{
	position: absolute;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -256px;
	left: -2419px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u1222popup
{
	z-index: 246;
}

#u1223
{
	z-index: 247;
	width: 884px;
	height: 181px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1241
{
	z-index: 248;
	width: 822px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 32px;
}

#u1245-7
{
	z-index: 249;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u1220
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -233px;
	left: -1545px;
}

#u1220:hover
{
	background-color: #999999;
	margin: 0px;
}

#u1221-4
{
	z-index: 257;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u1075-4
{
	z-index: 94;
	display: block;
	vertical-align: top;
	margin-left: 412px;
	top: -104px;
	margin-bottom: -19px;
	position: relative;
}

#pu1078
{
	width: 0.01px;
	padding-bottom: 1381px;
	margin-left: -71px;
	margin-top: -73px;
}

#u1078
{
	z-index: 102;
	width: 1158px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pamphletu1158
{
	z-index: 194;
	width: 0.01px;
	height: 73px;
	position: relative;
	margin-right: -10000px;
	left: 588px;
}

#u1175
{
	z-index: 195;
	width: 162px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1178
{
	position: absolute;
	width: 160px;
	height: 72px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1178:hover
{
	border-color: #999999;
	width: 160px;
	height: 72px;
	min-height: 0px;
	margin: 0px;
}

#u1168
{
	position: absolute;
	width: 1254px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: 264px;
	left: 631px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u1168popup
{
	z-index: 197;
}

#u1169
{
	z-index: 198;
	width: 1210px;
	height: 1145px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1194-18
{
	z-index: 199;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1195
{
	z-index: 217;
	width: 1210px;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#u1197-19
{
	z-index: 219;
	display: block;
	vertical-align: top;
	margin-top: 20px;
	position: relative;
}

#u1166
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: 287px;
	left: 1831px;
}

#u1166:hover
{
	background-color: #999999;
	margin: 0px;
}

#u1167-4
{
	z-index: 239;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u1077-4
{
	z-index: 98;
	display: block;
	vertical-align: top;
	margin-left: 412px;
	top: -1300px;
	margin-bottom: -19px;
	position: relative;
}

#pamphletu1659
{
	z-index: 272;
	width: 0.01px;
	height: 91px;
	margin-left: 91px;
	top: -1268px;
	margin-bottom: -91px;
	position: relative;
}

#u1679
{
	z-index: 273;
	width: 402px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1682
{
	position: absolute;
	width: 400px;
	height: 90px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1682:hover
{
	border-color: #999999;
	width: 400px;
	height: 90px;
	min-height: 0px;
	margin: 0px;
}

#u1672
{
	position: absolute;
	width: 1376px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: 54px;
	left: -1606px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u1672popup
{
	z-index: 275;
}

#u1675
{
	z-index: 276;
	width: 1332px;
	height: 1483px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1688
{
	z-index: 277;
	width: 1276px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 28px;
}

#u1692-13
{
	z-index: 324;
	display: block;
	vertical-align: top;
	left: -1px;
	position: relative;
}

#u1693-4
{
	z-index: 288;
	display: block;
	vertical-align: top;
	margin-top: 32px;
	position: relative;
}

#pu1694-8
{
	width: 0.01px;
}

#u1694-8
{
	z-index: 278;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u1690
{
	z-index: 286;
	width: 485px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 711px;
}

#u1689-32
{
	z-index: 292;
	display: block;
	vertical-align: top;
	margin-top: 69px;
	position: relative;
}

#u1670
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: 77px;
	left: -281px;
}

#u1670:hover
{
	background-color: #999999;
	margin: 0px;
}

#u1671-4
{
	z-index: 338;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#pu1083
{
	width: 0.01px;
	margin-left: 91px;
	margin-top: -1258px;
}

#u1083
{
	z-index: 104;
	width: 401px;
	border-color: #000000;
	background-color: #B63B6A;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
}

#u1084-4
{
	z-index: 106;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u1647
{
	z-index: 105;
	width: 393px;
	border-color: #000000;
	background-color: #B63B6A;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	left: 421px;
}

#u1646-4
{
	z-index: 110;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
}

#u1252-6
{
	z-index: 261;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -60px;
	top: -1122px;
	margin-bottom: -22px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u1252-4
{
	padding-left: 30px;
}

#u1252-2
{
	color: #B63B6A;
}

#u1253
{
	z-index: 268;
	left: -60px;
	top: -1069px;
	position: relative;
	background: url("../images/u1253_states.png") no-repeat 0px 0px;
}

#u1253_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u1253:hover #u1253_states
{
	margin-bottom: -49px;
	background: url("../images/u1253_states-r.png") no-repeat 0px 0px;
}

#pamphletu1698
{
	z-index: 342;
	width: 0.01px;
	height: 73px;
	margin-left: 512px;
	top: -1258px;
	margin-bottom: -73px;
	position: relative;
}

#u1718
{
	z-index: 343;
	width: 394px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1721
{
	position: absolute;
	width: 392px;
	height: 72px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1721:hover
{
	border-color: #999999;
	width: 392px;
	height: 72px;
	min-height: 0px;
	margin: 0px;
}

#u1711
{
	position: absolute;
	width: 1342px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -243px;
	left: -3397px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u1711popup
{
	z-index: 345;
}

#u1714
{
	z-index: 346;
	width: 1298px;
	height: 612px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1727-40
{
	z-index: 347;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 21px;
}

#u1709
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -221px;
	left: -2109px;
}

#u1709:hover
{
	background-color: #999999;
	margin: 0px;
}

#u1093:active,#u1220:active,#u1166:active,#u1670:active,#u1709:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u1710-4
{
	z-index: 388;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

