.version.tema3 /* version checker */
{
	color: #00000B;
	background-color: #81CF4F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 4px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1530
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1587
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 130px;
}

#u568-4
{
	z-index: 5;
	width: 576px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 520px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u1528
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1534
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1534_img
{
	margin-right: -1px;
}

#u501
{
	z-index: 17;
	border-color: #000000;
	background-color: #FFBB42;
	padding-bottom: 213px;
}

#u501_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
}

#u502-4
{
	z-index: 18;
	width: 503px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 214px;
	left: 120px;
}

#u1468
{
	z-index: 143;
	width: 412px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 766px;
}

#u501-bw
{
	z-index: 17;
	margin-top: 8px;
	height: 286px;
}

#pu830
{
	width: 0.01px;
	margin-left: -80px;
	margin-top: 156px;
}

#u830
{
	z-index: 22;
	width: 264px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u843
{
	z-index: 24;
	width: 894px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 81px;
	left: 264px;
}

#u878-14
{
	z-index: 26;
	display: block;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 56px;
	position: relative;
}

#u905-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	left: -54px;
	margin-top: 246px;
	position: relative;
}

#u1452
{
	z-index: 145;
	width: 1145px;
	background-color: transparent;
	left: -68px;
	margin-top: 34px;
	position: relative;
}

#pamphletu949
{
	z-index: 50;
	width: 0.01px;
	height: 109px;
	margin-left: 278px;
	margin-top: 403px;
	position: relative;
}

#u957
{
	z-index: 51;
	width: 800px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u960
{
	position: absolute;
	width: 798px;
	height: 108px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u960:hover
{
	border-color: #999999;
	width: 798px;
	height: 108px;
	min-height: 0px;
	margin: 0px;
}

#u950
{
	position: absolute;
	width: 728px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -206px;
	left: 894px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u950popup
{
	z-index: 53;
}

#u955
{
	z-index: 54;
	width: 624px;
	height: 311px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 46px 40px 10px 20px;
}

#u978-6
{
	z-index: 55;
	display: block;
	vertical-align: top;
	position: relative;
}

#u979-17
{
	z-index: 61;
	display: block;
	vertical-align: top;
	margin-left: 24px;
	margin-top: 34px;
	position: relative;
}

#u969
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -183px;
	left: 1567px;
}

#u969:hover
{
	background-color: #999999;
	margin: 0px;
}

#u969:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u970-4
{
	z-index: 79;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu919
{
	width: 0.01px;
	margin-left: -61px;
	margin-top: -165px;
}

#u919
{
	z-index: 44;
	width: 1138px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u946-4
{
	z-index: 46;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 569px;
}

#u980-11
{
	z-index: 83;
	display: block;
	vertical-align: top;
	left: -37px;
	margin-top: 390px;
	position: relative;
}

#pu994
{
	width: 0.01px;
	margin-left: -37px;
	margin-top: 25px;
}

#u994
{
	z-index: 94;
	width: 273px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1028
{
	z-index: 105;
	width: 806px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 292px;
}

#u1007-9
{
	z-index: 96;
	display: block;
	vertical-align: top;
	left: -45px;
	margin-top: 26px;
	position: relative;
}

#pu1057
{
	width: 0.01px;
	margin-left: -84px;
	margin-top: 298px;
}

#u1057
{
	z-index: 107;
	width: 352px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1071-4
{
	z-index: 109;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 339px;
}

#u1072-11
{
	z-index: 113;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 365px;
}

#u1077-10
{
	z-index: 124;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 198px;
	left: 373px;
}

#u1078-6
{
	z-index: 134;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -45px;
	margin-top: 125px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u1078-4
{
	padding-left: 30px;
}

#u1078-2
{
	color: #B63B6A;
}

#u1079
{
	z-index: 141;
	left: -45px;
	margin-top: 9px;
	position: relative;
	background: url("../images/u1079_states.png") no-repeat 0px 0px;
}

#u1079_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u1079:hover #u1079_states
{
	background: url("../images/u1079_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

