.version.tema4 /* version checker */
{
	color: #000002;
	background-color: #3AFF94;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 4px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1530
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1587
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 130px;
}

#u568-4
{
	z-index: 5;
	width: 576px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 520px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u1528
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1534
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1534_img
{
	margin-right: -1px;
}

#u598
{
	z-index: 17;
	border-color: #000000;
	background-color: #F6772C;
}

#u598_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
	padding-top: 41px;
	padding-bottom: 195px;
}

#u1472
{
	z-index: 183;
	width: 412px;
	background-color: transparent;
	left: 766px;
	position: relative;
}

#u600-4
{
	z-index: 18;
	width: 687px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	left: 120px;
	margin-top: 59px;
	position: relative;
}

#u598-bw
{
	z-index: 17;
	margin-top: 8px;
	height: 499px;
}

#pamphletu1127
{
	z-index: 38;
	width: 0.01px;
	height: 100px;
	margin-left: 363px;
	margin-top: 471px;
	position: relative;
}

#u1135
{
	z-index: 39;
	width: 584px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1138
{
	position: absolute;
	width: 582px;
	height: 99px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1138:hover
{
	border-color: #999999;
	width: 582px;
	height: 99px;
	min-height: 0px;
	margin: 0px;
}

#u1128
{
	position: absolute;
	width: 892px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -380px;
	left: 737px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u1128popup
{
	z-index: 41;
}

#u1133
{
	z-index: 42;
	width: 848px;
	height: 268px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1157
{
	z-index: 54;
	width: 254px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 17px;
}

#u1156-11
{
	z-index: 43;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: 294px;
}

#u1147
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -352px;
	left: 1576px;
}

#u1147:hover
{
	background-color: #999999;
	margin: 0px;
}

#u1147:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u1148-4
{
	z-index: 57;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1086-10
{
	z-index: 22;
	display: block;
	vertical-align: top;
	left: -29px;
	top: -458px;
	margin-bottom: -58px;
	position: relative;
}

#pu1087
{
	width: 0.01px;
	margin-left: 63px;
	margin-top: -325px;
}

#u1087
{
	z-index: 32;
	width: 883px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1100-4
{
	z-index: 34;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
	left: 400px;
}

#pu1162
{
	width: 0.01px;
	margin-left: -44px;
	margin-top: 200px;
}

#u1162
{
	z-index: 61;
	width: 422px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1175-26
{
	z-index: 63;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 422px;
}

#u1176-4
{
	z-index: 89;
	display: block;
	vertical-align: top;
	left: -45px;
	margin-top: 233px;
	position: relative;
}

#u1186
{
	z-index: 93;
	width: 1136px;
	background-color: transparent;
	left: -60px;
	margin-top: 54px;
	position: relative;
}

#pu1220-22
{
	width: 0.01px;
	margin-left: -28px;
	margin-top: 252px;
}

#u1220-22
{
	z-index: 97;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: -1px;
}

#u1207
{
	z-index: 95;
	width: 415px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 669px;
}

#u1238-13
{
	z-index: 121;
	display: block;
	vertical-align: top;
	left: -45px;
	margin-top: 232px;
	position: relative;
}

#pu1225
{
	width: 0.01px;
	margin-left: -44px;
}

#u1225
{
	z-index: 119;
	width: 458px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1244-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 13px;
	margin-left: 498px;
}

#u1244-4
{
	z-index: 148;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1243-14
{
	z-index: 134;
	display: block;
	vertical-align: top;
	margin-top: 33px;
	position: relative;
}

#pu1245
{
	width: 0.01px;
	margin-left: -44px;
	margin-top: 144px;
}

#u1245
{
	z-index: 152;
	width: 451px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1258-20
{
	z-index: 154;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 487px;
}

#u1263-6
{
	z-index: 174;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -44px;
	margin-top: 127px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u1263-4
{
	padding-left: 30px;
}

#u1263-2
{
	color: #B63B6A;
}

#u1264
{
	z-index: 181;
	left: -44px;
	margin-top: 9px;
	position: relative;
	background: url("../images/u1264_states.png") no-repeat 0px 0px;
}

#u1264_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u1264:hover #u1264_states
{
	background: url("../images/u1264_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

