.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.7124999999987px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 62px;
}

#pu516
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u516
{
	z-index: 2;
	width: 1216px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u516_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}


#pu523-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 736px;
}

#u523-4
{
	z-index: 5;
	width: 328px;
	margin-left: 32px;
}

#u524-4
{
	z-index: 9;
	width: 360px;
	margin-top: 6px;
}

#u521
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u1321
{
	z-index: 15;
	width: 500px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 25px;
}

#pu765
{
	width: 0.01px;
	left: -92px;
	margin-top: 89px;
	position: relative;
}

#u765
{
	z-index: 111;
	width: 465px;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
}

#u639-28
{
	z-index: 17;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 475px;
}

#pu640
{
	width: 0.01px;
	left: -78px;
	margin-top: 196px;
	position: relative;
}

#u640
{
	z-index: 45;
	width: 530px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
}

#u642
{
	z-index: 47;
	width: 542px;
	position: relative;
	margin-right: -10000px;
	left: 572px;
}

#u644
{
	z-index: 49;
	width: 700px;
	border-style: none;
	border-color: transparent;
	background-color: #E6E6E6;
	position: relative;
	margin-right: -10000px;
	margin-top: 235px;
	left: 493px;
}

#u646-14
{
	z-index: 54;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 20px;
}

#u645-4
{
	z-index: 50;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 180px;
	left: 503px;
}

#u660-4
{
	z-index: 72;
	display: block;
	vertical-align: top;
	margin-left: 44px;
	margin-top: 290px;
	position: relative;
}

#u661-4
{
	z-index: 76;
	display: block;
	vertical-align: top;
	margin-left: 44px;
	position: relative;
}

#u666-6
{
	z-index: 96;
	display: block;
	vertical-align: top;
	margin-left: 44px;
	margin-top: 30px;
	position: relative;
}

#u656
{
	z-index: 68;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	padding-bottom: 7px;
	margin-left: 44px;
	margin-top: 32px;
	position: relative;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u662-4
{
	z-index: 80;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 13px;
}

#u658
{
	z-index: 70;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #F7E1E9;
	background-color: rgba(217, 105, 148, 0.2);
	padding-bottom: 4px;
	margin-left: 44px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
	-pie-background: rgba(217, 105, 148, 0.2);
}

#u664-4
{
	z-index: 88;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 13px;
}

#u657
{
	z-index: 69;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	padding-bottom: 2px;
	margin-left: 44px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u663-4
{
	z-index: 84;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 13px;
}

#u659
{
	z-index: 71;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #F7E1E9;
	background-color: rgba(217, 105, 148, 0.2);
	padding-bottom: 2px;
	margin-left: 44px;
	margin-top: 2px;
	position: relative;
	-pie-background: rgba(217, 105, 148, 0.2);
}

#u665-4
{
	z-index: 92;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 13px;
}

#u667-6
{
	z-index: 102;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-left: 44px;
	margin-top: 108px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u667-4
{
	padding-left: 30px;
}

#u667-2
{
	color: #B63B6A;
}

#u668
{
	z-index: 109;
	background: url("../images/u668_states.png") no-repeat 0px 0px;
	margin-left: 44px;
	margin-top: 23px;
	position: relative;
}

#u668_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u668:hover #u668_states
{
	background: url("../images/u668_states-r.png") no-repeat 0px 0px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

