.version.tema3 /* version checker */
{
	color: #00001E;
	background-color: #A314B1;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.867306536612px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u996
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1091
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 130px;
}

#u994
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u568-4
{
	z-index: 5;
	width: 388px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 708px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u1000
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1000_img
{
	margin-right: -1px;
}

#u501
{
	z-index: 17;
	border-color: #000000;
	background-color: #FFBB42;
}

#u501_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
	padding-top: 41px;
	padding-bottom: 213px;
}

#u941
{
	z-index: 81;
	width: 412px;
	background-color: transparent;
	left: 766px;
	position: relative;
}

#u502-4
{
	z-index: 18;
	width: 796px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	left: 120px;
	margin-top: 113px;
	position: relative;
}

#u501-bw
{
	z-index: 17;
	margin-top: 8px;
	height: 499px;
}

#u791-4
{
	z-index: 22;
	display: block;
	vertical-align: top;
	left: -51px;
	margin-top: 58px;
	position: relative;
}

#pu792-12
{
	width: 0.01px;
	margin-left: -51px;
	margin-top: 11px;
}

#u792-12
{
	z-index: 26;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u793-4
{
	z-index: 38;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 237px;
	left: 167px;
}

#u794
{
	z-index: 42;
	width: 485px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 305px;
	left: 89px;
}

#u795
{
	z-index: 43;
	width: 485px;
	border-color: #000000;
	background-color: #B63B6A;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u796-4
{
	z-index: 44;
	position: relative;
	width: 425px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 30px;
}

#u796-4_img
{
	display: block;
	vertical-align: top;
}

#u909
{
	z-index: 79;
	width: 274px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 692px;
}

#pamphletu1044
{
	z-index: 85;
	width: 0.01px;
	height: 64px;
	margin-left: 364px;
	margin-top: 591px;
	position: relative;
}

#u1052
{
	z-index: 86;
	width: 278px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1055
{
	position: absolute;
	width: 276px;
	height: 63px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1055:hover
{
	border-color: #999999;
	width: 276px;
	height: 63px;
	min-height: 0px;
	margin: 0px;
}

#u1056
{
	position: absolute;
	width: 590px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -418px;
	left: 1028px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u1056popup
{
	z-index: 88;
}

#u1059
{
	z-index: 89;
	width: 546px;
	height: 215px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1043-4
{
	z-index: 90;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 19px;
}

#u1045
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -395px;
	left: 1565px;
}

#u1045:hover
{
	background-color: #999999;
	margin: 0px;
}

#u1045:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u1046-4
{
	z-index: 95;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u799-4
{
	z-index: 64;
	display: block;
	vertical-align: top;
	margin-left: 50px;
	top: -457px;
	margin-bottom: -36px;
	position: relative;
}

#u798-6
{
	z-index: 58;
	display: block;
	vertical-align: top;
	margin-left: 49px;
	top: -391px;
	margin-bottom: -64px;
	position: relative;
}

#u797-10
{
	z-index: 48;
	display: block;
	vertical-align: top;
	margin-left: 49px;
	top: -323px;
	margin-bottom: -116px;
	position: relative;
}

#u800
{
	z-index: 68;
	width: 352px;
	background-color: transparent;
	margin-left: 327px;
	top: -175px;
	margin-bottom: -79px;
	position: relative;
}

#u1038
{
	z-index: 83;
	width: 277px;
	background-color: transparent;
	margin-left: 364px;
	top: -64px;
	margin-bottom: -64px;
	position: relative;
}

#u802-6
{
	z-index: 70;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-left: 38px;
	margin-top: 78px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u802-4
{
	padding-left: 30px;
}

#u802-2
{
	color: #B63B6A;
}

#u803
{
	z-index: 77;
	margin-left: 38px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u803_states.png") no-repeat 0px 0px;
}

#u803_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u803:hover #u803_states
{
	background: url("../images/u803_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

