.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u561
{
	z-index: 2;
	width: 1216px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}


#u568-4
{
	z-index: 5;
	width: 425px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 671px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u1308
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 25px;
}

#pu597-19
{
	width: 0.01px;
	left: -80px;
	margin-top: 210px;
	position: relative;
}

#u597-19
{
	z-index: 80;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 418px;
}

#u598
{
	z-index: 99;
	width: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
	left: 418px;
}

#u603
{
	z-index: 101;
	width: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: 418px;
}

#u609
{
	z-index: 103;
	width: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 418px;
}

#u957
{
	z-index: 105;
	width: 409px;
	position: relative;
	margin-right: -10000px;
}

#pu615
{
	width: 0.01px;
	left: -80px;
	margin-top: 366px;
	position: relative;
}

#u615
{
	z-index: 13;
	width: 530px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u617
{
	z-index: 15;
	width: 542px;
	position: relative;
	margin-right: -10000px;
	left: 575px;
}

#u619
{
	z-index: 17;
	width: 741px;
	border-style: none;
	border-color: transparent;
	background-color: #E6E6E6;
	padding-bottom: 16px;
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
	left: 456px;
}

#u621-18
{
	z-index: 22;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 30px;
}

#u620-4
{
	z-index: 18;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	left: 506px;
}

#u634-4
{
	z-index: 43;
	display: block;
	vertical-align: top;
	margin-left: 80px;
	margin-top: 173px;
	position: relative;
}

#u635-4
{
	z-index: 47;
	display: block;
	vertical-align: top;
	margin-left: 80px;
	position: relative;
}

#u639-6
{
	z-index: 65;
	display: block;
	vertical-align: top;
	margin-left: 80px;
	margin-top: 30px;
	position: relative;
}

#pu631
{
	width: 0.01px;
	margin-left: 80px;
	margin-top: 30px;
	position: relative;
}

#u631
{
	z-index: 40;
	width: 928px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u636-4
{
	z-index: 51;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 13px;
}

#u633
{
	z-index: 42;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #F7E1E9;
	background-color: rgba(217, 105, 148, 0.2);
	padding-bottom: 2px;
	margin-left: 80px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
	-pie-background: rgba(217, 105, 148, 0.2);
}

#u638-6
{
	z-index: 59;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 13px;
}

#u632
{
	z-index: 41;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	padding-bottom: 2px;
	margin-left: 80px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u637-4
{
	z-index: 55;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 13px;
}

#u640-6
{
	z-index: 71;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-left: 74px;
	margin-top: 130px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u640-4
{
	padding-left: 30px;
}

#u640-2
{
	color: #B63B6A;
}

#u641
{
	z-index: 78;
	background: url("../images/u641_states.png") no-repeat 0px 0px;
	margin-left: 74px;
	margin-top: 31px;
	position: relative;
}

#u641_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u641:hover #u641_states
{
	background: url("../images/u641_states-r.png") no-repeat 0px 0px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

