.version.tema1 /* version checker */
{
	color: #00000A;
	background-color: #BF73CE;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.9375px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u960
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1075
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 130px;
}

#u958
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u568-4
{
	z-index: 5;
	width: 388px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 708px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u964
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u964_img
{
	margin-right: -1px;
}

#u176
{
	z-index: 19;
	border-color: #000000;
	background-color: #940157;
	padding-bottom: 177px;
}

#u176_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
}

#u178-4
{
	z-index: 20;
	width: 529px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 178px;
	left: 100px;
}

#u888
{
	z-index: 108;
	width: 412px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 766px;
}

#u176-bw
{
	z-index: 19;
	margin-top: 8px;
	height: 322px;
}

#pamphletu675
{
	z-index: 48;
	width: 0.01px;
	height: 193px;
	margin-left: 142px;
	margin-top: 381px;
	position: relative;
}

#u695
{
	z-index: 49;
	width: 773px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u696
{
	position: absolute;
	width: 362px;
	height: 98px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u696:hover
{
	border-color: #999999;
	width: 362px;
	height: 98px;
	min-height: 0px;
	margin: 0px;
}

#u704
{
	position: absolute;
	width: 371px;
	height: 93px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	top: 99px;
	left: 400px;
}

#u704:hover
{
	border-color: #999999;
	width: 371px;
	height: 93px;
	min-height: 0px;
	margin: 0px;
}

#u681
{
	position: absolute;
	width: 698px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -381px;
	left: 1056px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u681popup
{
	z-index: 52;
}

#u682
{
	z-index: 53;
	width: 654px;
	height: 389px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u706-11
{
	z-index: 54;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 30px;
}

#u705
{
	z-index: 65;
	width: 654px;
	height: 389px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u707-8
{
	z-index: 66;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 30px;
}

#u693
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -355px;
	left: 1700px;
}

#u693:hover
{
	background-color: #999999;
	margin: 0px;
}

#u693:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u694-4
{
	z-index: 75;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u671-20
{
	z-index: 24;
	display: block;
	vertical-align: top;
	left: -58px;
	top: -534px;
	margin-bottom: -220px;
	position: relative;
}

#u672-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	margin-left: 335px;
	top: -273px;
	margin-bottom: -19px;
	position: relative;
}

#u837
{
	z-index: 17;
	width: 855px;
	background-color: transparent;
	margin-left: 102px;
	top: -235px;
	margin-bottom: -235px;
	position: relative;
}

#u708-4
{
	z-index: 79;
	display: block;
	vertical-align: top;
	margin-left: 15px;
	margin-top: 186px;
	position: relative;
}

#u709-4
{
	z-index: 83;
	display: block;
	vertical-align: top;
	margin-left: 15px;
	margin-top: 12px;
	position: relative;
}

#u842
{
	z-index: 106;
	width: 633px;
	background-color: transparent;
	margin-left: 192px;
	margin-top: 35px;
	position: relative;
}

#u710-4
{
	z-index: 87;
	display: block;
	vertical-align: top;
	margin-left: 338px;
	margin-top: 105px;
	position: relative;
}

#u715
{
	z-index: 97;
	width: 260px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 368px;
	margin-top: 25px;
	position: relative;
}

#u711
{
	z-index: 98;
	width: 260px;
	border-color: #000000;
	background-color: #B63B6A;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u712-4
{
	z-index: 99;
	position: relative;
	width: 200px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 30px;
}

#u712-4_img
{
	display: block;
	vertical-align: top;
}

#u713-6
{
	z-index: 91;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -47px;
	margin-top: 18px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u713-4
{
	padding-left: 30px;
}

#u713-2
{
	color: #B63B6A;
}

#u714
{
	z-index: 104;
	left: -47px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u714_states.png") no-repeat 0px 0px;
}

#u714_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u714:hover #u714_states
{
	background: url("../images/u714_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

