.version.tema1 /* version checker */
{
	color: #00000E;
	background-color: #8493EA;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.9378980891724px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -826px;
}

#pu516
{
	width: 0.01px;
	margin-left: -100px;
}

#u516
{
	z-index: 2;
	padding-bottom: 6px;
}

#u516_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1189
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1216
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 130px;
}

#u523-4
{
	z-index: 5;
	width: 559px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 537px;
}

#u521
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u516-bw
{
	z-index: 2;
	height: 84px;
}

#u1187
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1193
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1193_img
{
	margin-right: -1px;
}

#u176
{
	z-index: 17;
	border-color: #000000;
	background-color: #940157;
}

#u176_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
	padding-top: 41px;
	padding-bottom: 130px;
}

#u1108
{
	z-index: 142;
	width: 412px;
	background-color: transparent;
	left: 766px;
	position: relative;
}

#u178-4
{
	z-index: 18;
	width: 727px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	left: 100px;
	margin-top: 196px;
	position: relative;
}

#u176-bw
{
	z-index: 17;
	margin-top: 8px;
	height: 499px;
}

#u672-6
{
	z-index: 24;
	display: block;
	vertical-align: top;
	left: -46px;
	margin-top: 45px;
	position: relative;
}

#u667
{
	z-index: 22;
	width: 880px;
	background-color: transparent;
	margin-left: 68px;
	margin-top: 22px;
	position: relative;
}

#u673-4
{
	z-index: 30;
	display: block;
	vertical-align: top;
	left: -79px;
	margin-top: 36px;
	position: relative;
}

#u684
{
	z-index: 34;
	width: 1174px;
	background-color: transparent;
	left: -79px;
	position: relative;
}

#pamphletu763
{
	z-index: 111;
	width: 0.01px;
	height: 56px;
	margin-left: 162px;
	margin-top: 89px;
	position: relative;
}

#u766
{
	z-index: 112;
	width: 320px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u767
{
	position: absolute;
	width: 318px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u767:hover
{
	border-color: #999999;
	width: 318px;
	height: 55px;
	min-height: 0px;
	margin: 0px;
}

#u775
{
	position: absolute;
	width: 1007px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -89px;
	left: 1067px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u775popup
{
	z-index: 114;
}

#u776
{
	z-index: 115;
	width: 963px;
	height: 527px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u780
{
	z-index: 116;
	width: 963px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u781-18
{
	z-index: 117;
	display: block;
	vertical-align: top;
	position: relative;
}

#u782
{
	z-index: 135;
	width: 963px;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u773
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -66px;
	left: 2014px;
}

#u773:hover
{
	background-color: #999999;
	margin: 0px;
}

#u774-4
{
	z-index: 138;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u689-4
{
	z-index: 36;
	display: block;
	vertical-align: top;
	margin-left: 319px;
	top: -112px;
	margin-bottom: -19px;
	position: relative;
}

#pu690
{
	width: 0.01px;
	padding-bottom: 1741px;
	margin-left: 162px;
	margin-top: -59px;
}

#u690
{
	z-index: 40;
	width: 319px;
	border-color: #000000;
	background-color: #B63B6A;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u691-4
{
	z-index: 42;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#pamphletu732
{
	z-index: 82;
	width: 0.01px;
	height: 57px;
	position: relative;
	margin-right: -10000px;
	left: 368px;
}

#u733
{
	z-index: 83;
	width: 328px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u736
{
	position: absolute;
	width: 326px;
	height: 56px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u736:hover
{
	border-color: #999999;
	width: 326px;
	height: 56px;
	min-height: 0px;
	margin: 0px;
}

#u737
{
	position: absolute;
	width: 855px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: 501px;
	left: 697px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u737popup
{
	z-index: 85;
}

#u738
{
	z-index: 86;
	width: 811px;
	height: 1253px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u787
{
	z-index: 87;
	width: 811px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu793-10
{
	width: 0.01px;
}

#u793-10
{
	z-index: 88;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u791
{
	z-index: 98;
	width: 811px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 101px;
}

#u791_clip
{
	overflow: hidden;
	width: 811px;
	height: 563px;
}

#u791_img
{
	margin-bottom: -24px;
}

#u788-4
{
	z-index: 100;
	display: block;
	vertical-align: top;
	margin-top: 130px;
	position: relative;
}

#u789
{
	z-index: 104;
	width: 811px;
	background-color: transparent;
	margin-top: 6px;
	position: relative;
}

#u752
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: 523px;
	left: 1496px;
}

#u752:hover
{
	background-color: #999999;
	margin: 0px;
}

#u773:active,#u752:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u753-4
{
	z-index: 107;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u692
{
	z-index: 41;
	width: 319px;
	border-color: #000000;
	background-color: #B63B6A;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 376px;
}

#u693-4
{
	z-index: 46;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
}

#u723-4
{
	z-index: 63;
	display: block;
	vertical-align: top;
	margin-left: 12px;
	top: -1516px;
	margin-bottom: -36px;
	position: relative;
}

#u724-4
{
	z-index: 67;
	display: block;
	vertical-align: top;
	margin-left: 11px;
	top: -1480px;
	margin-bottom: -31px;
	position: relative;
}

#u722-13
{
	z-index: 50;
	display: block;
	vertical-align: top;
	margin-left: 11px;
	top: -1382px;
	margin-bottom: -191px;
	position: relative;
}

#u725
{
	z-index: 71;
	width: 352px;
	background-color: transparent;
	margin-left: 295px;
	top: -1125px;
	margin-bottom: -79px;
	position: relative;
}

#u727-6
{
	z-index: 73;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-left: 12px;
	top: -990px;
	margin-bottom: -22px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u727-4
{
	padding-left: 30px;
}

#u727-2
{
	color: #B63B6A;
}

#u728
{
	z-index: 80;
	margin-left: 12px;
	top: -937px;
	position: relative;
	background: url("../images/u728_states.png") no-repeat 0px 0px;
}

#u728_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u728:hover #u728_states
{
	margin-bottom: -49px;
	background: url("../images/u728_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

