.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u561
{
	z-index: 2;
	width: 1216px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}


#u568-4
{
	z-index: 5;
	width: 328px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 768px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u1326
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 25px;
}

#u176
{
	z-index: 13;
	width: 1216px;
	border-color: #000000;
	background-color: #940157;
	padding-bottom: 209px;
	position: relative;
	left: -100px;
	margin-top: 8px;
}

#u176_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
}

#u178-4
{
	z-index: 14;
	width: 498px;
	line-height: 72px;
	font-size: 60px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 141px;
}

#u1292
{
	z-index: 198;
	width: 412px;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 766px;
}

#u652-4
{
	z-index: 18;
	display: block;
	vertical-align: top;
	left: -64px;
	margin-top: 55px;
	position: relative;
}

#u653-9
{
	z-index: 22;
	display: block;
	vertical-align: top;
	left: -64px;
	margin-top: 13px;
	position: relative;
}

#u654-6
{
	z-index: 31;
	display: block;
	vertical-align: top;
	left: -64px;
	margin-top: 18px;
	position: relative;
}

#ppu656
{
	width: 0.01px;
	left: -64px;
	margin-top: 18px;
	position: relative;
}

#pu656
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
}

#u656
{
	z-index: 46;
	width: 19px;
	position: relative;
}

#u664
{
	z-index: 48;
	width: 19px;
	margin-top: 7px;
	position: relative;
}

#u667
{
	z-index: 50;
	width: 19px;
	margin-top: 9px;
	position: relative;
}

#u655-9
{
	z-index: 37;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 38px;
}

#u962
{
	z-index: 175;
	width: 791px;
	margin-left: 90px;
	position: relative;
}

#u962_clip
{
	overflow: hidden;
	width: 791px;
	height: 369px;
}

#u962_img
{
	margin-bottom: -61px;
}

#u670-5
{
	z-index: 52;
	display: block;
	vertical-align: top;
	left: -64px;
	margin-top: 9px;
	position: relative;
}

#u676-6
{
	z-index: 57;
	display: block;
	vertical-align: top;
	left: -64px;
	margin-top: 53px;
	position: relative;
}

#u967
{
	z-index: 177;
	width: 648px;
	margin-left: 183px;
	margin-top: 42px;
	position: relative;
}

#u677-4
{
	z-index: 63;
	display: block;
	vertical-align: top;
	left: -64px;
	margin-top: 42px;
	position: relative;
}

#u678-4
{
	z-index: 67;
	display: block;
	vertical-align: top;
	left: -64px;
	margin-top: 127px;
	position: relative;
}

#u972
{
	z-index: 179;
	width: 696px;
	margin-left: 154px;
	margin-top: 10px;
	position: relative;
}

#u679-9
{
	z-index: 71;
	display: block;
	vertical-align: top;
	left: -64px;
	margin-top: 11px;
	position: relative;
}

#u982
{
	z-index: 181;
	width: 689px;
	margin-left: 195px;
	margin-top: 29px;
	position: relative;
}

#ppu681-6
{
	width: 0.01px;
	left: -64px;
	margin-top: 53px;
	position: relative;
}

#u681-6
{
	z-index: 90;
	display: block;
	vertical-align: top;
	position: relative;
}

#ppu683
{
	width: 0.01px;
	margin-top: 24px;
	position: relative;
}

#pu683
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u683
{
	z-index: 108;
	width: 19px;
	position: relative;
}

#u689
{
	z-index: 110;
	width: 19px;
	margin-top: 6px;
	position: relative;
}

#u692
{
	z-index: 112;
	width: 19px;
	margin-top: 10px;
	position: relative;
}

#u698
{
	z-index: 114;
	width: 19px;
	margin-top: 5px;
	position: relative;
}

#u704
{
	z-index: 116;
	width: 19px;
	margin-top: 8px;
	position: relative;
}

#u682-12
{
	z-index: 96;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 45px;
}

#u680-10
{
	z-index: 80;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 566px;
}

#u707-6
{
	z-index: 118;
	display: block;
	vertical-align: top;
	left: -61px;
	margin-top: 101px;
	position: relative;
}

#pu708-8
{
	width: 0.01px;
	left: -64px;
	margin-top: 17px;
	position: relative;
}

#u708-8
{
	z-index: 124;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 392px;
}

#u992
{
	z-index: 183;
	width: 677px;
	position: relative;
	margin-right: -10000px;
}

#u997-13
{
	z-index: 185;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 739px;
}

#u711-4
{
	z-index: 144;
	display: block;
	vertical-align: top;
	margin-left: 13px;
	margin-top: 232px;
	position: relative;
}

#u712-4
{
	z-index: 148;
	display: block;
	vertical-align: top;
	margin-left: 13px;
	position: relative;
}

#u710-6
{
	z-index: 138;
	display: block;
	vertical-align: top;
	margin-left: 11px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u709-6
{
	z-index: 132;
	display: block;
	vertical-align: top;
	margin-left: 11px;
	margin-top: 4px;
	position: relative;
}

#ppu714
{
	width: 0.01px;
	margin-left: 11px;
	margin-top: 4px;
	position: relative;
}

#pu681-6,#pu714
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
}

#u714
{
	z-index: 160;
	width: 19px;
	position: relative;
}

#u720
{
	z-index: 162;
	width: 19px;
	margin-top: 12px;
	position: relative;
}

#u723
{
	z-index: 164;
	width: 19px;
	margin-top: 9px;
	position: relative;
}

#u713-8
{
	z-index: 152;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 41px;
}

#u726-6
{
	z-index: 166;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-left: 11px;
	margin-top: 106px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u726-4
{
	padding-left: 30px;
}

#u726-2
{
	color: #B63B6A;
}

#u727
{
	z-index: 173;
	background: url("../images/u727_states.png") no-repeat 0px 0px;
	margin-left: 11px;
	margin-top: 31px;
	position: relative;
}

#u727_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u727:hover #u727_states
{
	background: url("../images/u727_states-r.png") no-repeat 0px 0px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

