/*--------------- 
	CSS BBVA
	7/ene/2005 11:35
----------------*/

img {border:0;} #145597

/* titulos */
.title   { font-style:normal; font-weight:bold; font-size:20px; line-height:21px; color:#145597; }
h1	     { padding-left:55px; padding-right: 100px; font-size:18px; color:#000000; }   /*articleinfo/title*/
h2.title { font-size:18px; color:#145597; background-color:white; }  /*sect1*/
h3.title { font-size:15px; color:#145597; }  /*sect2*/
h4.title { font-size:12px; color:#145597; }  /*sect3*/

/*elementos de linea*/
p         { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-align: justify; }
b, strong { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #5B1704; }
li        { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-align:left; list-style-type:disc; list-style-position:inherit; }
ul        { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-align:left; list-style-type:disc; list-style-position:inherit; }
ol        { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-align:left; list-style-type:disc; list-style-position:inherit; }

.emphasis  { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #5B1704; font-weight: bold; font-style: normal; }
.literal   { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-align:center; font-style: italic; }
em         { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #5B1704; font-weight: bold; font-style: normal; }
.quote     { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #00826B; font-style:italic; }
.glossterm { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #669999; font-weight: bold; }

.table .title { display:none };
table  	      { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; }
td            { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; }
tr            { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; }

/*elementos de bloque*/
div.sect1,div.sect2,div.sect3 { font-family: Arial, Helvetica, sans-serif; font-size: 14px; padding-left: 1px; padding-right: 0%;}
span.sect1 {}

.note        { background:#CCE6E2;padding:10px; border:none; }
.result		 { background:#FFF; padding:6px; border:none; }
.note .title {}

.tip        { padding-top: 20px;padding-left: 8px; padding-right: 8px; padding-bottom: 5px; background: white url(../img/banner_tip.gif) no-repeat top left; border: solid 1px #E7A225; }
.tip .title { color: #669999; }

.important        { padding-top: 20px;padding-left: 8px; padding-right: 8px; padding-bottom: 5px; background: white url(../img/banner_important.gif) no-repeat top left; border: solid 1px #E7A225; }
.important .title { color: #669999; }

.example        { padding-top: 20px;background:#FFFF66;padding:10px; color: 99CCCC; font-size: 12px;border:none; }
.example .title { color: #669999; }

.warning        { padding-top: 20px;padding-left: 8px;  padding-bottom: 5px; background: white url(../img/banner_warning.gif) no-repeat top left; border: solid 1px #003399; }
.warning .title { color: #669999; }

.mediaobjectco     { text-align:center; }
.inlinemediaobject { text-align:center; padding-bottom: 0px; }

/*ELEMENTOS PAGINA*/
body
{
 margin-top:0px;
 padding-left:0px;
 /*background: transparent url(../img/sidebar.png) no-repeat top left;*/
 font-family: Arial, Helvetica, sans-serif; 
 font-size: 12px;
 color:#000000;

 scrollbar-face-color: #EAEAEA;
 scrollbar-shadow-color: #A0A0A0;
 scrollbar-highlight-color: #FFFFFF;
 scrollbar-3dlight-color: #FFFFFF;
 scrollbar-darkshadow-color: #FFFFFF;
 scrollbar-track-color: #FFFFFF;
 scrollbar-arrow-color: #A0A0A0;
}

/*CABECERA*/
.usernavheader { text-align:right; font-size:12px; }
.navheader     { color:#FFFFFF; font-size:10px; text-align:right; background:#145597; }
.navheader A   { color:#FFFFFF; } 

/*PIE DE PAGINA*/
/*
.navfooter { position:absolute;top:492px;left:160px;width:560; padding-left:5px;}
.botonesnavegacion { background: transparent url(../img/Image01002.jpg) repeat-x top left; width:10%; color:white; text-align:right; font-weight:bold; }
*/
#numeropagina {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	text-align:center;
	width:100%;
	font-style:normal;
	font-weight:bold;
	font-size:10px;
	color: #145597;
	vertical-align: bottom;
	background-position: center;
}

/*BARRA LATERAL IZQUIERDA
.sidebarizq     { border:solid black; position:absolute;left:10px; top:60px; width:135px; font-weight:bold;font-size:15px;color:white; }
.sidebarizq img { display:block; }
.enlace-toc         { position:absolute;left:100px; top:25px; font-weight:bold; font-size:15px;color:white;}
.enlace-toc A       { color:white;text-decoration:none;}
.enlace-toc A:hover {text-decoration:underline;}
#tocsidebar   { position:absolute;left:0px; top:100px; width:140px;height:240px; padding:5px; font-size:10px; border-top:solid 1px white; border-bottom:solid 1px white; }
#tocsidebar A { color:white; text-decoration:none; display:block; margin-left:22px; text-indent:-22px; }
*/

/*CONTENIDO*/
/*capa scroll*/
.cscroll { margin-top:3px; overflow:auto; height:97%; padding-left:0px; padding-bottom: 0px;}

/*PAGINA TABLA DE CONTENIDOS*/
.toc     { padding-left:100px; background: white url(../img/tocback.gif) no-repeat left 30px; border:solid #FFFFFF 1px; height:90%; }
.toc B          { visibility:hidden; color: #444444; }
.toc A          { text-decoration:none; color: #444444; }
.toc A:active 	{ color: #000000; }
.toc A:visited  { color: #9D9D9D; }

/*diccionario activo*/
a:visited { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FF6600; font-weight: bold; text-decoration: underline}
a:link { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FF6600; font-weight: bold; text-decoration: underline}
a:hover { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FF6600; font-weight: bold; text-decoration: underline}
a:active { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FF6600; font-weight: bold; text-decoration: underline}

/*PAGINA APENDICE*/
/*
div.appendix { height:480; width:560; background: transparent url(../img/appendix.png) no-repeat top left; }
*/

/*PAGINA EVALUACION*/
.inlinemediaobject embed  { margin-top:-35px; width:560px; height:430px;}


/*PAGINA GLOSARIO*/
div.glossary {
	margin-left:0px;
	padding-left:80px;
	height:420;
	background:white url(../img/pantalla_glosary.gif) no-repeat left 30px;
	padding-right: 20px;
}
dt { font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #666666; }
dd { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; text-align: justify; }
#glosario-boton-cerrar { position:absolute; top:0px; left:30px;	text-align: center; }

/*ESTILOS TABLAS*/
.boldgris  { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #666666; font-weight: bold; font-style: normal; }
.boldnegro { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; font-weight: bold }
.negro     { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; }
.boldrojo1 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #B41C35; font-weight: bold }
.rojo1     { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #B41C35; }
.boldrojo2 { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #8C1029; font-weight: bold }
.rojo2     { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #8C1029; }
.boldnar  { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #FFCC00; font-weight: bold; font-style: normal; }
.underline {text-decoration:underline;}