.version.introduccion /* version checker */
{
	color: #0000E6;
	background-color: #59969C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.7000000000003px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 5px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u974
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1008
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 130px;
}

#u972
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u568-4
{
	z-index: 5;
	width: 328px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 768px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u978
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u978_img
{
	margin-right: -1px;
}

#pu665
{
	width: 0.01px;
	margin-left: -44px;
	margin-top: 138px;
}

#u665
{
	z-index: 76;
	width: 481px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
}

#u671-15
{
	z-index: 78;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 508px;
}

#pu621
{
	width: 0.01px;
	margin-left: -82px;
	margin-top: 320px;
}

#u621
{
	z-index: 17;
	width: 530px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u623
{
	z-index: 19;
	width: 542px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 575px;
}

#u625
{
	z-index: 21;
	width: 691px;
	border-style: none;
	border-color: transparent;
	background-color: #E6E6E6;
	padding-bottom: 25px;
	position: relative;
	margin-right: -10000px;
	margin-top: 254px;
	left: 506px;
}

#u627-5
{
	z-index: 26;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 24px;
}

#u626-4
{
	z-index: 22;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 195px;
	left: 506px;
}

#u640-4
{
	z-index: 36;
	display: block;
	vertical-align: top;
	margin-left: 19px;
	margin-top: 267px;
	position: relative;
}

#u641-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	margin-left: 20px;
	position: relative;
}

#u645-6
{
	z-index: 64;
	display: block;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 30px;
	position: relative;
}

#pu637
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 30px;
}

#u637
{
	z-index: 31;
	width: 928px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u642-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 12px;
}

#u639
{
	z-index: 34;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #F7E1E9;
	background-color: rgba(217, 105, 148, 0.2);
	padding-bottom: 2px;
	margin-left: 20px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
	-pie-background: rgba(217, 105, 148, 0.2);
}

#u644-4
{
	z-index: 56;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 12px;
}

#u638
{
	z-index: 32;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	padding-bottom: 2px;
	margin-left: 20px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u643-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 12px;
}

#u664
{
	z-index: 35;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #F7E1E9;
	background-color: rgba(217, 105, 148, 0.2);
	padding-bottom: 2px;
	margin-left: 20px;
	margin-top: 1px;
	position: relative;
	-pie-background: rgba(217, 105, 148, 0.2);
}

#u663-4
{
	z-index: 60;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 12px;
}

#u662
{
	z-index: 33;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	padding-bottom: 2px;
	margin-left: 20px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u661-4
{
	z-index: 52;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 12px;
}

#u646-6
{
	z-index: 70;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-left: 29px;
	margin-top: 165px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u646-4
{
	padding-left: 30px;
}

#u646-2
{
	color: #B63B6A;
}

#u672
{
	z-index: 94;
	margin-left: 20px;
	margin-top: 8px;
	position: relative;
	background: url("../images/u672_states.png") no-repeat 0px 0px;
}

#u672_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u672:hover #u672_states
{
	background: url("../images/u672_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

