.version.tema3 /* version checker */
{
	color: #00000E;
	background-color: #94F8B9;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.9375000000005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu516
{
	width: 0.01px;
	margin-left: -100px;
}

#u516
{
	z-index: 2;
	padding-bottom: 6px;
}

#u516_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1097
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1152
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 130px;
}

#u523-4
{
	z-index: 5;
	width: 559px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 537px;
}

#u521
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u516-bw
{
	z-index: 2;
	height: 84px;
}

#u1095
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1101
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1101_img
{
	margin-right: -1px;
}

#u501
{
	z-index: 17;
	border-color: #000000;
	background-color: #FFBB42;
	padding-bottom: 141px;
}

#u501_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
}

#u502-4
{
	z-index: 18;
	width: 530px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 214px;
	left: 120px;
}

#u1031
{
	z-index: 206;
	width: 494px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 32px;
	left: 686px;
}

#u501-bw
{
	z-index: 17;
	margin-top: 8px;
	height: 358px;
}

#u809-4
{
	z-index: 22;
	display: block;
	vertical-align: top;
	left: -39px;
	margin-top: 186px;
	position: relative;
}

#u815-4
{
	z-index: 28;
	display: block;
	vertical-align: top;
	margin-left: 425px;
	margin-top: 17px;
	position: relative;
}

#pamphletu819
{
	z-index: 32;
	width: 0.01px;
	height: 242px;
	margin-left: 65px;
	margin-top: 17px;
	position: relative;
}

#u836
{
	z-index: 33;
	width: 891px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u839
{
	position: absolute;
	width: 312px;
	height: 108px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	top: 133px;
}

#u839:hover
{
	border-color: #999999;
	width: 312px;
	height: 108px;
	min-height: 0px;
	margin: 0px;
}

#u848
{
	position: absolute;
	width: 264px;
	height: 96px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	top: 63px;
	left: 330px;
}

#u848:hover
{
	border-color: #999999;
	width: 264px;
	height: 96px;
	min-height: 0px;
	margin: 0px;
}

#u850
{
	position: absolute;
	width: 277px;
	height: 110px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 612px;
}

#u850:hover
{
	border-color: #999999;
	width: 277px;
	height: 110px;
	min-height: 0px;
	margin: 0px;
}

#u829
{
	position: absolute;
	width: 720px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -23px;
	left: 1087px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u829popup
{
	z-index: 37;
}

#u830
{
	z-index: 38;
	width: 676px;
	height: 488px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u854-15
{
	z-index: 39;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	left: 17px;
}

#u868-15
{
	z-index: 54;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 21px;
}

#u849
{
	z-index: 69;
	width: 676px;
	height: 488px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u852-13
{
	z-index: 70;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 16px;
}

#u851
{
	z-index: 83;
	width: 676px;
	height: 488px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u853-13
{
	z-index: 84;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 116px;
	left: 16px;
}

#u827
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -1px;
	left: 1750px;
}

#u827:hover
{
	background-color: #999999;
	margin: 0px;
}

#u828-4
{
	z-index: 98;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u810
{
	z-index: 26;
	width: 894px;
	background-color: transparent;
	margin-left: 61px;
	top: -242px;
	margin-bottom: -237px;
	position: relative;
}

#pamphletu869
{
	z-index: 120;
	width: 0.01px;
	height: 97px;
	margin-left: 65px;
	margin-top: 707px;
	position: relative;
}

#u886
{
	z-index: 121;
	width: 444px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u889
{
	position: absolute;
	width: 442px;
	height: 96px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u889:hover
{
	border-color: #999999;
	width: 442px;
	height: 96px;
	min-height: 0px;
	margin: 0px;
}

#u879
{
	position: absolute;
	width: 992px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -391px;
	left: 1081px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u879popup
{
	z-index: 123;
}

#u880
{
	z-index: 124;
	width: 892px;
	height: 587px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 29px 38px 31px 18px;
}

#u898-9
{
	z-index: 125;
	display: block;
	vertical-align: top;
	position: relative;
}

#u899-4
{
	z-index: 134;
	display: block;
	vertical-align: top;
	margin-left: 149px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u900-7
{
	z-index: 138;
	display: block;
	vertical-align: top;
	margin-left: 149px;
	margin-top: 26px;
	position: relative;
}

#u901-6
{
	z-index: 145;
	display: block;
	vertical-align: top;
	margin-top: 11px;
	position: relative;
}

#u902-13
{
	z-index: 151;
	display: block;
	vertical-align: top;
	margin-left: 18px;
	margin-top: 15px;
	position: relative;
}

#u877
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -368px;
	left: 2020px;
}

#u877:hover
{
	background-color: #999999;
	margin: 0px;
}

#u878-4
{
	z-index: 165;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u855-6
{
	z-index: 102;
	display: block;
	vertical-align: top;
	left: -39px;
	top: -453px;
	margin-bottom: -29px;
	position: relative;
}

#pu856
{
	width: 0.01px;
	margin-left: -39px;
	margin-top: -406px;
}

#u856
{
	z-index: 108;
	width: 1123px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pamphletu903
{
	z-index: 169;
	width: 0.01px;
	height: 98px;
	position: relative;
	margin-right: -10000px;
	margin-top: 311px;
	left: 572px;
}

#u920
{
	z-index: 170;
	width: 448px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u923
{
	position: absolute;
	width: 446px;
	height: 97px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u923:hover
{
	border-color: #999999;
	width: 446px;
	height: 97px;
	min-height: 0px;
	margin: 0px;
}

#u913
{
	position: absolute;
	width: 665px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -288px;
	left: 1616px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u913popup
{
	z-index: 172;
}

#u914
{
	z-index: 173;
	width: 586px;
	height: 302px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 13px 16px 27px 19px;
}

#u932-7
{
	z-index: 174;
	display: block;
	vertical-align: top;
	position: relative;
}

#u933-11
{
	z-index: 181;
	display: block;
	vertical-align: top;
	margin-left: 28px;
	position: relative;
}

#u911
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -265px;
	left: 2229px;
}

#u911:hover
{
	background-color: #999999;
	margin: 0px;
}

#u827:active,#u877:active,#u911:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u912-4
{
	z-index: 193;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u861-4
{
	z-index: 110;
	display: block;
	vertical-align: top;
	left: -39px;
	top: -211px;
	margin-bottom: -29px;
	position: relative;
}

#u867-4
{
	z-index: 116;
	display: block;
	vertical-align: top;
	margin-left: 434px;
	top: -150px;
	margin-bottom: -19px;
	position: relative;
}

#u862
{
	z-index: 114;
	width: 915px;
	background-color: transparent;
	margin-left: 65px;
	top: -100px;
	margin-bottom: -86px;
	position: relative;
}

#u936-6
{
	z-index: 197;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -39px;
	margin-top: 69px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u936-4
{
	padding-left: 30px;
}

#u936-2
{
	color: #B63B6A;
}

#u937
{
	z-index: 204;
	left: -39px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u937_states.png") no-repeat 0px 0px;
}

#u937_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u937:hover #u937_states
{
	background: url("../images/u937_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

