.version.tema1 /* version checker */
{
	color: #0000EC;
	background-color: #844477;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.9375000000009px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1049
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1108
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 130px;
}

#u568-4
{
	z-index: 5;
	width: 590px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 506px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u1047
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1053
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1053_img
{
	margin-right: -1px;
}

#pu176
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 8px;
}

#u176
{
	z-index: 17;
	border-color: #000000;
	background-color: #940157;
	padding-bottom: 139px;
}

#u176_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
}

#u178-4
{
	z-index: 18;
	width: 647px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 216px;
	left: 100px;
}

#u1005
{
	z-index: 102;
	width: 412px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 766px;
}

#u176-bw
{
	z-index: 17;
	height: 360px;
}

#pamphletu661
{
	z-index: 42;
	width: 0.01px;
	height: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1085px;
	left: 290px;
}

#u681
{
	z-index: 43;
	width: 295px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u684
{
	position: absolute;
	width: 293px;
	height: 56px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u670
{
	position: absolute;
	width: 884px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -702px;
	left: 936px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u670popup
{
	z-index: 45;
}

#u675
{
	z-index: 46;
	width: 840px;
	height: 333px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u690-16
{
	z-index: 47;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 17px;
}

#u677
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -679px;
	left: 1766px;
}

#u677:hover
{
	background-color: #999999;
	margin: 0px;
}

#u678-4
{
	z-index: 64;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu649
{
	width: 0.01px;
	padding-bottom: 611px;
	margin-left: 38px;
	margin-top: -623px;
}

#u649
{
	z-index: 22;
	width: 941px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u654-4
{
	z-index: 24;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 317px;
}

#pamphletu691
{
	z-index: 68;
	width: 0.01px;
	height: 57px;
	position: relative;
	margin-right: -10000px;
	margin-top: 566px;
	left: 513px;
}

#u711
{
	z-index: 69;
	width: 295px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u714
{
	position: absolute;
	width: 293px;
	height: 56px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u684:hover,#u714:hover
{
	border-color: #999999;
	width: 293px;
	height: 56px;
	min-height: 0px;
	margin: 0px;
}

#u700
{
	position: absolute;
	width: 964px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -301px;
	left: 577px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u700popup
{
	z-index: 71;
}

#u705
{
	z-index: 72;
	width: 920px;
	height: 925px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u705_position_content
{
	padding-top: 3px;
	padding-bottom: 26px;
}

#u726-7
{
	z-index: 73;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	position: relative;
}

#u1029
{
	z-index: 80;
	width: 867px;
	background-color: transparent;
	margin-left: 26px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u707
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -279px;
	left: 1488px;
}

#u707:hover
{
	background-color: #999999;
	margin: 0px;
}

#u677:active,#u707:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u708-4
{
	z-index: 83;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u655-4
{
	z-index: 28;
	display: block;
	vertical-align: top;
	margin-left: 355px;
	top: -723px;
	margin-bottom: -19px;
	position: relative;
}

#pu656
{
	width: 0.01px;
	margin-left: 190px;
	margin-top: -668px;
}

#u656
{
	z-index: 32;
	width: 294px;
	border-color: #000000;
	background-color: #B63B6A;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u657-4
{
	z-index: 34;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#u658
{
	z-index: 33;
	width: 294px;
	border-color: #000000;
	background-color: #B63B6A;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	left: 361px;
}

#u659-4
{
	z-index: 38;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 2px;
}

#u732-4
{
	z-index: 87;
	display: block;
	vertical-align: top;
	left: -53px;
	top: -455px;
	margin-bottom: -29px;
	position: relative;
}

#u733
{
	z-index: 91;
	width: 989px;
	background-color: transparent;
	margin-left: 6px;
	top: -360px;
	margin-bottom: -360px;
	position: relative;
}

#u738-6
{
	z-index: 93;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -53px;
	margin-top: 47px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u738-4
{
	padding-left: 30px;
}

#u738-2
{
	color: #B63B6A;
}

#u739
{
	z-index: 100;
	left: -53px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u739_states.png") no-repeat 0px 0px;
}

#u739_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u739:hover #u739_states
{
	background: url("../images/u739_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

