.version.tema1 /* version checker */
{
	color: #00001A;
	background-color: #FA0DF8;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.9375px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1219
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1308
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 130px;
}

#u1217
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u568-4
{
	z-index: 5;
	width: 388px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 708px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u1223
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1223_img
{
	margin-right: -1px;
}

#u176
{
	z-index: 17;
	border-color: #000000;
	background-color: #940157;
}

#u176_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
	padding-top: 41px;
	padding-bottom: 129px;
}

#u1116
{
	z-index: 160;
	width: 412px;
	background-color: transparent;
	left: 766px;
	position: relative;
}

#u178-4
{
	z-index: 18;
	width: 756px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	left: 100px;
	margin-top: 125px;
	position: relative;
}

#u176-bw
{
	z-index: 17;
	margin-top: 8px;
	height: 499px;
}

#u771
{
	z-index: 102;
	width: 1140px;
	background-color: transparent;
	left: -62px;
	margin-top: 22px;
	position: relative;
}

#u651-14
{
	z-index: 22;
	display: block;
	vertical-align: top;
	left: -62px;
	margin-top: 157px;
	position: relative;
}

#u776
{
	z-index: 104;
	width: 518px;
	background-color: transparent;
	margin-left: 249px;
	position: relative;
}

#u652-4
{
	z-index: 36;
	display: block;
	vertical-align: top;
	margin-left: 211px;
	margin-top: 19px;
	position: relative;
}

#pu781
{
	width: 0.01px;
	margin-left: -55px;
	margin-top: 89px;
}

#u781
{
	z-index: 106;
	width: 367px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
}

#u786
{
	z-index: 108;
	width: 735px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 376px;
}

#u1135
{
	z-index: 162;
	width: 15px;
	height: 9px;
	border-color: #000000;
	background-color: #94225D;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 538px;
}

#u1136
{
	z-index: 163;
	width: 15px;
	height: 9px;
	border-color: #000000;
	background-color: #0B8A70;
	position: relative;
	margin-right: -10000px;
	margin-top: 82px;
	left: 778px;
}

#u1138
{
	z-index: 164;
	width: 15px;
	height: 9px;
	border-color: #000000;
	background-color: #8EC73F;
	position: relative;
	margin-right: -10000px;
	margin-top: 104px;
	left: 999px;
}

#u1139
{
	z-index: 165;
	width: 15px;
	height: 9px;
	border-color: #000000;
	background-color: #57B4D1;
	position: relative;
	margin-right: -10000px;
	margin-top: 276px;
	left: 1005px;
}

#u1140
{
	z-index: 166;
	width: 15px;
	height: 9px;
	border-color: #000000;
	background-color: #8EC73F;
	position: relative;
	margin-right: -10000px;
	margin-top: 288px;
	left: 812px;
}

#u1242
{
	z-index: 168;
	width: 20px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 267px;
	left: 811px;
}

#pu653-4
{
	width: 0.01px;
	margin-left: 279px;
	margin-top: 169px;
}

#u653-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#pamphletu821
{
	z-index: 112;
	width: 0.01px;
	height: 426px;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
	left: 20px;
}

#u822
{
	z-index: 113;
	width: 418px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u824
{
	position: absolute;
	width: 416px;
	height: 91px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	top: 223px;
}

#u824:hover
{
	border-color: #999999;
	width: 416px;
	height: 91px;
	min-height: 0px;
	margin: 0px;
}

#u855
{
	position: absolute;
	width: 416px;
	height: 90px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u855:hover
{
	border-color: #999999;
	width: 416px;
	height: 90px;
	min-height: 0px;
	margin: 0px;
}

#u860
{
	position: absolute;
	width: 416px;
	height: 108px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	top: 104px;
}

#u860:hover
{
	border-color: #999999;
	width: 416px;
	height: 108px;
	min-height: 0px;
	margin: 0px;
}

#u862
{
	position: absolute;
	width: 416px;
	height: 97px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	top: 327px;
}

#u862:hover
{
	border-color: #999999;
	width: 416px;
	height: 97px;
	min-height: 0px;
	margin: 0px;
}

#u828
{
	position: absolute;
	width: 610px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -172px;
	left: 906px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u828popup
{
	z-index: 118;
}

#u829
{
	z-index: 119;
	width: 566px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u864
{
	z-index: 120;
	width: 511px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 28px;
}

#u856
{
	z-index: 122;
	width: 566px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u869
{
	z-index: 123;
	width: 417px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 75px;
}

#u861
{
	z-index: 125;
	width: 566px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u874
{
	z-index: 126;
	width: 417px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 75px;
}

#u863
{
	z-index: 128;
	width: 566px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u879
{
	z-index: 129;
	width: 417px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 139px;
	left: 75px;
}

#u826
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -150px;
	left: 1464px;
}

#u826:hover
{
	background-color: #999999;
	margin: 0px;
}

#u827-4
{
	z-index: 132;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u654-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	margin-left: 313px;
	top: -538px;
	margin-bottom: -19px;
	position: relative;
}

#u791
{
	z-index: 110;
	width: 417px;
	background-color: transparent;
	margin-left: 300px;
	top: -425px;
	margin-bottom: -425px;
	position: relative;
}

#u685-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	left: -57px;
	margin-top: 136px;
	position: relative;
}

#pu889
{
	width: 0.01px;
	margin-left: 77px;
	margin-top: 42px;
}

#u889
{
	z-index: 136;
	width: 863px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pamphletu909
{
	z-index: 140;
	width: 0.01px;
	height: 56px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1226px;
	left: 225px;
}

#u910
{
	z-index: 141;
	width: 415px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u912
{
	position: absolute;
	width: 413px;
	height: 55px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u912:hover
{
	border-color: #999999;
	width: 413px;
	height: 55px;
	min-height: 0px;
	margin: 0px;
}

#u916
{
	position: absolute;
	width: 1055px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -694px;
	left: 865px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u916popup
{
	z-index: 143;
}

#u917
{
	z-index: 144;
	width: 1011px;
	height: 678px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u938-4
{
	z-index: 145;
	display: block;
	vertical-align: top;
	position: relative;
}

#u939
{
	z-index: 149;
	width: 1011px;
	background-color: transparent;
	margin-top: 14px;
	position: relative;
}

#u914
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -669px;
	left: 1867px;
}

#u914:hover
{
	background-color: #999999;
	margin: 0px;
}

#u826:active,#u914:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u915-4
{
	z-index: 152;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u1141
{
	z-index: 167;
	width: 22px;
	height: 10px;
	border-color: #000000;
	background-color: #94225D;
	position: relative;
	margin-right: -10000px;
	margin-top: 482px;
	left: 581px;
}

#u686-8
{
	z-index: 52;
	display: block;
	vertical-align: top;
	left: -58px;
	top: -656px;
	margin-bottom: -169px;
	position: relative;
}

#u894
{
	z-index: 138;
	width: 684px;
	background-color: transparent;
	margin-left: 166px;
	top: -495px;
	margin-bottom: -400px;
	position: relative;
}

#u687-4
{
	z-index: 60;
	display: block;
	vertical-align: top;
	margin-left: 278px;
	top: -85px;
	margin-bottom: -19px;
	position: relative;
}

#u688
{
	z-index: 64;
	width: 414px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 301px;
	top: -56px;
	margin-bottom: -56px;
	position: relative;
}

#u689
{
	z-index: 65;
	width: 414px;
	border-color: #000000;
	background-color: #B63B6A;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
}

#u690-4
{
	z-index: 66;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
}

#u692-14
{
	z-index: 70;
	display: block;
	vertical-align: top;
	left: -46px;
	margin-top: 76px;
	position: relative;
}

#u944
{
	z-index: 156;
	width: 748px;
	background-color: transparent;
	margin-left: 134px;
	margin-top: 10px;
	position: relative;
}

#pu949
{
	width: 0.01px;
	padding-bottom: 7px;
	margin-left: -84px;
	margin-top: 126px;
}

#u949
{
	z-index: 158;
	width: 486px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
}

#u693-9
{
	z-index: 84;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 508px;
}

#u701-6
{
	z-index: 93;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -20px;
	margin-top: 163px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u701-4
{
	padding-left: 30px;
}

#u701-2
{
	color: #B63B6A;
}

#u702
{
	z-index: 100;
	left: -20px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u702_states.png") no-repeat 0px 0px;
}

#u702_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u702:hover #u702_states
{
	background: url("../images/u702_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

