.version.tema_5 /* version checker */
{
	color: #0000E0;
	background-color: #DC5265;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 5px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u974
{
	z-index: 11;
	width: 107px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1008
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 130px;
}

#u972
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u568-4
{
	z-index: 5;
	width: 328px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 768px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u978
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u978_img
{
	margin-right: -1px;
}

#pu712
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 8px;
}

#u712
{
	z-index: 17;
	border-color: #000000;
	background-color: #940157;
	padding-bottom: 0px;
}

#u712_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
	padding-top: 41px;
	padding-bottom: 281px;
}

#u904
{
	z-index: 55;
	width: 412px;
	background-color: transparent;
	left: 766px;
	position: relative;
}

#u713-4
{
	z-index: 18;
	width: 1029px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	left: 117px;
	margin-top: 261px;
	position: relative;
}

#u712-bw
{
	z-index: 17;
	height: 787px;
}

#pamphletu794
{
	z-index: 34;
	width: 0.01px;
	height: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1407px;
	left: 522px;
}

#u814
{
	z-index: 35;
	width: 184px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u817
{
	position: absolute;
	width: 182px;
	height: 63px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u817:hover
{
	border-color: #999999;
	width: 182px;
	height: 63px;
	min-height: 0px;
	margin: 0px;
}

#u802
{
	position: absolute;
	width: 1060px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -836px;
	left: 726px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u802popup
{
	z-index: 37;
}

#u803
{
	z-index: 38;
	width: 1016px;
	height: 496px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u828
{
	z-index: 39;
	width: 975px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 48px;
	left: 20px;
}

#u795
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -813px;
	left: 1736px;
}

#u795:hover
{
	background-color: #999999;
	margin: 0px;
}

#u795:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u796-4
{
	z-index: 42;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u780
{
	z-index: 22;
	width: 1178px;
	background-color: transparent;
	left: -81px;
	top: -609px;
	margin-bottom: -453px;
	position: relative;
}

#u785-4
{
	z-index: 24;
	display: block;
	vertical-align: top;
	margin-left: 342px;
	top: -102px;
	margin-bottom: -19px;
	position: relative;
}

#pu833-6
{
	width: 0.01px;
	margin-left: -16px;
	margin-top: -54px;
}

#u833-6
{
	z-index: 46;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u833-4
{
	padding-left: 30px;
}

#u833-2
{
	color: #B63B6A;
}

#u788
{
	z-index: 28;
	width: 171px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 438px;
}

#u787
{
	z-index: 29;
	width: 171px;
	border-style: none;
	border-color: transparent;
	background-color: #B63B6A;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#u786-4
{
	z-index: 30;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 18px;
}

#u834
{
	z-index: 53;
	left: -73px;
	margin-top: 8px;
	position: relative;
	background: url("../images/u834_states.png") no-repeat 0px 0px;
}

#u834_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u834:hover #u834_states
{
	background: url("../images/u834_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

