#u561
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.66);
	-pie-background: rgba(255, 255, 255, 0.66);
}

#u561_align_to_page
{
	position: relative;
}

#u568-4
{
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #B63B6A;
	position: relative;
}

#u974,#u1008,#u972,#u566,#u978
{
	background-color: transparent;
	position: relative;
}

