.version.introduccion /* version checker */
{
	color: #000007;
	background-color: #65D715;
}

.html
{
	background-color: #FBFBFB;
}

#page
{
	z-index: 1;
	width: 1008px;
	min-height: 6187px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 7px;
	padding-bottom: 5755px;
}

#u6570
{
	z-index: 215;
	width: 1216px;
	top: -10px;
	left: -100px;
}

#u551
{
	z-index: 216;
	width: 1216px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u6382-4
{
	z-index: 219;
	width: 597px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 507px;
}

#u6321
{
	z-index: 217;
	width: 80px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1124px;
}

#u7325
{
	z-index: 225;
	width: 500px;
	top: 3px;
	left: -83px;
}

#u7372
{
	z-index: 229;
	width: 177px;
	margin-left: 36px;
	margin-top: 2px;
}

#pu7329
{
	width: 0.01px;
	padding-bottom: 60px;
	margin-left: 213px;
	margin-top: -60px;
}

#u7329
{
	z-index: 227;
	width: 78px;
	top: 7px;
	left: 213px;
}

#u7329_img
{
	margin-right: -1px;
}

#u962-4
{
	z-index: 231;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 44px;
	left: 248px;
}

#u7323
{
	z-index: 223;
	width: 218px;
	top: 11px;
	left: 290px;
}

#u6473
{
	z-index: 2;
	width: 1216px;
	border-style: none;
	border-color: transparent;
	background-color: #29ABE2;
	position: fixed;
	top: 75px;
	left: -100px;
}

#u7144
{
	z-index: 213;
	width: 319px;
	background-color: transparent;
	position: fixed;
	top: 101px;
	left: 735px;
}

#u6568
{
	z-index: 4;
	width: 643px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 413px;
	margin-top: 84px;
	position: relative;
}

#u6562-4
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
}

#u6563-4
{
	z-index: 9;
	display: block;
	vertical-align: top;
	margin-left: 24px;
	margin-top: 8px;
	position: relative;
}

#u6564-8
{
	z-index: 13;
	display: block;
	vertical-align: top;
	margin-left: 47px;
	margin-top: 19px;
	position: relative;
}

#u6565-7
{
	z-index: 21;
	display: block;
	vertical-align: top;
	margin-left: 48px;
	margin-top: 17px;
	position: relative;
}

#u6571-20
{
	z-index: 28;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 908px;
	left: 461px;
}

#u6647
{
	z-index: 203;
	width: 461px;
	background-color: transparent;
	position: fixed;
	top: 934px;
	left: -41px;
}

#u6573-16
{
	z-index: 48;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 1540px;
	left: 461px;
}

#u6574-23
{
	z-index: 64;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 2179px;
	left: 462px;
}

#u6697
{
	z-index: 205;
	width: 516px;
	background-color: transparent;
	position: fixed;
	top: 2252px;
	left: -76px;
}

#u6575-14
{
	z-index: 87;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 2870px;
	left: 459px;
}

#u6702
{
	z-index: 207;
	width: 438px;
	background-color: transparent;
	position: fixed;
	top: 2943px;
	left: -61px;
}

#u6576-12
{
	z-index: 101;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 3555px;
	left: 461px;
}

#u6712
{
	z-index: 209;
	width: 458px;
	background-color: transparent;
	position: fixed;
	top: 3611px;
	left: -38px;
}

#u6577-20
{
	z-index: 113;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 4087px;
	left: 462px;
}

#u6717
{
	z-index: 211;
	width: 474px;
	background-color: transparent;
	position: fixed;
	top: 4227px;
	left: -27px;
}

.js #u6562-4.ose_pre_init,.js #u6563-4.ose_pre_init,.js #u6564-8.ose_pre_init,.js #u6565-7.ose_pre_init,.js #u6571-20.ose_pre_init,.js #u6647.ose_pre_init,.js #u6573-16.ose_pre_init,.js #u6574-23.ose_pre_init,.js #u6697.ose_pre_init,.js #u6575-14.ose_pre_init,.js #u6702.ose_pre_init,.js #u6576-12.ose_pre_init,.js #u6712.ose_pre_init,.js #u6577-20.ose_pre_init,.js #u6717.ose_pre_init
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u6623
{
	z-index: 133;
	width: 1386px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 4739px;
	left: -188px;
}

#u6581
{
	z-index: 134;
	width: 1386px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 133px;
	position: relative;
}

#u6590
{
	z-index: 148;
	width: 507px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
	left: 101px;
}

#pu6585
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 111px;
	margin-left: 621px;
}

#u6585
{
	z-index: 146;
	width: 625px;
	background-color: transparent;
	margin-left: 10px;
	position: relative;
}

#u6583-4
{
	z-index: 137;
	display: block;
	vertical-align: top;
	margin-left: 43px;
	margin-top: 35px;
	position: relative;
}

#u6582
{
	z-index: 136;
	width: 675px;
	border-style: none;
	border-color: transparent;
	background-color: #E6E6E6;
	margin-top: 23px;
	position: relative;
}

#u6584-5
{
	z-index: 141;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 70px;
}

#pu6596
{
	width: 0.01px;
}

#u6596
{
	z-index: 135;
	width: 929px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 72px 270px 241.30000000000018px 187px;
}

#u6604-4
{
	z-index: 159;
	display: block;
	vertical-align: top;
	position: relative;
}

#u6612-6
{
	z-index: 191;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	margin-top: 67px;
	position: relative;
}

#u6598
{
	z-index: 153;
	width: 928px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	margin-left: 1px;
	margin-top: 30px;
	position: relative;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u6599
{
	z-index: 154;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	padding-bottom: 2px;
	margin-left: 1px;
	margin-top: 48px;
	position: relative;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u6607-4
{
	z-index: 171;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 13px;
}

#u6600
{
	z-index: 155;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	padding-bottom: 5px;
	margin-left: 1px;
	margin-top: 54px;
	position: relative;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u6608-4
{
	z-index: 175;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 13px;
}

#u6613-6
{
	z-index: 197;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-left: 1px;
	margin-top: 83px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u6613-4
{
	padding-left: 30px;
}

#u6613-2
{
	color: #B63B6A;
}

#u6601
{
	z-index: 156;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #F7E1E9;
	background-color: rgba(217, 105, 148, 0.2);
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 289px;
	left: 188px;
	-pie-background: rgba(217, 105, 148, 0.2);
}

#u6609-4
{
	z-index: 179;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 13px;
}

#u6602
{
	z-index: 157;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #F7E1E9;
	background-color: rgba(217, 105, 148, 0.2);
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 395px;
	left: 188px;
	-pie-background: rgba(217, 105, 148, 0.2);
}

#u6610-4
{
	z-index: 183;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 13px;
}

#u6603
{
	z-index: 158;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #F7E1E9;
	background-color: rgba(217, 105, 148, 0.2);
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 497px;
	left: 188px;
	-pie-background: rgba(217, 105, 148, 0.2);
}

#u6611-4
{
	z-index: 187;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 12px;
}

#u6605-4
{
	z-index: 163;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 188px;
}

#u6606-4
{
	z-index: 167;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 252px;
	left: 200px;
}

#u6597
{
	z-index: 151;
	margin-left: 159px;
	top: -180px;
	position: relative;
	background: url("../images/u6597_states.png") no-repeat 0px 0px;
}

#u6597_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u6597:hover #u6597_states
{
	margin-bottom: -49px;
	background: url("../images/u6597_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1008px;
}

#page .verticalspacer
{
	clear: both;
}

