#u6811
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-width: 0px 0px 1px;
}

#u6811_align_to_page
{
	position: relative;
}

#u6814-4
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #B63B6A;
	text-align: right;
	position: relative;
}

#u7292,#u7359,#u6809,#u7290,#u7296,#u6822
{
	background-color: transparent;
	position: relative;
}

