.version.conclusion /* version checker */
{
	color: #00001B;
	background-color: #D03981;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu516
{
	width: 0.01px;
	margin-left: -100px;
}

#u516
{
	z-index: 2;
	padding-bottom: 6px;
}

#u516_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1048
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1103
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 130px;
}

#u523-4
{
	z-index: 5;
	width: 559px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 537px;
}

#u521
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u516-bw
{
	z-index: 2;
	height: 84px;
}

#u1046
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1052
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1052_img
{
	margin-right: -1px;
}

#pu936
{
	width: 0.01px;
	margin-left: -43px;
	margin-top: 73px;
}

#u936
{
	z-index: 17;
	width: 405px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
}

#u941-15
{
	z-index: 19;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 484px;
}

#u942-6
{
	z-index: 34;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -43px;
	top: -4px;
	margin-bottom: -4px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u942-4
{
	padding-left: 30px;
}

#u942-2
{
	color: #B63B6A;
}

#u943
{
	z-index: 41;
	left: -43px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u943_states.png") no-repeat 0px 0px;
}

#u943_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u943:hover #u943_states
{
	background: url("../images/u943_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

