.html
{
	background-color: #FBFBFB;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.6000000000001px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 38px;
	margin-bottom: 75px;
}

#u6570
{
	z-index: 47;
	width: 1216px;
	top: -10px;
	left: -100px;
}

#u551
{
	z-index: 48;
	width: 1216px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u6382-4
{
	z-index: 51;
	width: 597px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 507px;
}

#u6321
{
	z-index: 49;
	width: 80px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1124px;
}

#u7238
{
	z-index: 57;
	width: 250px;
	top: 6px;
	left: -75px;
}

#u7236
{
	z-index: 55;
	width: 250px;
	top: 6px;
	left: 141px;
}

#u4655-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	margin-left: 842px;
	position: relative;
}

#u5336-5
{
	z-index: 6;
	width: 1066px;
	min-height: 18px;
	left: -37px;
	margin-top: 50px;
	position: relative;
}

#u5336-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u5336
{
	font-size: 18px;
	line-height: 22px;
}

#u5337-25
{
	z-index: 11;
	display: block;
	vertical-align: top;
	left: -37px;
	margin-top: 7px;
	position: relative;
}

#u7245
{
	z-index: 45;
	width: 352px;
	margin-left: 304px;
	margin-top: 24px;
	position: relative;
}

#u7243-6
{
	z-index: 36;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-top: 46px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u7243-4
{
	padding-left: 30px;
}

#u7243-2
{
	color: #B63B6A;
}

#u7244
{
	z-index: 43;
	background: url("../images/u7244_states.png") no-repeat 0px 0px;
	left: -55px;
	margin-top: 11px;
	position: relative;
}

#u7244_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u7244:hover #u7244_states
{
	background: url("../images/u7244_states-r.png") no-repeat 0px 0px;
}

body
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#page .verticalspacer
{
	clear: both;
}

