.html
{
	background-color: #FBFBFB;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 600px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 34px;
	margin-bottom: -398px;
}

#u6570
{
	z-index: 61;
	width: 1216px;
	top: -10px;
	left: -100px;
}

#u551
{
	z-index: 62;
	width: 1216px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u6382-4
{
	z-index: 65;
	width: 597px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 507px;
}

#u6321
{
	z-index: 63;
	width: 80px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1124px;
}

#u7238
{
	z-index: 71;
	width: 250px;
	top: 6px;
	left: -75px;
}

#u7236
{
	z-index: 69;
	width: 250px;
	top: 6px;
	left: 141px;
}

#ppamphletu7101
{
	width: 0.01px;
	padding-bottom: 511px;
	margin-left: 209px;
	position: relative;
}

#pamphletu7101
{
	z-index: 20;
	width: 0.01px;
	height: 302px;
	position: relative;
	margin-right: -10000px;
	margin-top: 238px;
}

#u7102
{
	z-index: 21;
	width: 599px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u7104
{
	position: absolute;
	width: 288px;
	height: 301px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u7104:hover
{
	border-color: #999999;
	width: 288px;
	height: 301px;
	min-height: 0px;
	margin: 0px;
}

#u7103
{
	position: absolute;
	width: 298px;
	height: 301px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 299px;
}

#u7103:hover
{
	border-color: #999999;
	width: 298px;
	height: 301px;
	min-height: 0px;
	margin: 0px;
}

#u7105
{
	position: absolute;
	width: 1204px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -227px;
	left: 907px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u7105popup
{
	z-index: 24;
}

#u7110
{
	z-index: 25;
	width: 1137px;
	height: 975px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 11px 11px 11px 12px;
}

#u7111-8
{
	z-index: 26;
	display: block;
	vertical-align: top;
	position: relative;
}

#u7112
{
	z-index: 34;
	width: 1137px;
	position: relative;
}

#u7106
{
	z-index: 36;
	width: 1137px;
	height: 975px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 11px 11px 11px 12px;
}

#u7107-8
{
	z-index: 37;
	display: block;
	vertical-align: top;
	position: relative;
}

#u7108
{
	z-index: 45;
	width: 1137px;
	position: relative;
}

#u7119
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -204px;
	left: 2059px;
}

#u7119:hover
{
	background-color: #999999;
	margin: 0px;
}

#u7119:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u7120-4
{
	z-index: 48;
	width: 20px;
	min-height: 20px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u6949-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 586px;
}

#u7095-4
{
	z-index: 6;
	display: block;
	vertical-align: top;
	left: -34px;
	top: -973px;
	margin-bottom: -34px;
	position: relative;
}

#u7096-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	left: -34px;
	top: -929px;
	margin-bottom: -58px;
	position: relative;
}

#u7099-4
{
	z-index: 16;
	display: block;
	vertical-align: top;
	margin-left: 339px;
	top: -852px;
	margin-bottom: -19px;
	position: relative;
}

#u7097
{
	z-index: 14;
	width: 598px;
	margin-left: 209px;
	top: -814px;
	margin-bottom: -283px;
	position: relative;
}

#u7126-6
{
	z-index: 52;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -34px;
	top: -495px;
	margin-bottom: -22px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u7126-4
{
	padding-left: 30px;
}

#u7126-2
{
	color: #B63B6A;
}

#u7127
{
	z-index: 59;
	background: url("../images/u7127_states.png") no-repeat 0px 0px;
	left: -34px;
	top: -466px;
	position: relative;
}

#u7127_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u7127:hover #u7127_states
{
	background: url("../images/u7127_states-r.png") no-repeat 0px 0px;
	margin-bottom: -49px;
}

body
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#page .verticalspacer
{
	clear: both;
}

