.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 128px;
}

#pu516
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u516
{
	z-index: 2;
	width: 1216px;
	padding-bottom: 19px;
	margin-right: -10000px;
}

#u516_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}


#pu523-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 736px;
}

#u523-4
{
	z-index: 5;
	width: 328px;
	margin-left: 32px;
}

#u524-4
{
	z-index: 9;
	width: 360px;
	margin-top: 6px;
}

#u521
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u1321
{
	z-index: 15;
	width: 500px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 25px;
}

#u576-4
{
	z-index: 17;
	display: block;
	vertical-align: top;
	margin-left: 4px;
	margin-top: 29px;
	position: relative;
}

#u1334
{
	z-index: 30;
	width: 352px;
	margin-left: 332px;
	margin-top: 89px;
	position: relative;
}

#u1332-6
{
	z-index: 21;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-top: 88px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u1332-4
{
	padding-left: 30px;
}

#u1332-2
{
	color: #B63B6A;
}

#u1333
{
	z-index: 28;
	background: url("../images/u1333_states.png") no-repeat 0px 0px;
	left: -46px;
	margin-top: 13px;
	position: relative;
}

#u1333_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u1333:hover #u1333_states
{
	background: url("../images/u1333_states-r.png") no-repeat 0px 0px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

