.version.tema1 /* version checker */
{
	color: #000014;
	background-color: #7A2FAC;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.9375px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1381
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1434
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 130px;
}

#u568-4
{
	z-index: 5;
	width: 590px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 506px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u1379
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1385
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1385_img
{
	margin-right: -1px;
}

#u176
{
	z-index: 17;
	border-color: #000000;
	background-color: #940157;
}

#u176_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
	padding-top: 41px;
	padding-bottom: 137px;
}

#u1345
{
	z-index: 196;
	width: 412px;
	background-color: transparent;
	left: 766px;
	position: relative;
}

#u178-4
{
	z-index: 18;
	width: 867px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	left: 100px;
	margin-top: 117px;
	position: relative;
}

#u176-bw
{
	z-index: 17;
	margin-top: 8px;
	height: 499px;
}

#pu659
{
	width: 0.01px;
	margin-top: 36px;
}

#u659
{
	z-index: 207;
	width: 342px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u664-10
{
	z-index: 209;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 359px;
}

#u665-12
{
	z-index: 219;
	display: block;
	vertical-align: top;
	left: -16px;
	margin-top: 10px;
	position: relative;
}

#pu666
{
	width: 0.01px;
	margin-left: -50px;
	margin-top: 219px;
}

#u666
{
	z-index: 22;
	width: 413px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u671-14
{
	z-index: 24;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 91px;
	left: 456px;
}

#u672-4
{
	z-index: 38;
	display: block;
	vertical-align: top;
	margin-left: 105px;
	margin-top: 169px;
	position: relative;
}

#u673
{
	z-index: 42;
	width: 806px;
	background-color: transparent;
	margin-left: 105px;
	margin-top: 26px;
	position: relative;
}

#u678-6
{
	z-index: 44;
	display: block;
	vertical-align: top;
	left: -47px;
	margin-top: 225px;
	position: relative;
}

#pu679
{
	width: 0.01px;
	margin-left: -46px;
	margin-top: 27px;
}

#u679
{
	z-index: 50;
	width: 467px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u684
{
	z-index: 52;
	width: 609px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 501px;
}

#u689-4
{
	z-index: 54;
	display: block;
	vertical-align: top;
	left: -46px;
	margin-top: 26px;
	position: relative;
}

#u690-9
{
	z-index: 58;
	display: block;
	vertical-align: top;
	left: -46px;
	margin-top: 135px;
	position: relative;
}

#u691
{
	z-index: 67;
	width: 745px;
	background-color: transparent;
	margin-left: 136px;
	margin-top: 20px;
	position: relative;
}

#u696-4
{
	z-index: 69;
	display: block;
	vertical-align: top;
	left: -47px;
	margin-top: 95px;
	position: relative;
}

#u697
{
	z-index: 73;
	width: 866px;
	background-color: transparent;
	margin-left: 75px;
	margin-top: 25px;
	position: relative;
}

#u702-7
{
	z-index: 75;
	display: block;
	vertical-align: top;
	left: -42px;
	margin-top: 181px;
	position: relative;
}

#pu703
{
	width: 0.01px;
	margin-left: -42px;
	margin-top: 31px;
}

#u703
{
	z-index: 82;
	width: 704px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u708
{
	z-index: 84;
	width: 250px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 849px;
}

#u713-6
{
	z-index: 86;
	display: block;
	vertical-align: top;
	left: -54px;
	margin-top: 244px;
	position: relative;
}

#u714-4
{
	z-index: 92;
	display: block;
	vertical-align: top;
	margin-left: 79px;
	margin-top: 28px;
	position: relative;
}

#u715
{
	z-index: 96;
	width: 775px;
	background-color: transparent;
	margin-left: 119px;
	margin-top: 29px;
	position: relative;
}

#u725
{
	z-index: 98;
	width: 969px;
	background-color: transparent;
	margin-left: 24px;
	margin-top: 15px;
	position: relative;
}

#pu730
{
	width: 0.01px;
	margin-left: 24px;
	margin-top: 57px;
}

#u730
{
	z-index: 100;
	width: 210px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u735-4
{
	z-index: 102;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 150px;
	left: 195px;
}

#u736
{
	z-index: 106;
	width: 1015px;
	background-color: transparent;
	margin-left: 24px;
	margin-top: 30px;
	position: relative;
}

#pamphletu763
{
	z-index: 118;
	width: 0.01px;
	height: 213px;
	margin-top: 429px;
	position: relative;
}

#u783
{
	z-index: 119;
	width: 1017px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u785
{
	position: absolute;
	width: 317px;
	height: 203px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	top: 9px;
	left: 361px;
}

#u785:hover
{
	border-color: #999999;
	width: 317px;
	height: 203px;
	min-height: 0px;
	margin: 0px;
}

#u797
{
	position: absolute;
	width: 309px;
	height: 212px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u797:hover
{
	border-color: #999999;
	width: 309px;
	height: 212px;
	min-height: 0px;
	margin: 0px;
}

#u807
{
	position: absolute;
	width: 264px;
	height: 212px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 751px;
}

#u807:hover
{
	border-color: #999999;
	width: 264px;
	height: 212px;
	min-height: 0px;
	margin: 0px;
}

#u768
{
	position: absolute;
	width: 944px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -119px;
	left: 1206px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u768popup
{
	z-index: 123;
}

#u771
{
	z-index: 124;
	width: 900px;
	height: 416px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u792
{
	z-index: 125;
	width: 899px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
}

#u798
{
	z-index: 127;
	width: 900px;
	height: 416px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u802
{
	z-index: 128;
	width: 899px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
}

#u808
{
	z-index: 130;
	width: 900px;
	height: 416px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u812
{
	z-index: 131;
	width: 900px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
}

#u766
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -95px;
	left: 2096px;
}

#u766:hover
{
	background-color: #999999;
	margin: 0px;
}

#u767-4
{
	z-index: 134;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u741-4
{
	z-index: 108;
	display: block;
	vertical-align: top;
	left: -20px;
	top: -327px;
	margin-bottom: -58px;
	position: relative;
}

#u747-4
{
	z-index: 114;
	display: block;
	vertical-align: top;
	margin-left: 338px;
	top: -246px;
	margin-bottom: -19px;
	position: relative;
}

#u742
{
	z-index: 112;
	width: 985px;
	background-color: transparent;
	margin-left: 16px;
	top: -205px;
	margin-bottom: -204px;
	position: relative;
}

#u817-4
{
	z-index: 138;
	display: block;
	vertical-align: top;
	left: -46px;
	margin-top: 272px;
	position: relative;
}

#u818-4
{
	z-index: 142;
	display: block;
	vertical-align: top;
	left: -29px;
	margin-top: 26px;
	position: relative;
}

#u819
{
	z-index: 146;
	width: 807px;
	background-color: transparent;
	margin-left: 117px;
	margin-top: 11px;
	position: relative;
}

#u824-4
{
	z-index: 148;
	display: block;
	vertical-align: top;
	left: -52px;
	margin-top: 85px;
	position: relative;
}

#u830-4
{
	z-index: 154;
	display: block;
	vertical-align: top;
	left: -58px;
	margin-top: 19px;
	position: relative;
}

#pamphletu842
{
	z-index: 164;
	width: 0.01px;
	height: 272px;
	margin-left: 774px;
	margin-top: 79px;
	position: relative;
}

#u862
{
	z-index: 165;
	width: 295px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u864
{
	position: absolute;
	width: 293px;
	height: 271px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u864:hover
{
	border-color: #999999;
	width: 293px;
	height: 271px;
	min-height: 0px;
	margin: 0px;
}

#u847
{
	position: absolute;
	width: 925px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -70px;
	left: 384px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u847popup
{
	z-index: 167;
}

#u850
{
	z-index: 168;
	width: 881px;
	height: 299px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u871
{
	z-index: 169;
	width: 881px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u845
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -47px;
	left: 1252px;
}

#u845:hover
{
	background-color: #999999;
	margin: 0px;
}

#u766:active,#u845:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u846-4
{
	z-index: 172;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#pu825
{
	width: 0.01px;
	margin-left: -52px;
	margin-top: -329px;
}

#u825
{
	z-index: 152;
	width: 754px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu836-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 19px;
	margin-left: 833px;
}

#u836-4
{
	z-index: 160;
	display: block;
	vertical-align: top;
	margin-left: 44px;
	position: relative;
}

#u831
{
	z-index: 158;
	width: 287px;
	background-color: transparent;
	margin-top: 18px;
	position: relative;
}

#u880-4
{
	z-index: 190;
	display: block;
	vertical-align: top;
	left: -19px;
	margin-top: 171px;
	position: relative;
}

#u879-6
{
	z-index: 184;
	display: block;
	vertical-align: top;
	left: -20px;
	margin-top: 17px;
	position: relative;
}

#u878-8
{
	z-index: 176;
	display: block;
	vertical-align: top;
	left: -20px;
	margin-top: 26px;
	position: relative;
}

#u881
{
	z-index: 194;
	width: 352px;
	background-color: transparent;
	margin-left: 325px;
	margin-top: 60px;
	position: relative;
}

#u657-6
{
	z-index: 198;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -53px;
	margin-top: 124px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u657-4
{
	padding-left: 30px;
}

#u657-2
{
	color: #B63B6A;
}

#u658
{
	z-index: 205;
	left: -53px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u658_states.png") no-repeat 0px 0px;
}

#u658_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u658:hover #u658_states
{
	background: url("../images/u658_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

