.version.tema2 /* version checker */
{
	color: #0000EC;
	background-color: #0477F3;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.5998009554132px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu516
{
	width: 0.01px;
	margin-left: -100px;
}

#u516
{
	z-index: 2;
	padding-bottom: 6px;
}

#u516_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1245
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1271
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 130px;
}

#u523-4
{
	z-index: 5;
	width: 559px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 537px;
}

#u521
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u516-bw
{
	z-index: 2;
	height: 84px;
}

#u1243
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1249
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1249_img
{
	margin-right: -1px;
}

#u504
{
	z-index: 17;
	border-color: #000000;
	background-color: #F6772C;
	padding-bottom: 0px;
}

#u504_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
	padding-top: 41px;
	padding-bottom: 149px;
}

#u1161
{
	z-index: 132;
	width: 412px;
	background-color: transparent;
	left: 766px;
	position: relative;
}

#u505-4
{
	z-index: 18;
	width: 679px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	left: 114px;
	margin-top: 177px;
	position: relative;
}

#u504-bw
{
	z-index: 17;
	margin-top: 8px;
	height: 499px;
}

#u860-19
{
	z-index: 22;
	display: block;
	vertical-align: top;
	left: -54px;
	margin-top: 16px;
	position: relative;
}

#u861
{
	z-index: 41;
	width: 923px;
	background-color: transparent;
	margin-left: 57px;
	margin-top: 16px;
	position: relative;
}

#u872-4
{
	z-index: 43;
	display: block;
	vertical-align: top;
	margin-top: 78px;
	position: relative;
}

#u878
{
	z-index: 47;
	width: 1037px;
	background-color: transparent;
	margin-top: 13px;
	position: relative;
}

#u883-6
{
	z-index: 49;
	display: block;
	vertical-align: top;
	left: -49px;
	margin-top: 110px;
	position: relative;
}

#pu884
{
	width: 0.01px;
	padding-bottom: 476px;
	margin-left: -48px;
	margin-top: 25px;
}

#u884
{
	z-index: 55;
	width: 1122px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pamphletu898
{
	z-index: 66;
	width: 0.01px;
	height: 65px;
	position: relative;
	margin-right: -10000px;
	margin-top: 388px;
	left: 307px;
}

#u899
{
	z-index: 67;
	width: 508px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u902
{
	position: absolute;
	width: 506px;
	height: 64px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u902:hover
{
	border-color: #999999;
	width: 506px;
	height: 64px;
	min-height: 0px;
	margin: 0px;
}

#u903
{
	position: absolute;
	width: 1166px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -232px;
	left: 915px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u903popup
{
	z-index: 69;
}

#u904
{
	z-index: 70;
	width: 1122px;
	height: 710px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1216
{
	z-index: 71;
	width: 1122px;
	background-color: transparent;
	position: relative;
}

#u1218-4
{
	z-index: 73;
	display: block;
	vertical-align: top;
	margin-left: 16px;
	margin-top: 14px;
	position: relative;
}

#u918
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -209px;
	left: 2028px;
}

#u918:hover
{
	background-color: #999999;
	margin: 0px;
}

#u918:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u919-4
{
	z-index: 78;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u891-4
{
	z-index: 62;
	display: block;
	vertical-align: top;
	margin-left: 437px;
	top: -584px;
	margin-bottom: -19px;
	position: relative;
}

#u889
{
	z-index: 57;
	width: 507px;
	border-color: #000000;
	background-color: #B63B6A;
	padding-bottom: 14px;
	margin-left: 259px;
	top: -541px;
	margin-bottom: -65px;
	position: relative;
}

#u890-4
{
	z-index: 58;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
}

#u934-4
{
	z-index: 82;
	display: block;
	vertical-align: top;
	left: -68px;
	top: -292px;
	margin-bottom: -36px;
	position: relative;
}

#u935
{
	z-index: 86;
	width: 1142px;
	background-color: transparent;
	left: -68px;
	top: -256px;
	margin-bottom: -256px;
	position: relative;
}

#u940-8
{
	z-index: 88;
	display: block;
	vertical-align: top;
	left: -68px;
	margin-top: 34px;
	position: relative;
}

#u946
{
	z-index: 96;
	width: 1142px;
	background-color: transparent;
	left: -68px;
	margin-top: 12px;
	position: relative;
}

#u951-7
{
	z-index: 98;
	display: block;
	vertical-align: top;
	left: -68px;
	margin-top: 12px;
	position: relative;
}

#u974-4
{
	z-index: 105;
	display: block;
	vertical-align: top;
	margin-left: 54px;
	margin-top: 310px;
	position: relative;
}

#u975-4
{
	z-index: 109;
	display: block;
	vertical-align: top;
	margin-left: 54px;
	margin-top: 10px;
	position: relative;
}

#u976-4
{
	z-index: 113;
	display: block;
	vertical-align: top;
	margin-left: 55px;
	margin-top: 18px;
	position: relative;
}

#u977-4
{
	z-index: 117;
	display: block;
	vertical-align: top;
	margin-left: 55px;
	position: relative;
}

#u978
{
	z-index: 121;
	width: 352px;
	background-color: transparent;
	margin-left: 374px;
	margin-top: 78px;
	position: relative;
}

#u980-6
{
	z-index: 123;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-left: 20px;
	margin-top: 150px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u980-4
{
	padding-left: 30px;
}

#u980-2
{
	color: #B63B6A;
}

#u981
{
	z-index: 130;
	margin-left: 20px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u981_states.png") no-repeat 0px 0px;
}

#u981_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u981:hover #u981_states
{
	background: url("../images/u981_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

