.version.conclusion /* version checker */
{
	color: #000011;
	background-color: #1B0ABF;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.7375000000001px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1091
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1130
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 136px;
}

#u568-4
{
	z-index: 5;
	width: 567px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 529px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u1089
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1095
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1095_img
{
	margin-right: -1px;
}

#u823-21
{
	z-index: 17;
	display: block;
	vertical-align: top;
	left: -58px;
	margin-top: 72px;
	position: relative;
}

#u965
{
	z-index: 47;
	width: 566px;
	background-color: transparent;
	margin-left: 225px;
	margin-top: 16px;
	position: relative;
}

#u824-6
{
	z-index: 38;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -36px;
	margin-top: 40px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u824-4
{
	padding-left: 30px;
}

#u824-2
{
	color: #B63B6A;
}

#u825
{
	z-index: 45;
	left: -36px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u825_states.png") no-repeat 0px 0px;
}

#u825_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u825:hover #u825_states
{
	background: url("../images/u825_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

