.version.introduccion /* version checker */
{
	color: #0000FD;
	background-color: #53CF78;
}

.html
{
	background-color: #FBFBFB;
}

#page
{
	z-index: 1;
	width: 974px;
	min-height: 61px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 7px 12px 8783px 30px;
}

#u6587
{
	z-index: 285;
	width: 1216px;
	top: -10px;
	left: -100px;
}

#u551
{
	z-index: 286;
	width: 1216px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u6382-4
{
	z-index: 289;
	width: 597px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 507px;
}

#u6321
{
	z-index: 287;
	width: 80px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1124px;
}

#u7001
{
	z-index: 295;
	width: 500px;
	top: 3px;
	left: -83px;
}

#u7048
{
	z-index: 299;
	width: 177px;
	margin-top: 3px;
}

#pu7005
{
	width: 0.01px;
	padding-bottom: 60px;
	margin-left: 183px;
	margin-top: -61px;
}

#u7005
{
	z-index: 297;
	width: 78px;
	top: 7px;
	left: 213px;
}

#u7005_img
{
	margin-right: -1px;
}

#u962-4
{
	z-index: 301;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 44px;
	left: 248px;
}

#u6999
{
	z-index: 293;
	width: 218px;
	top: 11px;
	left: 290px;
}

#u6497
{
	z-index: 2;
	width: 1115px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 103px;
	left: -17px;
}

#u6469
{
	z-index: 24;
	width: 393px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu6466-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 30px;
	margin-left: 414px;
}

#u6466-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: relative;
}

#u6467-4
{
	z-index: 7;
	display: block;
	vertical-align: top;
	margin-top: 20px;
	position: relative;
}

#u6468-13
{
	z-index: 11;
	display: block;
	vertical-align: top;
	margin-top: 13px;
	position: relative;
}

#u6498
{
	z-index: 26;
	width: 1141px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: fixed;
	top: 669px;
	left: -53px;
}

#u6474-26
{
	z-index: 27;
	display: block;
	vertical-align: top;
	left: -1px;
	position: relative;
}

#pu6481
{
	width: 0.01px;
	margin-left: 162px;
	margin-top: 15px;
}

#u6481
{
	z-index: 55;
	width: 219px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6475
{
	z-index: 53;
	width: 556px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 260px;
}

#u6499
{
	z-index: 57;
	width: 1155px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1426px;
	left: -79px;
}

#u6486
{
	z-index: 80;
	width: 448px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 61px;
}

#u6480-22
{
	z-index: 58;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 466px;
}

#u6506
{
	z-index: 82;
	width: 914px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 2227px;
	left: 42px;
}

#u6491-20
{
	z-index: 83;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u6501
{
	z-index: 103;
	width: 301px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 27px;
	left: 613px;
}

#u6531
{
	z-index: 105;
	width: 1122px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 2803px;
	left: -62px;
}

#u6507-16
{
	z-index: 106;
	display: block;
	vertical-align: top;
	position: relative;
}

#u6510
{
	z-index: 122;
	width: 712px;
	background-color: transparent;
	margin-left: 186px;
	margin-top: 24px;
	position: relative;
}

#u6532
{
	z-index: 139;
	width: 1115px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 3532px;
	left: -53px;
}

#u6508-8
{
	z-index: 140;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: -1px;
}

#u6526
{
	z-index: 148;
	width: 545px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 570px;
}

#u6533
{
	z-index: 124;
	width: 1050px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 4235px;
	left: -16px;
}

#u6515
{
	z-index: 137;
	width: 429px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6509-12
{
	z-index: 125;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 455px;
}

#u6534
{
	z-index: 150;
	width: 1063px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 4729px;
	left: -29px;
}

#u6525-13
{
	z-index: 153;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 33px;
}

#u6520
{
	z-index: 151;
	width: 500px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 563px;
}

#u6542
{
	z-index: 166;
	width: 1132px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 5420px;
	left: -49px;
}

#u6535-4
{
	z-index: 167;
	display: block;
	vertical-align: top;
	left: -1px;
	position: relative;
}

#u6536
{
	z-index: 171;
	width: 592px;
	background-color: transparent;
	margin-left: 270px;
	margin-top: 8px;
	position: relative;
}

#u6541-4
{
	z-index: 173;
	display: block;
	vertical-align: top;
	margin-top: 10px;
	position: relative;
}

#u6564
{
	z-index: 196;
	width: 1019px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 6236px;
	left: 8px;
}

#u6544
{
	z-index: 219;
	width: 356px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
}

#u6543-22
{
	z-index: 197;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 393px;
}

#u6563
{
	z-index: 221;
	width: 1002px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 6905px;
	left: 7px;
}

#u6549-6
{
	z-index: 222;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 103px;
}

#u6550
{
	z-index: 228;
	width: 360px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 642px;
}

#u6562
{
	z-index: 177;
	width: 1093px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 7432px;
	left: -11px;
}

#u6556
{
	z-index: 194;
	width: 420px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6555-16
{
	z-index: 178;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 464px;
}

#u6583
{
	z-index: 230;
	width: 1386px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 7960px;
	left: -185px;
}

#u6565
{
	z-index: 231;
	width: 929px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	padding: 72px 270px 241.29999999999836px 187px;
}

#u6573-4
{
	z-index: 241;
	display: block;
	vertical-align: top;
	position: relative;
}

#u6581-6
{
	z-index: 273;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	margin-top: 67px;
	position: relative;
}

#u6567
{
	z-index: 235;
	width: 928px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	margin-left: 1px;
	margin-top: 30px;
	position: relative;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u6568
{
	z-index: 236;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	padding-bottom: 2px;
	margin-left: 1px;
	margin-top: 48px;
	position: relative;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u6576-4
{
	z-index: 253;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 13px;
}

#u6569
{
	z-index: 237;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	padding-bottom: 5px;
	margin-left: 1px;
	margin-top: 54px;
	position: relative;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u6577-4
{
	z-index: 257;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 13px;
}

#u6582-6
{
	z-index: 279;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-left: 1px;
	margin-top: 83px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u6582-4
{
	padding-left: 30px;
}

#u6582-2
{
	color: #B63B6A;
}

#u6566
{
	z-index: 233;
	position: relative;
	width: 155px;
	margin-right: -10000px;
	margin-top: 666px;
	left: 159px;
	background: url("../images/u6566_states.png") no-repeat 0px 0px;
}

#u6566_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u6566:hover #u6566_states
{
	background: url("../images/u6566_states-r.png") no-repeat 0px 0px;
}

#u6570
{
	z-index: 238;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #F7E1E9;
	background-color: rgba(217, 105, 148, 0.2);
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 288px;
	left: 188px;
	-pie-background: rgba(217, 105, 148, 0.2);
}

#u6578-4
{
	z-index: 261;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 13px;
}

#u6571
{
	z-index: 239;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #F7E1E9;
	background-color: rgba(217, 105, 148, 0.2);
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 395px;
	left: 188px;
	-pie-background: rgba(217, 105, 148, 0.2);
}

#u6579-4
{
	z-index: 265;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 12px;
}

#u6572
{
	z-index: 240;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #F7E1E9;
	background-color: rgba(217, 105, 148, 0.2);
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	margin-top: 497px;
	left: 188px;
	-pie-background: rgba(217, 105, 148, 0.2);
}

#u6580-4
{
	z-index: 269;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 12px;
}

#u6574-4
{
	z-index: 245;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 109px;
	left: 188px;
}

#u6575-4
{
	z-index: 249;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 251px;
	left: 201px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 10px;
}

#page .verticalspacer
{
	clear: both;
}

