.version.reflexion /* version checker */
{
	color: #0000E5;
	background-color: #62BF05;
}

.html
{
	background-color: #FBFBFB;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.9250000000001px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 7px;
	padding-bottom: 75px;
}

#u6587
{
	z-index: 27;
	width: 1216px;
	top: -10px;
	left: -100px;
}

#u551
{
	z-index: 28;
	width: 1216px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u6382-4
{
	z-index: 31;
	width: 597px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 507px;
}

#u6321
{
	z-index: 29;
	width: 80px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1124px;
}

#u7001
{
	z-index: 37;
	width: 500px;
	top: 3px;
	left: -83px;
}

#pu7048
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: 3px;
}

#u7048
{
	z-index: 41;
	width: 177px;
	margin-right: -10000px;
}

#u4748-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 25px;
	left: 873px;
}

#pu7005
{
	width: 0.01px;
	padding-bottom: 60px;
	margin-left: 213px;
	margin-top: -61px;
}

#u7005
{
	z-index: 39;
	width: 78px;
	top: 7px;
	left: 213px;
}

#u7005_img
{
	margin-right: -1px;
}

#u6999
{
	z-index: 35;
	width: 218px;
	top: 11px;
	left: 290px;
}

#u4693-4
{
	z-index: 6;
	display: block;
	vertical-align: top;
	margin-left: 259px;
	margin-top: 40px;
	position: relative;
}

#pu4986
{
	width: 0.01px;
	margin-left: 8px;
	margin-top: 11px;
}

#u4986
{
	z-index: 14;
	width: 212px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu4692-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 22px;
	margin-left: 251px;
}

#u4692-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: relative;
}

#u6935
{
	z-index: 25;
	width: 352px;
	background-color: transparent;
	margin-left: 224px;
	margin-top: 84px;
	position: relative;
}

#u6451-6
{
	z-index: 16;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-left: 8px;
	margin-top: 119px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u6451-4
{
	padding-left: 30px;
}

#u6451-2
{
	color: #B63B6A;
}

#u6452
{
	z-index: 23;
	left: -70px;
	margin-top: 21px;
	position: relative;
	background: url("../images/u6452_states.png") no-repeat 0px 0px;
}

#u6452_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u6452:hover #u6452_states
{
	background: url("../images/u6452_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#page .verticalspacer
{
	clear: both;
}

