#u516
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.66);
	-pie-background: rgba(255, 255, 255, 0.66);
}

#u516_align_to_page
{
	position: relative;
}

#u523-4
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #B63B6A;
	text-align: right;
	position: relative;
}

#u524-4
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #595959;
	text-align: right;
	position: relative;
}

#u1011,#u1059,#u521,#u1009,#u1015
{
	background-color: transparent;
	position: relative;
}

