.version.tema5 /* version checker */
{
	color: #00001A;
	background-color: #455BA5;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.6000000000004px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 5px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1530
{
	z-index: 11;
	width: 107px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1587
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 130px;
}

#u568-4
{
	z-index: 5;
	width: 576px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 520px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u1528
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1534
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1534_img
{
	margin-right: -1px;
}

#u608
{
	z-index: 17;
	border-color: #000000;
	background-color: #940157;
}

#u608_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
	padding-top: 41px;
	padding-bottom: 137px;
}

#u1476
{
	z-index: 164;
	width: 412px;
	background-color: transparent;
	left: 766px;
	position: relative;
}

#u609-4
{
	z-index: 18;
	width: 653px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	left: 141px;
	margin-top: 45px;
	position: relative;
}

#u608-bw
{
	z-index: 17;
	margin-top: 8px;
	height: 499px;
}

#pu1270
{
	width: 0.01px;
	margin-left: -54px;
	margin-top: 122px;
}

#u1270
{
	z-index: 42;
	width: 438px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
}

#pu1269-20
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 459px;
}

#u1269-20
{
	z-index: 22;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	position: relative;
}

#u1287-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	margin-top: 24px;
	position: relative;
}

#u1288-10
{
	z-index: 48;
	display: block;
	vertical-align: top;
	margin-top: 32px;
	position: relative;
}

#pamphletu1321
{
	z-index: 64;
	width: 0.01px;
	height: 100px;
	margin-left: 258px;
	margin-top: 439px;
	position: relative;
}

#u1329
{
	z-index: 65;
	width: 759px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1332
{
	position: absolute;
	width: 757px;
	height: 99px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1332:hover
{
	border-color: #999999;
	width: 757px;
	height: 99px;
	min-height: 0px;
	margin: 0px;
}

#u1322
{
	position: absolute;
	width: 1085px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -289px;
	left: 879px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u1322popup
{
	z-index: 67;
}

#u1327
{
	z-index: 68;
	width: 1041px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1350
{
	z-index: 69;
	width: 229px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 29px;
}

#u1352-34
{
	z-index: 71;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 285px;
}

#u1341
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -261px;
	left: 1902px;
}

#u1341:hover
{
	background-color: #999999;
	margin: 0px;
}

#u1341:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u1342-4
{
	z-index: 106;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu1293
{
	width: 0.01px;
	margin-left: -66px;
	margin-top: -274px;
}

#u1293
{
	z-index: 58;
	width: 1107px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u1306-4
{
	z-index: 60;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 510px;
}

#pu1356
{
	width: 0.01px;
	margin-top: 384px;
}

#u1356
{
	z-index: 110;
	width: 294px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1369-13
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 27px;
	margin-left: 332px;
}

#u1369-13
{
	z-index: 112;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1371
{
	z-index: 125;
	width: 683px;
	border-width: 1px;
	border-style: solid;
	border-color: #9E005D;
	background-color: #FDDDE9;
	padding-bottom: 14px;
	position: relative;
}

#u1370-4
{
	z-index: 126;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 12px;
}

#pu1372
{
	width: 0.01px;
	margin-left: -11px;
	margin-top: 362px;
}

#u1372
{
	z-index: 130;
	width: 264px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pu1385-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 116px;
	margin-left: 300px;
}

#u1385-6
{
	z-index: 132;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1386-17
{
	z-index: 138;
	display: block;
	vertical-align: top;
	margin-left: 47px;
	margin-top: 17px;
	position: relative;
}

#u1395-6
{
	z-index: 155;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -11px;
	margin-top: 97px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u1395-4
{
	padding-left: 30px;
}

#u1395-2
{
	color: #B63B6A;
}

#u1396
{
	z-index: 162;
	left: -11px;
	margin-top: 8px;
	position: relative;
	background: url("../images/u1396_states.png") no-repeat 0px 0px;
}

#u1396_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u1396:hover #u1396_states
{
	background: url("../images/u1396_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

