.version.tema3 /* version checker */
{
	color: #0000F8;
	background-color: #66A368;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1329
{
	z-index: 157;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}


#u568-4
{
	z-index: 5;
	width: 377px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 719px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}


#u1333_img
{
	margin-right: -1px;
}

#u501
{
	z-index: 9;
	border-color: #000000;
	background-color: #FFBB42;
	padding-bottom: 213px;
}

#u501_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
}

#u502-4
{
	z-index: 10;
	width: 428px;
	min-height: 72px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 214px;
	left: 100px;
}

#u1261
{
	z-index: 153;
	width: 412px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 766px;
}

#u501-bw
{
	z-index: 9;
	margin-top: 8px;
	height: 286px;
}

#pu874-20
{
	width: 0.01px;
	margin-left: -68px;
	margin-top: 50px;
}

#u874-20
{
	z-index: 14;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u1130-4
{
	z-index: 93;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 335px;
	left: 457px;
}

#pamphletu1153
{
	z-index: 97;
	width: 0.01px;
	height: 220px;
	position: relative;
	margin-right: -10000px;
	margin-top: 364px;
	left: 129px;
}

#u1161
{
	z-index: 98;
	width: 945px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1164
{
	position: absolute;
	width: 222px;
	height: 219px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1189
{
	position: absolute;
	width: 222px;
	height: 219px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 241px;
}

#u1196
{
	position: absolute;
	width: 222px;
	height: 219px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 477px;
}

#u1198
{
	position: absolute;
	width: 222px;
	height: 219px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 721px;
}

#u1164:hover,#u1189:hover,#u1196:hover,#u1198:hover
{
	border-color: #999999;
	width: 222px;
	height: 219px;
	min-height: 0px;
	margin: 0px;
}

#u1167
{
	position: absolute;
	width: 1075px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -79px;
	left: 1107px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u1167popup
{
	z-index: 103;
}

#u1168
{
	z-index: 104;
	width: 1031px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#pu1185-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 46px;
	margin-left: 22px;
}

#u1185-4
{
	z-index: 111;
	display: block;
	vertical-align: top;
	margin-left: 13px;
	position: relative;
}

#u1184-4
{
	z-index: 107;
	display: block;
	vertical-align: top;
	margin-top: 18px;
	position: relative;
}

#u1182
{
	z-index: 105;
	width: 409px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 600px;
}

#u1190
{
	z-index: 115;
	width: 1031px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#pu1204-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 57px;
	margin-left: 41px;
}

#u1204-4
{
	z-index: 118;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1205-4
{
	z-index: 122;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	margin-top: 17px;
	position: relative;
}

#u1202
{
	z-index: 116;
	width: 409px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 581px;
}

#u1197
{
	z-index: 126;
	width: 1031px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#pu1222-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 64px;
	margin-left: 45px;
}

#u1222-4
{
	z-index: 129;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1223-4
{
	z-index: 133;
	display: block;
	vertical-align: top;
	margin-top: 10px;
	position: relative;
}

#u1220
{
	z-index: 127;
	width: 409px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 578px;
}

#u1199
{
	z-index: 137;
	width: 1031px;
	height: 255px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#pu1213-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 40px;
	margin-left: 72px;
}

#u1213-4
{
	z-index: 140;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1214-4
{
	z-index: 144;
	display: block;
	vertical-align: top;
	margin-top: 11px;
	position: relative;
}

#u1211
{
	z-index: 138;
	width: 409px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 550px;
}

#u1165
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -57px;
	left: 2125px;
}

#u1165:hover
{
	background-color: #999999;
	margin: 0px;
}

#u1165:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u1166-4
{
	z-index: 149;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u1125
{
	z-index: 91;
	width: 944px;
	background-color: transparent;
	margin-left: 61px;
	top: -220px;
	margin-bottom: -220px;
	position: relative;
}

#u876-12
{
	z-index: 34;
	display: block;
	vertical-align: top;
	left: -68px;
	margin-top: 12px;
	position: relative;
}

#u878-4
{
	z-index: 74;
	display: block;
	vertical-align: top;
	margin-left: 12px;
	margin-top: 34px;
	position: relative;
}

#u879-4
{
	z-index: 78;
	display: block;
	vertical-align: top;
	margin-left: 13px;
	margin-top: 6px;
	position: relative;
}

#pu877-28
{
	width: 0.01px;
	margin-top: 32px;
}

#u877-28
{
	z-index: 46;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 11px;
}

#u880-6
{
	z-index: 82;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 415px;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u880-4
{
	padding-left: 30px;
}

#u880-2
{
	color: #B63B6A;
}

#u881
{
	z-index: 89;
	margin-top: 28px;
	position: relative;
	background: url("../images/u881_states.png") no-repeat 0px 0px;
}

#u881_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u881:hover #u881_states
{
	background: url("../images/u881_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

