.version.introduccion /* version checker */
{
	color: #0000ED;
	background-color: #AAD061;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1049
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1108
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 130px;
}

#u568-4
{
	z-index: 5;
	width: 590px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 506px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u1047
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1053
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1053_img
{
	margin-right: -1px;
}

#u614-8
{
	z-index: 17;
	display: block;
	vertical-align: top;
	left: -70px;
	margin-top: 143px;
	position: relative;
}

#u640
{
	z-index: 77;
	width: 1154px;
	background-color: transparent;
	left: -69px;
	margin-top: 47px;
	position: relative;
}

#pu615
{
	width: 0.01px;
	margin-left: -81px;
	margin-top: 495px;
}

#u615
{
	z-index: 25;
	width: 530px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u617
{
	z-index: 27;
	width: 542px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 575px;
}

#u619
{
	z-index: 29;
	width: 700px;
	border-style: none;
	border-color: transparent;
	background-color: #E6E6E6;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
	left: 497px;
}

#u621-5
{
	z-index: 34;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 19px;
}

#u620-4
{
	z-index: 30;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	left: 506px;
}

#u624-4
{
	z-index: 42;
	display: block;
	vertical-align: top;
	margin-left: 87px;
	margin-top: 303px;
	position: relative;
}

#u625-4
{
	z-index: 46;
	display: block;
	vertical-align: top;
	margin-left: 88px;
	position: relative;
}

#u628-6
{
	z-index: 62;
	display: block;
	vertical-align: top;
	margin-left: 88px;
	margin-top: 30px;
	position: relative;
}

#pu622
{
	width: 0.01px;
	margin-left: 88px;
	margin-top: 30px;
}

#u622
{
	z-index: 39;
	width: 928px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u626-4
{
	z-index: 50;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 12px;
}

#u623
{
	z-index: 41;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #F7E1E9;
	background-color: rgba(217, 105, 148, 0.2);
	padding-bottom: 2px;
	margin-left: 88px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
	-pie-background: rgba(217, 105, 148, 0.2);
}

#u627-4
{
	z-index: 58;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 12px;
}

#u646
{
	z-index: 40;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	padding-bottom: 5px;
	margin-left: 88px;
	margin-top: 1px;
	position: relative;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u645-4
{
	z-index: 54;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 12px;
}

#u629-6
{
	z-index: 68;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-left: 88px;
	margin-top: 180px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u629-4
{
	padding-left: 30px;
}

#u629-2
{
	color: #B63B6A;
}

#u630
{
	z-index: 75;
	margin-left: 88px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u630_states.png") no-repeat 0px 0px;
}

#u630_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u630:hover #u630_states
{
	background: url("../images/u630_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

