#u151
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px 0px 1px;
}

#u6380-4
{
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	color: #B63B6A;
	position: relative;
}

#u151_align_to_page,#u7199,#u6313,#u7201
{
	position: relative;
}

