#u6811
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px 0px 1px;
}

#u6814-4
{
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	color: #B63B6A;
	position: relative;
}

#u6811_align_to_page,#u7220,#u6809,#u7222,#u6822
{
	position: relative;
}

