.html
{
	background-color: #FBFBFB;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 600px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 35px;
	margin-bottom: 10px;
}

#u6570
{
	z-index: 28;
	width: 1216px;
	top: -10px;
	left: -100px;
}

#u551
{
	z-index: 29;
	width: 1216px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u6382-4
{
	z-index: 32;
	width: 597px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 507px;
}

#u6321
{
	z-index: 30;
	width: 80px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1124px;
}

#u7238
{
	z-index: 38;
	width: 250px;
	top: 6px;
	left: -75px;
}

#u7236
{
	z-index: 36;
	width: 250px;
	top: 6px;
	left: 141px;
}

#u4748-4
{
	z-index: 11;
	display: block;
	vertical-align: top;
	margin-left: 903px;
	position: relative;
}

#u4701
{
	z-index: 2;
	width: 998px;
	border-color: #000000;
	background-color: #FFFFFF;
	left: -70px;
	margin-top: 30px;
	position: relative;
	padding: 12px 90px 5.489410480349193px 78px;
}

#u4693-4
{
	z-index: 7;
	display: block;
	vertical-align: top;
	margin-left: 251px;
	position: relative;
}

#pu4986
{
	width: 0.01px;
	left: -1px;
	margin-top: 11px;
	position: relative;
}

#u4986
{
	z-index: 15;
	width: 212px;
	position: relative;
	margin-right: -10000px;
}

#pu4692-4
{
	width: 0.01px;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 22px;
	left: 251px;
}

#u4692-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: relative;
}

#u7138
{
	z-index: 26;
	width: 352px;
	margin-left: 214px;
	margin-top: 72px;
	position: relative;
}

#u6451-6
{
	z-index: 17;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-top: 119px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u6451-4
{
	padding-left: 30px;
}

#u6451-2
{
	color: #B63B6A;
}

#u6452
{
	z-index: 24;
	background: url("../images/u6452_states.png") no-repeat 0px 0px;
	left: -70px;
	margin-top: 16px;
	position: relative;
}

#u6452_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u6452:hover #u6452_states
{
	background: url("../images/u6452_states-r.png") no-repeat 0px 0px;
}

body
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#page .verticalspacer
{
	clear: both;
}

