.version.tema3 /* version checker */
{
	color: #0000EF;
	background-color: #A08043;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1016
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1173
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 130px;
}

#u1014
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u568-4
{
	z-index: 5;
	width: 388px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 708px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u1020
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1020_img
{
	margin-right: -1px;
}

#u501
{
	z-index: 17;
	border-color: #000000;
	background-color: #FFBB42;
	padding-bottom: 141px;
}

#u501_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
}

#u502-4
{
	z-index: 18;
	width: 552px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 214px;
	left: 120px;
}

#u942
{
	z-index: 62;
	width: 412px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 766px;
}

#u501-bw
{
	z-index: 17;
	margin-top: 8px;
	height: 358px;
}

#u781-7
{
	z-index: 22;
	display: block;
	vertical-align: top;
	left: -75px;
	margin-top: 173px;
	position: relative;
}

#u908
{
	z-index: 60;
	width: 1174px;
	background-color: transparent;
	left: -74px;
	margin-top: 10px;
	position: relative;
}

#u784-4
{
	z-index: 45;
	display: block;
	vertical-align: top;
	margin-left: 43px;
	margin-top: 284px;
	position: relative;
}

#u783-6
{
	z-index: 39;
	display: block;
	vertical-align: top;
	margin-left: 42px;
	margin-top: 30px;
	position: relative;
}

#pu782-10
{
	width: 0.01px;
	padding-bottom: 19px;
	margin-left: 42px;
	margin-top: 4px;
}

#u782-10
{
	z-index: 29;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#pamphletu1081
{
	z-index: 66;
	width: 0.01px;
	height: 83px;
	position: relative;
	margin-right: -10000px;
	margin-top: 271px;
	left: 313px;
}

#u1101
{
	z-index: 67;
	width: 281px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1103
{
	position: absolute;
	width: 279px;
	height: 82px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1103:hover
{
	border-color: #999999;
	width: 279px;
	height: 82px;
	min-height: 0px;
	margin: 0px;
}

#u1092
{
	position: absolute;
	width: 687px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -262px;
	left: 931px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u1092popup
{
	z-index: 69;
}

#u1093
{
	z-index: 70;
	width: 643px;
	height: 320px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1080-20
{
	z-index: 71;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 18px;
}

#u1082
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -235px;
	left: 1560px;
}

#u1082:hover
{
	background-color: #999999;
	margin: 0px;
}

#u1082:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u1083-4
{
	z-index: 92;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u785
{
	z-index: 49;
	width: 352px;
	background-color: transparent;
	margin-left: 320px;
	top: -202px;
	margin-bottom: -79px;
	position: relative;
}

#u1075
{
	z-index: 64;
	width: 277px;
	background-color: transparent;
	margin-left: 358px;
	top: -93px;
	margin-bottom: -64px;
	position: relative;
}

#u787-6
{
	z-index: 51;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-left: 31px;
	margin-top: 99px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u787-4
{
	padding-left: 30px;
}

#u787-2
{
	color: #B63B6A;
}

#u788
{
	z-index: 58;
	margin-left: 31px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u788_states.png") no-repeat 0px 0px;
}

#u788_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u788:hover #u788_states
{
	background: url("../images/u788_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

