.version.conclusion /* version checker */
{
	color: #0000E0;
	background-color: #954F66;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1329
{
	z-index: 52;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}


#u568-4
{
	z-index: 5;
	width: 377px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 719px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}


#u1333_img
{
	margin-right: -1px;
}

#pu882-30
{
	width: 0.01px;
	margin-left: -56px;
	margin-top: 35px;
}

#u882-30
{
	z-index: 9;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u1227
{
	z-index: 48;
	width: 465px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 140px;
	left: 634px;
}

#u883-6
{
	z-index: 39;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -56px;
	margin-top: 47px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u883-4
{
	padding-left: 30px;
}

#u883-2
{
	color: #B63B6A;
}

#u884
{
	z-index: 46;
	left: -56px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u884_states.png") no-repeat 0px 0px;
}

#u884_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u884:hover #u884_states
{
	background: url("../images/u884_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

