#u561
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.66);
	position: relative;
	-pie-background: rgba(255, 255, 255, 0.66);
}

#u568-4
{
	line-height: 22px;
	font-size: 18px;
	color: #B63B6A;
	position: relative;
}

#u561_align_to_page,#u1306,#u566,#u1308
{
	position: relative;
}

