.version.tema1 /* version checker */
{
	color: #000011;
	background-color: #9CA095;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.5374999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u854
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u906
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 130px;
}

#u568-4
{
	z-index: 5;
	width: 590px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 506px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u852
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u858
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u858_img
{
	margin-right: -1px;
}

#u176
{
	z-index: 17;
	border-color: #000000;
	background-color: #940157;
	padding-bottom: 129px;
}

#u176_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
}

#u178-4
{
	z-index: 18;
	width: 502px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 226px;
	left: 106px;
}

#u826
{
	z-index: 193;
	width: 412px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 766px;
}

#u176-bw
{
	z-index: 17;
	margin-top: 8px;
	height: 370px;
}

#pu667
{
	width: 0.01px;
	margin-top: 78px;
}

#u667
{
	z-index: 58;
	width: 253px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#ppu647-13
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 399px;
}

#pu647-13
{
	width: 0.01px;
}

#u647-13
{
	z-index: 22;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#pamphletu673
{
	z-index: 60;
	width: 0.01px;
	height: 198px;
	position: relative;
	margin-right: -10000px;
	margin-top: 359px;
	left: 121px;
}

#u693
{
	z-index: 61;
	width: 438px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u696
{
	position: absolute;
	width: 436px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u702
{
	position: absolute;
	width: 436px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	top: 51px;
}

#u706
{
	position: absolute;
	width: 436px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	top: 153px;
}

#u682
{
	position: absolute;
	width: 671px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -300px;
	left: 658px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u682popup
{
	z-index: 65;
}

#u687
{
	z-index: 66;
	width: 627px;
	height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u708-17
{
	z-index: 67;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 10px;
}

#u703
{
	z-index: 84;
	width: 627px;
	height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u709-13
{
	z-index: 85;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
	left: 26px;
}

#u707
{
	z-index: 98;
	width: 627px;
	height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u710-8
{
	z-index: 99;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
	left: 26px;
}

#u689
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -277px;
	left: 1271px;
}

#u689:hover
{
	background-color: #999999;
	margin: 0px;
}

#u690-4
{
	z-index: 108;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u648-4
{
	z-index: 35;
	display: block;
	vertical-align: top;
	margin-left: 109px;
	top: -265px;
	margin-bottom: -19px;
	position: relative;
}

#ppu650
{
	width: 0.01px;
	padding-bottom: 664px;
	margin-left: 121px;
	margin-top: -211px;
}

#pu650
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 25px;
}

#u650
{
	z-index: 50;
	width: 19px;
	background-color: transparent;
	margin-left: 4px;
	position: relative;
}

#pamphletu717
{
	z-index: 112;
	width: 0.01px;
	height: 45px;
	margin-top: 66px;
	position: relative;
}

#u737
{
	z-index: 113;
	width: 438px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u740
{
	position: absolute;
	width: 436px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u696:hover,#u702:hover,#u706:hover,#u740:hover
{
	border-color: #999999;
	width: 436px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
}

#u726
{
	position: absolute;
	width: 1078px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -38px;
	left: 639px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u726popup
{
	z-index: 115;
}

#u731
{
	z-index: 116;
	width: 1034px;
	height: 763px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u746
{
	z-index: 117;
	width: 243px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 99px;
	left: 25px;
}

#u748-24
{
	z-index: 119;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 281px;
}

#u733
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -15px;
	left: 1663px;
}

#u733:hover
{
	background-color: #999999;
	margin: 0px;
}

#u689:active,#u733:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u734-4
{
	z-index: 144;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u655
{
	z-index: 52;
	width: 19px;
	background-color: transparent;
	margin-left: 4px;
	top: -83px;
	margin-bottom: -21px;
	position: relative;
}

#u661
{
	z-index: 54;
	width: 19px;
	background-color: transparent;
	margin-left: 4px;
	top: -33px;
	margin-bottom: -21px;
	position: relative;
}

#u664
{
	z-index: 56;
	width: 19px;
	background-color: transparent;
	margin-left: 4px;
	margin-top: 16px;
	position: relative;
}

#u649-11
{
	z-index: 39;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 29px;
}

#u754-4
{
	z-index: 166;
	display: block;
	vertical-align: top;
	margin-left: 12px;
	top: -455px;
	margin-bottom: -36px;
	position: relative;
}

#u760-6
{
	z-index: 160;
	display: block;
	vertical-align: top;
	margin-left: 11px;
	top: -401px;
	margin-bottom: -64px;
	position: relative;
}

#u753-12
{
	z-index: 148;
	display: block;
	vertical-align: top;
	margin-left: 11px;
	top: -311px;
	margin-bottom: -162px;
	position: relative;
}

#u755
{
	z-index: 170;
	width: 352px;
	background-color: transparent;
	margin-left: 313px;
	top: -120px;
	margin-bottom: -79px;
	position: relative;
}

#u761-8
{
	z-index: 172;
	display: block;
	vertical-align: top;
	left: -64px;
	margin-top: 213px;
	position: relative;
}

#u777
{
	z-index: 180;
	width: 1164px;
	background-color: transparent;
	left: -64px;
	position: relative;
}

#u782
{
	z-index: 182;
	width: 1164px;
	background-color: transparent;
	left: -64px;
	margin-top: 13px;
	position: relative;
}

#u787-6
{
	z-index: 184;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -37px;
	margin-top: 64px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u787-4
{
	padding-left: 30px;
}

#u787-2
{
	color: #B63B6A;
}

#u788
{
	z-index: 191;
	left: -37px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u788_states.png") no-repeat 0px 0px;
}

#u788_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u788:hover #u788_states
{
	background: url("../images/u788_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

