.version.cursos /* version checker */
{
	color: #00001E;
	background-color: #1056CC;
}

.html
{
	background-color: #F9F9F9;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 552.95px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -10px;
	padding-bottom: 15px;
}

#pu151
{
	width: 0.01px;
	margin-left: -100px;
}

#u151
{
	z-index: 2;
	padding-bottom: 5px;
}

#u151_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u7264
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u7348
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 130px;
}

#u6380-4
{
	z-index: 5;
	width: 597px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 499px;
}

#u6313
{
	z-index: 3;
	width: 80px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1124px;
}

#u151-bw
{
	z-index: 2;
	margin-bottom: -1px;
	height: 85px;
}

#u7262
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u7268
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 314px;
}

#u7268_img
{
	margin-right: -1px;
}

#pu6741
{
	width: 0.01px;
	margin-left: -125px;
}

#u6741
{
	z-index: 17;
	width: 1267px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6746
{
	z-index: 19;
	width: 376px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 91px;
}

#u6751
{
	z-index: 21;
	width: 376px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 299px;
	left: 91px;
}

#u6756
{
	z-index: 23;
	width: 376px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 755px;
}

#u6761
{
	z-index: 25;
	width: 376px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 755px;
}

#u6766
{
	z-index: 27;
	width: 376px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 274px;
	left: 755px;
}

#u6771
{
	z-index: 29;
	width: 376px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 167px;
	left: 91px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#page .verticalspacer
{
	clear: both;
}

