.version.portafolio /* version checker */
{
	color: #00000A;
	background-color: #91FD3E;
}

.html
{
	background-color: #FBFBFB;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.6500000000001px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -77px;
	padding-top: 7px;
}

#u6570
{
	z-index: 75;
	width: 1216px;
	top: -10px;
	left: -100px;
}

#u551
{
	z-index: 76;
	width: 1216px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u6382-4
{
	z-index: 79;
	width: 597px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 507px;
}

#u6321
{
	z-index: 77;
	width: 80px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1124px;
}

#u7325
{
	z-index: 85;
	width: 500px;
	top: 3px;
	left: -83px;
}

#pu7372
{
	width: 0.01px;
	padding-bottom: 320px;
	margin-left: 36px;
	margin-top: 2px;
}

#u7372
{
	z-index: 89;
	width: 177px;
	margin-right: -10000px;
}

#pamphletu5148
{
	z-index: 17;
	width: 0.01px;
	height: 49px;
	position: relative;
	margin-right: -10000px;
	margin-top: 392px;
	left: 389px;
}

#u5168
{
	z-index: 18;
	width: 541px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u5169
{
	position: absolute;
	width: 539px;
	height: 48px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0.03;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=3)";
	filter: alpha(opacity=3);
}

#u5169:hover
{
	border-color: #999999;
	opacity: 0.03;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=3)";
	filter: alpha(opacity=3);
	width: 539px;
	height: 48px;
	min-height: 0px;
	margin: 0px;
}

#u5149
{
	position: absolute;
	width: 921px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -345px;
	left: 710px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u5149popup
{
	z-index: 20;
}

#u5150
{
	z-index: 21;
	width: 877px;
	height: 670px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6179-35
{
	z-index: 22;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 13px;
}

#u5166
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -315px;
	left: 1567px;
}

#u5166:hover
{
	background-color: #999999;
	margin: 0px;
}

#u5166:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u5167-4
{
	z-index: 58;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u4749-4
{
	z-index: 3;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 701px;
}

#pu7329
{
	width: 0.01px;
	padding-bottom: 60px;
	margin-left: 213px;
	margin-top: -762px;
}

#u7329
{
	z-index: 87;
	width: 78px;
	top: 7px;
	left: 213px;
}

#u7329_img
{
	margin-right: -1px;
}

#u7323
{
	z-index: 83;
	width: 218px;
	top: 11px;
	left: 290px;
}

#pu4744
{
	width: 0.01px;
	margin-left: -90px;
	margin-top: -669px;
}

#u4744
{
	z-index: 2;
	width: 1195px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
}

#pu5036
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 103px;
	margin-left: 71px;
}

#u5036
{
	z-index: 7;
	width: 388px;
	background-color: transparent;
	position: relative;
}

#u6453-6
{
	z-index: 66;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-left: 29px;
	margin-top: 83px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u6453-4
{
	padding-left: 30px;
}

#u6453-2
{
	color: #B63B6A;
}

#u5057-4
{
	z-index: 9;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 251px;
	left: 601px;
}

#u5147
{
	z-index: 14;
	position: relative;
	width: 535px;
	margin-right: -10000px;
	margin-top: 306px;
	left: 515px;
	background: url("../images/u5147_states.png") no-repeat 0px 0px;
}

#u5147_states
{
	height: 35px;
	width: 535px;
	vertical-align: top;
}

#u5147:hover #u5147_states
{
	background: url("../images/u5147_states-r.png") no-repeat 0px 0px;
}

#u5147:active #u5147_states
{
	background: url("../images/u5147_states-m.png") no-repeat 0px 0px;
}

#u5871-4
{
	z-index: 62;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
	left: 513px;
}

#u6454
{
	z-index: 73;
	left: -67px;
	top: -143px;
	position: relative;
	background: url("../images/u6454_states.png") no-repeat 0px 0px;
}

#u6454_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u6454:hover #u6454_states
{
	margin-bottom: -49px;
	background: url("../images/u6454_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#page .verticalspacer
{
	clear: both;
}

