.version.tema2 /* version checker */
{
	color: #000002;
	background-color: #1AF9F1;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.9750000000017px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 8px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u862
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u901
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 130px;
}

#u860
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u568-4
{
	z-index: 5;
	width: 328px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 768px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u866
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u866_img
{
	margin-right: -1px;
}

#u504
{
	z-index: 17;
	border-color: #000000;
	background-color: #F6772C;
	padding-bottom: 123px;
}

#u504_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
}

#u505-4
{
	z-index: 18;
	width: 330px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 160px;
	left: 120px;
}

#u796
{
	z-index: 99;
	width: 412px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 766px;
}

#u504-bw
{
	z-index: 17;
	margin-top: 8px;
	height: 376px;
}

#ppu696-8
{
	width: 0.01px;
	margin-left: -33px;
	margin-top: 130px;
}

#pu696-8
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u696-8
{
	z-index: 24;
	display: block;
	vertical-align: top;
	position: relative;
}

#u697-4
{
	z-index: 32;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	margin-top: 23px;
	position: relative;
}

#u691
{
	z-index: 22;
	width: 711px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 397px;
}

#u701
{
	z-index: 36;
	width: 228px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -18px;
	margin-top: 13px;
	position: relative;
}

#u700
{
	z-index: 37;
	width: 228px;
	border-style: none;
	border-color: transparent;
	background-color: #B63B6A;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u699-4
{
	z-index: 38;
	position: relative;
	width: 201px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 17px;
}

#u699-4_img
{
	display: block;
	vertical-align: top;
}

#u707-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	margin-left: 178px;
	margin-top: 196px;
	position: relative;
}

#pu702
{
	width: 0.01px;
	margin-left: 21px;
	margin-top: 70px;
}

#u702
{
	z-index: 42;
	width: 316px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u720-13
{
	z-index: 86;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	left: 327px;
}

#u710-4
{
	z-index: 71;
	display: block;
	vertical-align: top;
	margin-left: 21px;
	margin-top: 284px;
	position: relative;
}

#u709-6
{
	z-index: 65;
	display: block;
	vertical-align: top;
	margin-left: 20px;
	margin-top: 17px;
	position: relative;
}

#pu708-17
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 17px;
}

#u708-17
{
	z-index: 48;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u711
{
	z-index: 75;
	width: 312px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 279px;
	left: 309px;
}

#u716-6
{
	z-index: 77;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 565px;
	left: 9px;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u716-4
{
	padding-left: 30px;
}

#u716-2
{
	color: #B63B6A;
}

#u717
{
	z-index: 84;
	margin-left: 20px;
	margin-top: 5px;
	position: relative;
	background: url("../images/u717_states.png") no-repeat 0px 0px;
}

#u717_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u717:hover #u717_states
{
	background: url("../images/u717_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

