.version.index /* version checker */
{
	color: #0000F5;
	background-color: #AF45DA;
}

.html
{
	background-color: #FBFBFB;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.5362365262121px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 41px;
}

#pu516
{
	width: 0.01px;
	padding-bottom: 95px;
	margin-left: -112px;
}

#u516
{
	z-index: 2;
	padding-bottom: 6px;
}

#u516_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1166
{
	z-index: 15;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1192
{
	z-index: 19;
	width: 177px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 130px;
}

#pu523-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 25px;
	margin-left: 511px;
}

#u523-4
{
	z-index: 5;
	width: 559px;
	margin-left: 26px;
}

#u524-4
{
	z-index: 9;
	width: 585px;
	margin-top: 6px;
}

#u521
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u516-bw
{
	z-index: 2;
	height: 84px;
}

#u1164
{
	z-index: 13;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 402px;
}

#u1170
{
	z-index: 17;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 326px;
}

#u1170_img
{
	margin-right: -1px;
}

#pamphletu391
{
	z-index: 68;
	width: 0.01px;
	height: 247px;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
}

#u394
{
	z-index: 69;
	width: 310px;
	position: relative;
	margin-right: -10000px;
}

#u395
{
	position: absolute;
	width: 300px;
	height: 58px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: 10px;
}

.ie #u395
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u395:hover
{
	margin: 0px;
}

#u397
{
	position: absolute;
	width: 300px;
	height: 53px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 137px;
}

.ie #u395:hover,.ie #u397
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u397:hover
{
	margin: 0px;
}

#u399
{
	position: absolute;
	width: 300px;
	height: 53px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: 194px;
	left: 10px;
}

.ie #u397:hover,.ie #u399
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u399:hover
{
	margin: 0px;
}

.ie #u399:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u401
{
	position: absolute;
	width: 800px;
	-pie-box-shadow: none;
	-moz-box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.19);
	-webkit-box-shadow: 6px 6px 8px -1px rgba(0, 0, 0, 0.19);
	box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.19);
	border-style: none;
	border-color: transparent;
	background-color: #C5C5C5;
	background-color: rgba(191, 191, 191, 0.9);
	padding-bottom: 44px;
	top: -225px;
	left: 1228px;
	-pie-background: rgba(191, 191, 191, 0.9);
}

#u401popup
{
	z-index: 73;
}

#u402
{
	z-index: 74;
	width: 735px;
	height: 499px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-left: 11px;
	padding-top: 24px;
	padding-right: 10px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u403-4
{
	z-index: 75;
	width: 665px;
	background-color: transparent;
	margin-left: 10px;
	position: relative;
}

#u404-4
{
	z-index: 79;
	width: 582px;
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	font-weight: bold;
	margin-left: 12px;
	margin-top: 16px;
	position: relative;
}

#tab-panelu405
{
	z-index: 83;
	width: 735px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-top: 18px;
	position: relative;
}

#u406
{
	z-index: 84;
	width: 735px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u411
{
	z-index: 85;
	width: 244px;
	min-height: 25px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 33px;
	position: relative;
	margin-right: -10000px;
	border-width: 1px 0px 1px 1px;
}

#u411:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 244px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u411.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 244px;
	min-height: 26px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u414-4
{
	z-index: 86;
	width: 244px;
	min-height: 25px;
	border-color: #999999;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	top: 17px;
}

#u411:hover #u414-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u415
{
	z-index: 90;
	width: 245px;
	min-height: 25px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 33px;
	position: relative;
	margin-right: -10000px;
	left: 244px;
	border-width: 1px 0px 1px 1px;
}

#u415:hover
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 245px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 1px 1px;
}

#u415.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 245px;
	min-height: 26px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 0px 0px 1px;
}

#u416-4
{
	z-index: 91;
	width: 245px;
	min-height: 25px;
	border-color: #999999;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	top: 16px;
}

#u415:hover #u416-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u407
{
	z-index: 95;
	width: 244px;
	min-height: 25px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	padding-bottom: 33px;
	position: relative;
	margin-right: -10000px;
	left: 489px;
}

#u407:hover
{
	border-width: 1px;
	border-style: solid;
	background-color: #FFFFFF;
	width: 244px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u407.TabbedPanelsTabSelected
{
	border-style: solid;
	background-color: #FFFFFF;
	width: 244px;
	min-height: 26px;
	margin: 0px -10000px 0px 0px;
	border-width: 1px 1px 0px;
}

#u410-4
{
	z-index: 96;
	width: 244px;
	min-height: 25px;
	border-color: #999999;
	background-color: transparent;
	line-height: 20px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	top: 16px;
}

#u407:hover #u410-4
{
	border-color: #999999;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u411.TabbedPanelsTabSelected #u414-4,#u415.TabbedPanelsTabSelected #u416-4,#u407.TabbedPanelsTabSelected #u410-4
{
	border-style: none;
	border-color: transparent;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	margin: 0px -10000px 0px 0px;
}

#u411.TabbedPanelsTabSelected #u414-4 p,#u411.TabbedPanelsTabSelected #u414-4 span,#u415.TabbedPanelsTabSelected #u416-4 p,#u415.TabbedPanelsTabSelected #u416-4 span,#u407.TabbedPanelsTabSelected #u410-4 p,#u407.TabbedPanelsTabSelected #u410-4 span
{
	color: #999999;
	visibility: inherit;
	font-size: 18px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#u414,#u416,#u410
{
	line-height: 25px;
}

#u437
{
	z-index: 100;
	width: 735px;
	background-color: transparent;
	position: relative;
}

#u443
{
	z-index: 101;
	width: 733px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 46px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u444-25
{
	z-index: 102;
	width: 689px;
	min-height: 207px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 51px;
	left: 38px;
}

#u597
{
	z-index: 127;
	width: 234px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 265px;
	left: 244px;
}

#u440
{
	z-index: 129;
	width: 652px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	padding: 61px 55px 192.0999999999999px 26px;
	border-width: 0px 1px 1px;
}

#u441-4
{
	z-index: 134;
	width: 458px;
	background-color: transparent;
	position: relative;
}

#u441
{
	line-height: 22px;
}

#u442-4
{
	z-index: 130;
	width: 652px;
	min-height: 57px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	margin-top: 30px;
	position: relative;
}

#u438
{
	z-index: 138;
	width: 733px;
	border-style: solid;
	border-color: #999999;
	background-color: #FFFFFF;
	padding-bottom: 220px;
	margin-right: -10000px;
	position: relative;
	border-width: 0px 1px 1px;
}

#u439-12
{
	z-index: 139;
	width: 584px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 24px;
}

#u452
{
	z-index: 151;
	width: 727px;
	height: 429px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 25px 13px 69px 16px;
}

#u460-4
{
	z-index: 157;
	width: 124px;
	background-color: transparent;
	margin-left: 7px;
	position: relative;
}

#u403-2,#u414-2,#u416-2,#u410-2,#u441-2,#u460-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u403,#u460
{
	line-height: 20px;
}

#u466-4
{
	z-index: 161;
	width: 717px;
	background-color: transparent;
	color: #7F7F7F;
	font-weight: bold;
	margin-left: 10px;
	margin-top: 23px;
	position: relative;
}

#u462
{
	z-index: 156;
	width: 727px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD0E2;
	padding-bottom: 17px;
	margin-top: 35px;
	position: relative;
}

#u463-4
{
	z-index: 165;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 8px;
}

#u454-4
{
	z-index: 169;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 239px;
}

#u453
{
	z-index: 155;
	width: 727px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD0E2;
	padding-bottom: 13px;
	margin-top: 5px;
	position: relative;
}

#u465-4
{
	z-index: 173;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 10px;
}

#u455-4
{
	z-index: 189;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 239px;
}

#u459
{
	z-index: 154;
	width: 727px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD0E2;
	padding-bottom: 16px;
	margin-top: 7px;
	position: relative;
}

#u461-4
{
	z-index: 177;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	left: 10px;
}

#u456-4
{
	z-index: 193;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 239px;
}

#u464
{
	z-index: 152;
	width: 727px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD0E2;
	padding-bottom: 15px;
	margin-top: 6px;
	position: relative;
}

#u457-4
{
	z-index: 181;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 10px;
}

#u458-4
{
	z-index: 197;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 239px;
}

#u605
{
	z-index: 153;
	width: 727px;
	border-style: none;
	border-color: transparent;
	background-color: #FFD0E2;
	padding-bottom: 15px;
	margin-top: 6px;
	position: relative;
}

#u603-4
{
	z-index: 185;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 10px;
}

#u604-4
{
	z-index: 201;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 239px;
}

#u445
{
	z-index: 205;
	width: 703px;
	height: 405px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 43px 36px 75px 17px;
}

#u451-4
{
	z-index: 206;
	width: 665px;
	background-color: transparent;
	line-height: 23px;
	font-size: 19px;
	color: #B63B6A;
	font-weight: bold;
	margin-left: 6px;
	position: relative;
}

#u606-4
{
	z-index: 210;
	display: block;
	vertical-align: top;
	margin-left: 18px;
	margin-top: 23px;
	position: relative;
}

#u607
{
	z-index: 214;
	width: 614px;
	border-width: 1px;
	border-style: solid;
	border-color: #9E005D;
	background-color: #FFDDEA;
	padding-bottom: 19px;
	margin-top: 31px;
	position: relative;
}

#u611-4
{
	z-index: 218;
	width: 569px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 26px;
}

#u608
{
	z-index: 215;
	width: 614px;
	border-width: 1px;
	border-style: solid;
	border-color: #9E005D;
	background-color: #FFDDEA;
	padding-bottom: 19px;
	margin-top: 5px;
	position: relative;
}

#u612-4
{
	z-index: 222;
	width: 569px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 26px;
}

#u609
{
	z-index: 216;
	width: 614px;
	border-width: 1px;
	border-style: solid;
	border-color: #9E005D;
	background-color: #FFDDEA;
	padding-bottom: 19px;
	margin-top: 6px;
	position: relative;
}

#u613-4
{
	z-index: 226;
	width: 569px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 26px;
}

#u610
{
	z-index: 217;
	width: 614px;
	border-width: 1px;
	border-style: solid;
	border-color: #9E005D;
	background-color: #FFDDEA;
	padding-bottom: 19px;
	margin-top: 6px;
	position: relative;
}

#u614-4
{
	z-index: 230;
	width: 569px;
	background-color: transparent;
	font-size: 16px;
	line-height: 19px;
	color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 26px;
}

#u392
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -197px;
	left: 1961px;
}

#u392:hover
{
	background-color: #999999;
	margin: 0px;
}

#u392:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u393-4
{
	z-index: 235;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.TabbedPanelsTab,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* tabset */
{
	cursor: pointer;
}

#pu93-4
{
	width: 0.01px;
	margin-left: -91px;
	margin-top: -466px;
}

#u93-4
{
	z-index: 21;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u103-4
{
	z-index: 48;
	position: relative;
	width: 199px;
	margin-right: -10000px;
	margin-top: 46px;
	left: 340px;
}

#ppu94-4
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -346px;
}

#pu94-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u94-4
{
	z-index: 25;
	display: block;
	vertical-align: top;
	position: relative;
}

#u95-4
{
	z-index: 29;
	margin-top: 4px;
	position: relative;
}

#u96-4
{
	z-index: 33;
	display: block;
	vertical-align: top;
	margin-top: 4px;
	position: relative;
}

#u97-4
{
	z-index: 37;
	display: block;
	vertical-align: top;
	margin-top: 3px;
	position: relative;
}

#u100
{
	z-index: 46;
	width: 258px;
	border-style: none;
	border-color: transparent;
	background-color: #F13C6E;
	padding-bottom: 54px;
	position: relative;
	margin-right: -10000px;
	left: 331px;
}

#u107-4
{
	z-index: 56;
	width: 230px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
	left: 15px;
}

#u101
{
	z-index: 47;
	width: 258px;
	border-style: none;
	border-color: transparent;
	background-color: #F6772C;
	padding-bottom: 54px;
	position: relative;
	margin-right: -10000px;
	left: 589px;
}

#u108-4
{
	z-index: 60;
	width: 196px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
	left: 12px;
}

#u99
{
	z-index: 45;
	width: 258px;
	border-style: none;
	border-color: transparent;
	background-color: #FFBB42;
	padding-bottom: 32px;
	position: relative;
	margin-right: -10000px;
	left: 847px;
}

#u109-4
{
	z-index: 64;
	width: 199px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
	left: 13px;
}

#pu98-4
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -83px;
}

#u98-4
{
	z-index: 41;
	position: relative;
	width: 300px;
	margin-right: -10000px;
}

#u104-4
{
	z-index: 52;
	position: relative;
	width: 199px;
	margin-right: -10000px;
	margin-top: 29px;
	left: 350px;
}

#u103-4_img,#u95-4_img,#u98-4_img,#u104-4_img
{
	display: block;
	vertical-align: top;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

