.version.introduccion /* version checker */
{
	color: #000007;
	background-color: #BC9DB9;
}

.html
{
	background-color: #FBFBFB;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 3342px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -21px;
	padding-bottom: 3262px;
}

#pu6563
{
	width: 0.01px;
	padding-bottom: 101px;
	margin-left: -270px;
}

#u6563
{
	z-index: 71;
	width: 1587px;
	height: 100px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	position: fixed;
	top: -21px;
	left: -270px;
}

#u6541
{
	z-index: 74;
	width: 1216px;
	top: -10px;
	left: -100px;
}

#u551
{
	z-index: 75;
	width: 1216px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u6382-4
{
	z-index: 78;
	width: 597px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 507px;
}

#u6321
{
	z-index: 76;
	width: 80px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1124px;
}

#u6942
{
	z-index: 84;
	width: 500px;
	top: 3px;
	left: -83px;
}

#u6981
{
	z-index: 88;
	width: 177px;
	margin-left: 30px;
	top: -71px;
	margin-bottom: -58px;
}

#pu6946
{
	width: 0.01px;
	padding-bottom: 60px;
	margin-left: 213px;
	margin-top: -73px;
}

#u6946
{
	z-index: 86;
	width: 78px;
	top: 7px;
	left: 213px;
}

#u6946_img
{
	margin-right: -1px;
}

#u962-4
{
	z-index: 90;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 44px;
	left: 248px;
}

#u6940
{
	z-index: 82;
	width: 218px;
	top: 11px;
	left: 290px;
}

#u6780
{
	z-index: 57;
	width: 1084px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 142px;
	left: -44px;
}

#u6770
{
	z-index: 62;
	width: 632px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u6768-4
{
	z-index: 58;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 686px;
}

#u6782
{
	z-index: 72;
	width: 478px;
	background-color: transparent;
	position: fixed;
	top: 188px;
	left: 604px;
}

#u6781
{
	z-index: 64;
	width: 1126px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 1408px;
	left: -58px;
}

#u6769-4
{
	z-index: 65;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
}

#u6775
{
	z-index: 69;
	width: 613px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 513px;
}

#u6559
{
	z-index: 2;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 2648px;
	left: 83px;
}

#u6549-4
{
	z-index: 9;
	display: block;
	vertical-align: top;
	left: -1px;
	position: relative;
}

#u6550-4
{
	z-index: 13;
	display: block;
	vertical-align: top;
	position: relative;
}

#u6557-6
{
	z-index: 41;
	display: block;
	vertical-align: top;
	margin-top: 30px;
	position: relative;
}

#pu6543
{
	width: 0.01px;
	margin-top: 30px;
}

#u6543
{
	z-index: 3;
	width: 928px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u6551-4
{
	z-index: 17;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 13px;
}

#u6546
{
	z-index: 6;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #F7E1E9;
	background-color: rgba(217, 105, 148, 0.2);
	padding-bottom: 2px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
	-pie-background: rgba(217, 105, 148, 0.2);
}

#u6554-4
{
	z-index: 29;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 13px;
}

#u6544
{
	z-index: 4;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	padding-bottom: 2px;
	position: relative;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u6552-4
{
	z-index: 21;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 13px;
}

#u6547
{
	z-index: 7;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #F7E1E9;
	background-color: rgba(217, 105, 148, 0.2);
	padding-bottom: 5px;
	margin-top: 1px;
	position: relative;
	-pie-background: rgba(217, 105, 148, 0.2);
}

#u6555-4
{
	z-index: 33;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 13px;
}

#u6545
{
	z-index: 5;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	padding-bottom: 5px;
	position: relative;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u6553-4
{
	z-index: 25;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 13px;
}

#u6548
{
	z-index: 8;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #F7E1E9;
	background-color: rgba(217, 105, 148, 0.2);
	padding-bottom: 5px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	-pie-background: rgba(217, 105, 148, 0.2);
}

#u6556-4
{
	z-index: 37;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 12px;
}

#u6560
{
	z-index: 47;
	width: 353px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: fixed;
	top: 3150px;
	left: 83px;
}

#u6558-6
{
	z-index: 51;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-left: 29px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u6558-4
{
	padding-left: 30px;
}

#u6558-2
{
	color: #B63B6A;
}

#u6542
{
	z-index: 49;
	margin-top: 20px;
	position: relative;
	background: url("../images/u6542_states.png") no-repeat 0px 0px;
}

#u6542_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u6542:hover #u6542_states
{
	background: url("../images/u6542_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#page .verticalspacer
{
	clear: both;
}

