.version.tema1 /* version checker */
{
	color: #0000FA;
	background-color: #1C9B66;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.5375000000004px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1329
{
	z-index: 610;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}


#u568-4
{
	z-index: 5;
	width: 377px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 719px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}


#u1333_img
{
	margin-right: -1px;
}

#u176
{
	z-index: 9;
	border-color: #000000;
	background-color: #940157;
	padding-bottom: 209px;
}

#u176_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
}

#u178-4
{
	z-index: 10;
	width: 365px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 141px;
}

#u1247
{
	z-index: 606;
	width: 412px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 766px;
}

#u176-bw
{
	z-index: 9;
	margin-top: 8px;
	height: 290px;
}

#u643-4
{
	z-index: 14;
	display: block;
	vertical-align: top;
	left: -43px;
	margin-top: 53px;
	position: relative;
}

#pu644-14
{
	width: 0.01px;
	margin-left: -43px;
	margin-top: 27px;
}

#u644-14
{
	z-index: 18;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u891
{
	z-index: 422;
	width: 534px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 581px;
}

#pu896
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 117px;
}

#u896
{
	z-index: 424;
	width: 511px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
}

#pu645-6
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 527px;
}

#u645-6
{
	z-index: 32;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	position: relative;
}

#ppu649
{
	width: 0.01px;
	margin-left: 7px;
	margin-top: 18px;
}

#u649
{
	z-index: 57;
	width: 19px;
	background-color: transparent;
	position: relative;
}

#u654
{
	z-index: 59;
	width: 19px;
	background-color: transparent;
	margin-top: 94px;
	position: relative;
}

#u660
{
	z-index: 61;
	width: 19px;
	background-color: transparent;
	margin-top: 38px;
	position: relative;
}

#u646-9
{
	z-index: 38;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 25px;
}

#u647-6
{
	z-index: 47;
	display: block;
	vertical-align: top;
	position: relative;
}

#u648-4
{
	z-index: 53;
	display: block;
	vertical-align: top;
	margin-top: 39px;
	position: relative;
}

#u663-6
{
	z-index: 63;
	display: block;
	vertical-align: top;
	left: -42px;
	margin-top: 183px;
	position: relative;
}

#pu665
{
	width: 0.01px;
	margin-left: -89px;
	margin-top: 7px;
}

#u665
{
	z-index: 93;
	width: 992px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 101px;
}

#u670
{
	z-index: 95;
	width: 496px;
	height: 38px;
	border-width: 4px;
	border-style: solid;
	border-color: #B63B6A;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -2px;
	left: 189px;
}

#u676
{
	z-index: 96;
	width: 383px;
	height: 208px;
	border-width: 4px;
	border-style: solid;
	border-color: #F6772C;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
	left: 189px;
}

#u678
{
	z-index: 97;
	width: 383px;
	height: 122px;
	border-width: 4px;
	border-style: solid;
	border-color: #FFBB42;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 339px;
	left: 189px;
}

#u685
{
	z-index: 98;
	width: 216px;
	height: 215px;
	border-width: 4px;
	border-style: solid;
	border-color: #F6772C;
	background-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 246px;
	left: 614px;
}

#u690
{
	z-index: 99;
	width: 49px;
	height: 4px;
	border-style: none;
	border-color: transparent;
	background-color: #B63B6A;
	-webkit-transform: matrix(0.7431,0.6691,-0.6691,0.7431,8,-16);
	-ms-transform: matrix(0.7431,0.6691,-0.6691,0.7431,8,-16);
	-o-transform: matrix(0.7431,0.6691,-0.6691,0.7431,8,-16);
	transform: matrix(0.7431,0.6691,-0.6691,0.7431,8,-16);
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 681px;
}

#u697
{
	z-index: 100;
	width: 49px;
	height: 3px;
	border-style: none;
	border-color: transparent;
	background-color: #F6772C;
	position: relative;
	margin-right: -10000px;
	margin-top: 119px;
	left: 143px;
}

#u709
{
	z-index: 101;
	width: 49px;
	height: 3px;
	border-style: none;
	border-color: transparent;
	background-color: #FFBB42;
	position: relative;
	margin-right: -10000px;
	margin-top: 340px;
	left: 143px;
}

#u702
{
	z-index: 102;
	width: 49px;
	height: 3px;
	border-style: none;
	border-color: transparent;
	background-color: #F6772C;
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
	left: 835px;
}

#u695
{
	z-index: 103;
	width: 84px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 105px;
	left: 89px;
}

#u694
{
	z-index: 104;
	width: 84px;
	border-style: none;
	border-color: transparent;
	background-color: #F6772C;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u693-4
{
	z-index: 105;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 3px;
}

#u717
{
	z-index: 109;
	width: 308px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 567px;
}

#u687
{
	z-index: 110;
	width: 308px;
	border-style: none;
	border-color: transparent;
	background-color: #B63B6A;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u689-4
{
	z-index: 111;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 11px;
}

#u706
{
	z-index: 115;
	width: 177px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 337px;
}

#u708
{
	z-index: 116;
	width: 177px;
	border-style: none;
	border-color: transparent;
	background-color: #FFBB42;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u707-4
{
	z-index: 117;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 6px;
}

#u698
{
	z-index: 121;
	width: 84px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
	left: 858px;
}

#u700
{
	z-index: 122;
	width: 84px;
	border-style: none;
	border-color: transparent;
	background-color: #F6772C;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u699-4
{
	z-index: 123;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 3px;
}

#u664-18
{
	z-index: 75;
	display: block;
	vertical-align: top;
	left: -43px;
	margin-top: 10px;
	position: relative;
}

#u715-6
{
	z-index: 69;
	display: block;
	vertical-align: top;
	left: -42px;
	margin-top: 55px;
	position: relative;
}

#pu710
{
	width: 0.01px;
	margin-left: -62px;
	margin-top: 44px;
}

#u710
{
	z-index: 127;
	width: 992px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 74px;
}

#u710_clip
{
	overflow: hidden;
	width: 992px;
	height: 452px;
}

#u710_img
{
	margin-bottom: -16px;
}

#u723
{
	z-index: 133;
	width: 216px;
	height: 215px;
	border-width: 4px;
	border-style: solid;
	border-color: #F6772C;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 614px;
}

#u724
{
	z-index: 134;
	width: 49px;
	height: 3px;
	border-style: none;
	border-color: transparent;
	background-color: #F6772C;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 836px;
}

#u725
{
	z-index: 135;
	width: 84px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
	left: 858px;
}

#u726
{
	z-index: 136;
	width: 84px;
	border-style: none;
	border-color: transparent;
	background-color: #F6772C;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u727-4
{
	z-index: 137;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 3px;
}

#u728
{
	z-index: 141;
	width: 390px;
	height: 358px;
	border-width: 4px;
	border-style: solid;
	border-color: #FFBB42;
	background-color: transparent;
	margin-bottom: -2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 189px;
}

#u729
{
	z-index: 142;
	width: 49px;
	height: 3px;
	border-style: none;
	border-color: transparent;
	background-color: #FFBB42;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: 143px;
}

#u730
{
	z-index: 143;
	width: 177px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 86px;
}

#u731
{
	z-index: 144;
	width: 177px;
	border-style: none;
	border-color: transparent;
	background-color: #FFBB42;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u732-4
{
	z-index: 145;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 6px;
}

#u716-4
{
	z-index: 129;
	display: block;
	vertical-align: top;
	left: -43px;
	margin-top: 26px;
	position: relative;
}

#u733-4
{
	z-index: 149;
	display: block;
	vertical-align: top;
	left: -58px;
	margin-top: 146px;
	position: relative;
}

#u901
{
	z-index: 426;
	width: 1002px;
	background-color: transparent;
	margin-top: 16px;
	position: relative;
}

#u734-21
{
	z-index: 153;
	display: block;
	vertical-align: top;
	left: -58px;
	margin-top: 15px;
	position: relative;
}

#u735-9
{
	z-index: 174;
	display: block;
	vertical-align: top;
	position: relative;
}

#u736-6
{
	z-index: 183;
	display: block;
	vertical-align: top;
	left: -58px;
	margin-top: 88px;
	position: relative;
}

#u906
{
	z-index: 428;
	width: 778px;
	background-color: transparent;
	margin-left: 109px;
	margin-top: 61px;
	position: relative;
}

#u737-13
{
	z-index: 189;
	display: block;
	vertical-align: top;
	left: -65px;
	margin-top: 60px;
	position: relative;
}

#pu738-4
{
	width: 0.01px;
	padding-bottom: 138px;
	margin-left: -64px;
	margin-top: 140px;
}

#u738-4
{
	z-index: 202;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#pamphletu916
{
	z-index: 432;
	width: 0.01px;
	height: 262px;
	position: relative;
	margin-right: -10000px;
	margin-top: 166px;
	left: 64px;
}

#u924
{
	z-index: 433;
	width: 721px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u927
{
	position: absolute;
	width: 345px;
	height: 261px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u927:hover
{
	border-color: #999999;
	width: 345px;
	height: 261px;
	min-height: 0px;
	margin: 0px;
}

#u925
{
	position: absolute;
	width: 361px;
	height: 261px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #C4C4C4;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 358px;
}

#u925:hover
{
	border-color: #999999;
	width: 361px;
	height: 261px;
	min-height: 0px;
	margin: 0px;
}

#u930
{
	position: absolute;
	width: 899px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -156px;
	left: 1083px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u930popup
{
	z-index: 436;
}

#u931
{
	z-index: 437;
	width: 855px;
	height: 512px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u945-22
{
	z-index: 438;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 40px;
}

#u946
{
	z-index: 460;
	width: 19px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 41px;
}

#u948
{
	z-index: 462;
	width: 19px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 340px;
	left: 41px;
}

#u935
{
	z-index: 464;
	width: 855px;
	height: 512px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u952
{
	z-index: 465;
	width: 774px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 93px;
	left: 41px;
}

#u956-4
{
	z-index: 466;
	display: block;
	vertical-align: top;
	position: relative;
}

#ppu954
{
	width: 0.01px;
	margin-top: 12px;
}

#u954
{
	z-index: 484;
	width: 19px;
	background-color: transparent;
	position: relative;
}

#u957
{
	z-index: 486;
	width: 19px;
	background-color: transparent;
	margin-top: 97px;
	position: relative;
}

#u953-14
{
	z-index: 470;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 21px;
}

#u928
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -132px;
	left: 1923px;
}

#u928:hover
{
	background-color: #999999;
	margin: 0px;
}

#u929-4
{
	z-index: 489;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u739-4
{
	z-index: 206;
	display: block;
	vertical-align: top;
	margin-left: 431px;
	top: -438px;
	margin-bottom: -19px;
	position: relative;
}

#u911
{
	z-index: 430;
	width: 982px;
	background-color: transparent;
	margin-left: 7px;
	top: -390px;
	margin-bottom: -252px;
	position: relative;
}

#u740-4
{
	z-index: 210;
	display: block;
	vertical-align: top;
	left: -64px;
	top: -108px;
	margin-bottom: -87px;
	position: relative;
}

#u761-4
{
	z-index: 214;
	display: block;
	vertical-align: top;
	left: -55px;
	margin-top: 142px;
	position: relative;
}

#u762-4
{
	z-index: 218;
	display: block;
	vertical-align: top;
	left: -55px;
	margin-top: 16px;
	position: relative;
}

#u966
{
	z-index: 493;
	width: 859px;
	background-color: transparent;
	margin-left: 62px;
	margin-top: 25px;
	position: relative;
}

#u763-4
{
	z-index: 222;
	display: block;
	vertical-align: top;
	left: -54px;
	margin-top: 9px;
	position: relative;
}

#u764-7
{
	z-index: 226;
	display: block;
	vertical-align: top;
	left: -62px;
	margin-top: 22px;
	position: relative;
}

#pamphletu982
{
	z-index: 497;
	width: 0.01px;
	height: 79px;
	margin-left: 771px;
	margin-top: 483px;
	position: relative;
}

#u990
{
	z-index: 498;
	width: 263px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u993
{
	position: absolute;
	width: 261px;
	height: 78px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u993:hover
{
	border-color: #999999;
	width: 261px;
	height: 78px;
	min-height: 0px;
	margin: 0px;
}

#u996
{
	position: absolute;
	width: 826px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -337px;
	left: 1121px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u996popup
{
	z-index: 500;
}

#u997
{
	z-index: 501;
	width: 782px;
	height: 1076px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1011
{
	z-index: 502;
	width: 761px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#u1018-12
{
	z-index: 503;
	display: block;
	vertical-align: top;
	position: relative;
}

#u1015
{
	z-index: 546;
	width: 720px;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#u1017-12
{
	z-index: 515;
	display: block;
	vertical-align: top;
	margin-top: 33px;
	position: relative;
}

#ppu1013
{
	width: 0.01px;
	margin-left: 32px;
	margin-top: 10px;
}

#u1013
{
	z-index: 540;
	width: 19px;
	background-color: transparent;
	position: relative;
}

#u1021
{
	z-index: 542;
	width: 19px;
	background-color: transparent;
	margin-top: 40px;
	position: relative;
}

#u1019
{
	z-index: 544;
	width: 19px;
	background-color: transparent;
	margin-top: 39px;
	position: relative;
}

#u1012-13
{
	z-index: 527;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 37px;
}

#u994
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -310px;
	left: 1888px;
}

#u994:hover
{
	background-color: #999999;
	margin: 0px;
}

#u995-4
{
	z-index: 549;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#pu765-18
{
	width: 0.01px;
	padding-bottom: 361px;
	margin-left: -54px;
	margin-top: -351px;
}

#u765-18
{
	z-index: 233;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#pamphletu1029
{
	z-index: 553;
	width: 0.01px;
	height: 85px;
	position: relative;
	margin-right: -10000px;
	margin-top: 265px;
	left: 69px;
}

#u1037
{
	z-index: 554;
	width: 748px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1040
{
	position: absolute;
	width: 480px;
	height: 84px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1040:hover
{
	border-color: #999999;
	width: 480px;
	height: 84px;
	min-height: 0px;
	margin: 0px;
}

#u1058
{
	position: absolute;
	width: 253px;
	height: 84px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 493px;
}

#u1058:hover
{
	border-color: #999999;
	width: 253px;
	height: 84px;
	min-height: 0px;
	margin: 0px;
}

#u1043
{
	position: absolute;
	width: 753px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -187px;
	left: 1141px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u1043popup
{
	z-index: 557;
}

#u1044
{
	z-index: 558;
	width: 709px;
	height: 589px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1060-13
{
	z-index: 559;
	position: relative;
	width: 682px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 13px;
}

#u1059
{
	z-index: 572;
	width: 709px;
	height: 589px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1061-20
{
	z-index: 573;
	position: relative;
	width: 676px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 16px;
}

#u1041
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -162px;
	left: 1839px;
}

#u1041:hover
{
	background-color: #999999;
	margin: 0px;
}

#u928:active,#u994:active,#u1041:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u1042-4
{
	z-index: 594;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u766-4
{
	z-index: 251;
	display: block;
	vertical-align: top;
	margin-left: 421px;
	top: -480px;
	margin-bottom: -19px;
	position: relative;
}

#u971
{
	z-index: 495;
	width: 1001px;
	background-color: transparent;
	margin-left: 15px;
	top: -440px;
	margin-bottom: -79px;
	position: relative;
}

#u781-4
{
	z-index: 255;
	display: block;
	vertical-align: top;
	left: -63px;
	margin-top: 28px;
	position: relative;
}

#ppu782-13
{
	width: 0.01px;
	margin-left: -47px;
	margin-top: 37px;
}

#u782-13
{
	z-index: 259;
	margin-left: 6px;
	position: relative;
}

#ppu784
{
	width: 0.01px;
}

#u784
{
	z-index: 279;
	width: 19px;
	background-color: transparent;
	position: relative;
}

#u787
{
	z-index: 281;
	width: 19px;
	background-color: transparent;
	margin-top: 69px;
	position: relative;
}

#u783-7
{
	z-index: 272;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 18px;
}

#u1062
{
	z-index: 598;
	width: 554px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	left: 589px;
}

#u790-4
{
	z-index: 283;
	display: block;
	vertical-align: top;
	left: -65px;
	margin-top: 171px;
	position: relative;
}

#u791-14
{
	z-index: 287;
	display: block;
	vertical-align: top;
	left: -65px;
	margin-top: 14px;
	position: relative;
}

#ppu793
{
	width: 0.01px;
	margin-left: -57px;
}

#pu649,#pu793
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u793
{
	z-index: 308;
	width: 19px;
	background-color: transparent;
	position: relative;
}

#u796
{
	z-index: 310;
	width: 19px;
	background-color: transparent;
	margin-top: 37px;
	position: relative;
}

#u792-7
{
	z-index: 301;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 29px;
}

#u1067
{
	z-index: 600;
	width: 1002px;
	background-color: transparent;
	left: -12px;
	position: relative;
}

#u801-4
{
	z-index: 312;
	display: block;
	vertical-align: top;
	left: -42px;
	margin-top: 156px;
	position: relative;
}

#u802-13
{
	z-index: 316;
	display: block;
	vertical-align: top;
	left: -42px;
	margin-top: 13px;
	position: relative;
}

#u1072
{
	z-index: 602;
	width: 1002px;
	background-color: transparent;
	margin-left: 14px;
	margin-top: 28px;
	position: relative;
}

#u803-10
{
	z-index: 329;
	display: block;
	vertical-align: top;
	left: -42px;
	margin-top: 23px;
	position: relative;
}

#u804-8
{
	z-index: 339;
	display: block;
	vertical-align: top;
	left: -43px;
	position: relative;
}

#ppu807
{
	width: 0.01px;
	margin-left: -33px;
	margin-top: 18px;
}

#u807
{
	z-index: 370;
	width: 19px;
	background-color: transparent;
	position: relative;
}

#u810
{
	z-index: 372;
	width: 19px;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
}

#u813
{
	z-index: 374;
	width: 19px;
	background-color: transparent;
	margin-top: 10px;
	position: relative;
}

#u816
{
	z-index: 376;
	width: 19px;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#u819
{
	z-index: 378;
	width: 19px;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#u825
{
	z-index: 380;
	width: 19px;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#u805-15
{
	z-index: 347;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 22px;
}

#u806-8
{
	z-index: 362;
	left: -58px;
	margin-top: 36px;
	position: relative;
}

#u1060-13_img,#u1061-20_img,#u782-13_img,#u806-8_img
{
	display: block;
	vertical-align: top;
}

#u829-8
{
	z-index: 382;
	display: block;
	vertical-align: top;
	left: -86px;
	margin-top: 175px;
	position: relative;
}

#u1077
{
	z-index: 604;
	width: 584px;
	background-color: transparent;
	margin-left: 215px;
	margin-top: 21px;
	position: relative;
}

#ppu831
{
	width: 0.01px;
	margin-left: -81px;
	margin-top: 46px;
}

#pu954,#pu1013,#pu782-13,#pu784,#pu807,#pu831
{
	width: 0.01px;
	margin-right: -10000px;
}

#u831
{
	z-index: 403;
	width: 19px;
	background-color: transparent;
	position: relative;
}

#u834
{
	z-index: 405;
	width: 19px;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#u837
{
	z-index: 407;
	width: 19px;
	background-color: transparent;
	margin-top: 11px;
	position: relative;
}

#u840
{
	z-index: 409;
	width: 19px;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#u843
{
	z-index: 411;
	width: 19px;
	background-color: transparent;
	margin-top: 7px;
	position: relative;
}

#u830-13
{
	z-index: 390;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 23px;
}

#u846-6
{
	z-index: 413;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -81px;
	margin-top: 33px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u846-4
{
	padding-left: 30px;
}

#u846-2
{
	color: #B63B6A;
}

#u847
{
	z-index: 420;
	left: -81px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u847_states.png") no-repeat 0px 0px;
}

#u847_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u847:hover #u847_states
{
	background: url("../images/u847_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

