.version.tema2 /* version checker */
{
	color: #0000F4;
	background-color: #BA4D2E;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1016
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1173
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 130px;
}

#u1014
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u568-4
{
	z-index: 5;
	width: 388px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 708px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u1020
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1020_img
{
	margin-right: -1px;
}

#u504
{
	z-index: 17;
	border-color: #000000;
	background-color: #F6772C;
}

#u504_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
	padding-top: 41px;
	padding-bottom: 195px;
}

#u935
{
	z-index: 239;
	width: 412px;
	background-color: transparent;
	left: 766px;
	position: relative;
}

#u505-4
{
	z-index: 18;
	width: 662px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	left: 120px;
	margin-top: 59px;
	position: relative;
}

#u504-bw
{
	z-index: 17;
	margin-top: 8px;
	height: 499px;
}

#u862
{
	z-index: 223;
	width: 1122px;
	background-color: transparent;
	left: -53px;
	margin-top: 30px;
	position: relative;
}

#u682-22
{
	z-index: 22;
	display: block;
	vertical-align: top;
	left: -53px;
	margin-top: 45px;
	position: relative;
}

#u867
{
	z-index: 225;
	width: 1019px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 19px;
	position: relative;
}

#u683-8
{
	z-index: 44;
	display: block;
	vertical-align: top;
	left: -53px;
	margin-top: 101px;
	position: relative;
}

#u872
{
	z-index: 227;
	width: 1121px;
	background-color: transparent;
	left: -53px;
	margin-top: 40px;
	position: relative;
}

#u877
{
	z-index: 229;
	width: 1120px;
	background-color: transparent;
	left: -52px;
	margin-top: 211px;
	position: relative;
}

#u684-30
{
	z-index: 52;
	display: block;
	vertical-align: top;
	left: -66px;
	margin-top: 173px;
	position: relative;
}

#u882
{
	z-index: 231;
	width: 934px;
	background-color: transparent;
	margin-left: 40px;
	margin-top: 24px;
	position: relative;
}

#pu887
{
	width: 0.01px;
	margin-left: -80px;
	margin-top: 200px;
}

#u887
{
	z-index: 233;
	width: 476px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 50px;
}

#ppu685-15
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 506px;
}

#pu685-15
{
	width: 0.01px;
	padding-bottom: 92px;
}

#u685-15
{
	z-index: 82;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#pamphletu721
{
	z-index: 122;
	width: 0.01px;
	height: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 453px;
	left: 160px;
}

#u741
{
	z-index: 123;
	width: 335px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u742
{
	position: absolute;
	width: 333px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u742:hover
{
	border-color: #999999;
	width: 333px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
}

#u727
{
	position: absolute;
	width: 1132px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -396px;
	left: 530px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u727popup
{
	z-index: 125;
}

#u728
{
	z-index: 126;
	width: 1088px;
	height: 488px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u750
{
	z-index: 127;
	width: 610px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 28px;
}

#u751-6
{
	z-index: 128;
	display: block;
	vertical-align: top;
	position: relative;
}

#ppu752
{
	width: 0.01px;
	margin-top: 15px;
}

#pu752
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u752
{
	z-index: 147;
	width: 19px;
	background-color: transparent;
	position: relative;
}

#u756
{
	z-index: 149;
	width: 19px;
	background-color: transparent;
	margin-top: 38px;
	position: relative;
}

#u758
{
	z-index: 151;
	width: 19px;
	background-color: transparent;
	margin-top: 39px;
	position: relative;
}

#u760
{
	z-index: 153;
	width: 19px;
	background-color: transparent;
	margin-top: 67px;
	position: relative;
}

#u754
{
	z-index: 155;
	width: 19px;
	background-color: transparent;
	margin-top: 92px;
	position: relative;
}

#u762-13
{
	z-index: 134;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 25px;
}

#u892
{
	z-index: 157;
	width: 410px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 655px;
}

#u739
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -373px;
	left: 1611px;
}

#u739:hover
{
	background-color: #999999;
	margin: 0px;
}

#u740-4
{
	z-index: 160;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#ppu688
{
	width: 0.01px;
	margin-left: 14px;
	margin-top: -370px;
}

#pu688
{
	width: 0.01px;
	margin-right: -10000px;
}

#u688
{
	z-index: 110;
	width: 19px;
	background-color: transparent;
	position: relative;
}

#u691
{
	z-index: 112;
	width: 19px;
	background-color: transparent;
	margin-top: 39px;
	position: relative;
}

#u694
{
	z-index: 114;
	width: 19px;
	background-color: transparent;
	margin-top: 8px;
	position: relative;
}

#u686-9
{
	z-index: 97;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 28px;
}

#u687-4
{
	z-index: 106;
	display: block;
	vertical-align: top;
	margin-left: 500px;
	top: -174px;
	margin-bottom: -19px;
	position: relative;
}

#u699
{
	z-index: 116;
	width: 315px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 595px;
	top: -135px;
	margin-bottom: -43px;
	position: relative;
}

#u697
{
	z-index: 117;
	width: 315px;
	border-style: none;
	border-color: transparent;
	background-color: #B63B6A;
	padding-bottom: 3px;
	position: relative;
	margin-right: -10000px;
}

#u698-4
{
	z-index: 118;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 11px;
}

#u768-4
{
	z-index: 164;
	display: block;
	vertical-align: top;
	left: -54px;
	margin-top: 81px;
	position: relative;
}

#u769-12
{
	z-index: 168;
	display: block;
	vertical-align: top;
	left: -55px;
	margin-top: 15px;
	position: relative;
}

#u897
{
	z-index: 235;
	width: 515px;
	background-color: transparent;
	margin-left: 255px;
	margin-top: 14px;
	position: relative;
}

#u770-12
{
	z-index: 180;
	display: block;
	vertical-align: top;
	left: -54px;
	margin-top: 15px;
	position: relative;
}

#pu902
{
	width: 0.01px;
	margin-left: -62px;
	margin-top: 139px;
}

#u902
{
	z-index: 237;
	width: 1124px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u949
{
	z-index: 241;
	width: 11px;
	height: 12px;
	border-color: #000000;
	background-color: #291941;
	position: relative;
	margin-right: -10000px;
	margin-top: 230px;
	left: 863px;
}

#u774-4
{
	z-index: 208;
	display: block;
	vertical-align: top;
	margin-left: 23px;
	margin-top: 173px;
	position: relative;
}

#u773-6
{
	z-index: 202;
	display: block;
	vertical-align: top;
	margin-left: 22px;
	margin-top: 31px;
	position: relative;
}

#u772-10
{
	z-index: 192;
	display: block;
	vertical-align: top;
	margin-left: 22px;
	margin-top: 4px;
	position: relative;
}

#pamphletu1137
{
	z-index: 244;
	width: 0.01px;
	height: 75px;
	margin-left: 344px;
	margin-top: 168px;
	position: relative;
}

#u1138
{
	z-index: 245;
	width: 309px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u1139
{
	position: absolute;
	width: 307px;
	height: 74px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u1139:hover
{
	border-color: #999999;
	width: 307px;
	height: 74px;
	min-height: 0px;
	margin: 0px;
}

#u1144
{
	position: absolute;
	width: 703px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -163px;
	left: 804px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u1144popup
{
	z-index: 247;
}

#u1145
{
	z-index: 248;
	width: 659px;
	height: 205px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u1146-4
{
	z-index: 249;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 24px;
}

#u1142
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -141px;
	left: 1560px;
}

#u1142:hover
{
	background-color: #999999;
	margin: 0px;
}

#u739:active,#u1142:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u1143-4
{
	z-index: 254;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u775
{
	z-index: 212;
	width: 352px;
	background-color: transparent;
	margin-left: 297px;
	top: -179px;
	margin-bottom: -79px;
	position: relative;
}

#u1135
{
	z-index: 242;
	width: 277px;
	background-color: transparent;
	margin-left: 344px;
	top: -63px;
	margin-bottom: -63px;
	position: relative;
}

#u777-6
{
	z-index: 214;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-left: 11px;
	margin-top: 65px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u777-4
{
	padding-left: 30px;
}

#u777-2
{
	color: #B63B6A;
}

#u778
{
	z-index: 221;
	margin-left: 11px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u778_states.png") no-repeat 0px 0px;
}

#u778_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u778:hover #u778_states
{
	background: url("../images/u778_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

