#u151
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	border-width: 0px 0px 1px;
}

#u151_align_to_page
{
	position: relative;
}

#u6380-4
{
	background-color: transparent;
	line-height: 22px;
	font-size: 18px;
	color: #B63B6A;
	text-align: right;
	position: relative;
}

#u6964,#u7035,#u6313,#u6962,#u6968
{
	background-color: transparent;
	position: relative;
}

