.version.recomendaciones /* version checker */
{
	color: #0000ED;
	background-color: #E4B0D5;
}

.html
{
	background-color: #FBFBFB;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.5500000000001px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 7px;
	padding-bottom: 75px;
}

#pamphletu6666
{
	z-index: 25;
	width: 0.01px;
	height: 315px;
	margin-left: 141px;
	margin-top: 282px;
	position: relative;
}

#u6667
{
	z-index: 26;
	width: 733px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u6669
{
	position: absolute;
	width: 338px;
	height: 314px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u6669:hover
{
	border-color: #999999;
	width: 338px;
	height: 314px;
	min-height: 0px;
	margin: 0px;
}

#u6695
{
	position: absolute;
	width: 336px;
	height: 314px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 395px;
}

#u6695:hover
{
	border-color: #999999;
	width: 336px;
	height: 314px;
	min-height: 0px;
	margin: 0px;
}

#u6673
{
	position: absolute;
	width: 1181px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -379px;
	left: 1126px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u6673popup
{
	z-index: 29;
}

#u6674
{
	z-index: 30;
	width: 1137px;
	height: 596px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6674_position_content
{
	padding-top: 31px;
	padding-bottom: 32px;
}

#u6705-4
{
	z-index: 33;
	display: block;
	vertical-align: top;
	position: relative;
}

#u6703
{
	z-index: 31;
	width: 1137px;
	background-color: transparent;
	margin-top: 15px;
	position: relative;
}

#u6696
{
	z-index: 37;
	width: 1137px;
	height: 596px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6699-4
{
	z-index: 40;
	display: block;
	vertical-align: top;
	position: relative;
}

#u6697
{
	z-index: 38;
	width: 1137px;
	background-color: transparent;
	margin-top: 22px;
	position: relative;
}

#u6671
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -356px;
	left: 2252px;
}

#u6671:hover
{
	background-color: #999999;
	margin: 0px;
}

#u6671:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u6672-4
{
	z-index: 45;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u6587
{
	z-index: 53;
	width: 1216px;
	top: -10px;
	left: -100px;
}

#u551
{
	z-index: 54;
	width: 1216px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u6382-4
{
	z-index: 57;
	width: 597px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 507px;
}

#u6321
{
	z-index: 55;
	width: 80px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1124px;
}

#u7001
{
	z-index: 63;
	width: 500px;
	top: 3px;
	left: -83px;
}

#pu7048
{
	width: 0.01px;
	margin-left: 30px;
	margin-top: -594px;
}

#u7048
{
	z-index: 67;
	width: 177px;
	margin-right: -10000px;
}

#u4747-4
{
	z-index: 2;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 24px;
	left: 765px;
}

#pu7005
{
	width: 0.01px;
	padding-bottom: 60px;
	margin-left: 213px;
	margin-top: -597px;
}

#u7005
{
	z-index: 65;
	width: 78px;
	top: 7px;
	left: 213px;
}

#u7005_img
{
	margin-right: -1px;
}

#u6999
{
	z-index: 61;
	width: 218px;
	top: 11px;
	left: 290px;
}

#u6384-4
{
	z-index: 6;
	display: block;
	vertical-align: top;
	left: -25px;
	top: -495px;
	margin-bottom: -44px;
	position: relative;
}

#u6385-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	margin-left: 10px;
	top: -438px;
	margin-bottom: -58px;
	position: relative;
}

#u6709-4
{
	z-index: 49;
	display: block;
	vertical-align: top;
	margin-left: 343px;
	top: -356px;
	margin-bottom: -19px;
	position: relative;
}

#u6649
{
	z-index: 23;
	width: 732px;
	background-color: transparent;
	margin-left: 141px;
	top: -321px;
	margin-bottom: -311px;
	position: relative;
}

#u6449-6
{
	z-index: 14;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-left: 10px;
	margin-top: 21px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u6449-4
{
	padding-left: 30px;
}

#u6449-2
{
	color: #B63B6A;
}

#u6450
{
	z-index: 21;
	left: -68px;
	margin-top: 21px;
	position: relative;
	background: url("../images/u6450_states.png") no-repeat 0px 0px;
}

#u6450_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u6450:hover #u6450_states
{
	background: url("../images/u6450_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#page .verticalspacer
{
	clear: both;
}

