.version.tema2 /* version checker */
{
	color: #0000E0;
	background-color: #C0B78C;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.6375000000005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu516
{
	width: 0.01px;
	margin-left: -100px;
}

#u516
{
	z-index: 2;
	padding-bottom: 6px;
}

#u516_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1189
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1216
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 130px;
}

#u523-4
{
	z-index: 5;
	width: 559px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 537px;
}

#u521
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u516-bw
{
	z-index: 2;
	height: 84px;
}

#u1187
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1193
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1193_img
{
	margin-right: -1px;
}

#pu504
{
	width: 0.01px;
	padding-bottom: 42px;
	margin-left: -1359px;
	margin-top: 8px;
}

#u504
{
	z-index: 17;
	border-color: #000000;
	background-color: #F6772C;
}

#u504_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
	padding-top: 41px;
	padding-bottom: 119px;
}

#u1114
{
	z-index: 223;
	width: 412px;
	background-color: transparent;
	left: 766px;
	position: relative;
}

#u505-4
{
	z-index: 18;
	width: 679px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	left: 128px;
	margin-top: 207px;
	position: relative;
}

#u504-bw
{
	z-index: 17;
	height: 499px;
}

#pamphletu811
{
	z-index: 48;
	width: 0.01px;
	height: 83px;
	position: relative;
	margin-right: -10000px;
	margin-top: 930px;
	left: 1396px;
}

#u812
{
	z-index: 49;
	width: 558px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u815
{
	position: absolute;
	width: 178px;
	height: 82px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u859
{
	position: absolute;
	width: 178px;
	height: 82px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 189px;
}

#u861
{
	position: absolute;
	width: 178px;
	height: 82px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 378px;
}

#u815:hover,#u859:hover,#u861:hover
{
	border-color: #999999;
	width: 178px;
	height: 82px;
	min-height: 0px;
	margin: 0px;
}

#u816
{
	position: absolute;
	width: 1180px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -638px;
	left: -1396px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u816popup
{
	z-index: 53;
}

#u817
{
	z-index: 54;
	width: 1085px;
	height: 703px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-left: 25px;
	padding-right: 26px;
	padding-bottom: 17px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u875-15
{
	z-index: 55;
	display: block;
	vertical-align: top;
	margin-left: 1px;
	position: relative;
}

#u876
{
	z-index: 70;
	width: 1084px;
	background-color: transparent;
	margin-left: 1px;
	margin-top: 17px;
	position: relative;
}

#u878-19
{
	z-index: 72;
	display: block;
	vertical-align: top;
	margin-top: 17px;
	position: relative;
}

#u860
{
	z-index: 91;
	width: 1136px;
	height: 720px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u883-57
{
	z-index: 92;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 16px;
}

#u862
{
	z-index: 149;
	width: 1136px;
	height: 720px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u885-40
{
	z-index: 150;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 11px;
}

#u831
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -615px;
	left: -271px;
}

#u831:hover
{
	background-color: #999999;
	margin: 0px;
}

#u832-4
{
	z-index: 191;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pamphletu840
{
	z-index: 195;
	width: 0.01px;
	height: 75px;
	position: relative;
	margin-right: -10000px;
	margin-top: 939px;
	left: 1983px;
}

#u848
{
	z-index: 196;
	width: 367px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u849
{
	position: absolute;
	width: 177px;
	height: 74px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u857
{
	position: absolute;
	width: 177px;
	height: 74px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 188px;
}

#u849:hover,#u857:hover
{
	border-color: #999999;
	width: 177px;
	height: 74px;
	min-height: 0px;
	margin: 0px;
}

#u850
{
	position: absolute;
	width: 665px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -639px;
	left: 558px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u850popup
{
	z-index: 199;
}

#u851
{
	z-index: 200;
	width: 621px;
	height: 280px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u886-8
{
	z-index: 201;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 18px;
}

#u858
{
	z-index: 209;
	width: 621px;
	height: 280px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u887-8
{
	z-index: 210;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	left: 20px;
}

#u846
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -616px;
	left: 1171px;
}

#u846:hover
{
	background-color: #999999;
	margin: 0px;
}

#u831:active,#u846:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u847-4
{
	z-index: 219;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u807-11
{
	z-index: 24;
	display: block;
	vertical-align: top;
	left: -32px;
	top: -426px;
	margin-bottom: -234px;
	position: relative;
}

#u808-4
{
	z-index: 35;
	display: block;
	vertical-align: top;
	margin-left: 430px;
	top: -180px;
	margin-bottom: -19px;
	position: relative;
}

#u802
{
	z-index: 22;
	width: 1037px;
	background-color: transparent;
	top: -161px;
	margin-bottom: -160px;
	position: relative;
}

#u809-6
{
	z-index: 39;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -32px;
	margin-top: 100px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u809-4
{
	padding-left: 30px;
}

#u809-2
{
	color: #B63B6A;
}

#u810
{
	z-index: 46;
	left: -32px;
	margin-top: 60px;
	position: relative;
	background: url("../images/u810_states.png") no-repeat 0px 0px;
}

#u810_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u810:hover #u810_states
{
	background: url("../images/u810_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

