.version.tema1 /* version checker */
{
	color: #0000F4;
	background-color: #B2A333;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.9375px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu516
{
	width: 0.01px;
	margin-left: -100px;
}

#u516
{
	z-index: 2;
	padding-bottom: 6px;
}

#u516_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1130
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1156
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 130px;
}

#u523-4
{
	z-index: 5;
	width: 559px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 537px;
}

#u521
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u516-bw
{
	z-index: 2;
	height: 84px;
}

#u1128
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1134
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1134_img
{
	margin-right: -1px;
}

#u176
{
	z-index: 18;
	border-color: #000000;
	background-color: #940157;
}

#u176_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
	padding-top: 41px;
	padding-bottom: 105px;
}

#u1041
{
	z-index: 282;
	width: 412px;
	background-color: transparent;
	left: 766px;
	position: relative;
}

#u178-4
{
	z-index: 19;
	width: 795px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	left: 132px;
	margin-top: 149px;
	position: relative;
}

#u176-bw
{
	z-index: 18;
	margin-top: 8px;
	height: 499px;
}

#u646-8
{
	z-index: 23;
	display: block;
	vertical-align: top;
	left: -55px;
	margin-top: 45px;
	position: relative;
}

#pu647-14
{
	width: 0.01px;
	padding-bottom: 331px;
	margin-top: 15px;
}

#u647-14
{
	z-index: 31;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#pamphletu701
{
	z-index: 99;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 519px;
	left: 740px;
}

#u702
{
	z-index: 100;
	width: 277px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u705
{
	position: absolute;
	width: 275px;
	height: 99px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u705:hover
{
	border-color: #999999;
	width: 275px;
	height: 99px;
	min-height: 0px;
	margin: 0px;
}

#u706
{
	position: absolute;
	width: 988px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -283px;
	left: 1079px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u706popup
{
	z-index: 102;
}

#u707
{
	z-index: 103;
	width: 944px;
	height: 670px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u730-45
{
	z-index: 104;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 25px;
}

#u721
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -260px;
	left: 2015px;
}

#u721:hover
{
	background-color: #999999;
	margin: 0px;
}

#u722-4
{
	z-index: 150;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pu649
{
	width: 0.01px;
	padding-bottom: 117px;
	margin-left: -55px;
	margin-top: -643px;
}

#u649
{
	z-index: 17;
	width: 1126px;
	border-width: 1px;
	border-style: solid;
	border-color: #D4145A;
	background-color: #FFEAF2;
	padding-bottom: 23px;
	position: relative;
	margin-right: -10000px;
}

#u648-8
{
	z-index: 45;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 25px;
}

#pamphletu664
{
	z-index: 63;
	width: 0.01px;
	height: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 212px;
	left: 48px;
}

#u665
{
	z-index: 64;
	width: 646px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u668
{
	position: absolute;
	width: 276px;
	height: 99px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u668:hover
{
	border-color: #999999;
	width: 276px;
	height: 99px;
	min-height: 0px;
	margin: 0px;
}

#u693
{
	position: absolute;
	width: 267px;
	height: 97px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	top: 2px;
	left: 377px;
}

#u693:hover
{
	border-color: #999999;
	width: 267px;
	height: 97px;
	min-height: 0px;
	margin: 0px;
}

#u669
{
	position: absolute;
	width: 710px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -119px;
	left: 1157px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u669popup
{
	z-index: 67;
}

#u670
{
	z-index: 68;
	width: 666px;
	height: 292px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u700-7
{
	z-index: 69;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	left: 20px;
}

#u694
{
	z-index: 76;
	width: 666px;
	height: 292px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u695
{
	z-index: 77;
	width: 626px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 20px;
}

#u698-7
{
	z-index: 78;
	display: block;
	vertical-align: top;
	left: -1px;
	position: relative;
}

#u696-4
{
	z-index: 85;
	display: block;
	vertical-align: top;
	margin-left: 14px;
	position: relative;
}

#u697
{
	z-index: 89;
	width: 626px;
	border-color: #000000;
	background-color: #B63B6A;
	padding-bottom: 14px;
	margin-top: 11px;
	position: relative;
}

#u699-4
{
	z-index: 90;
	position: relative;
	width: 626px;
	margin-right: -10000px;
	margin-top: 14px;
}

#u699-4_img
{
	display: block;
	vertical-align: top;
}

#u684
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -86px;
	left: 1808px;
}

#u684:hover
{
	background-color: #999999;
	margin: 0px;
}

#u685-4
{
	z-index: 95;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u650-4
{
	z-index: 53;
	display: block;
	vertical-align: top;
	left: -55px;
	top: -518px;
	margin-bottom: -29px;
	position: relative;
}

#u656-4
{
	z-index: 59;
	display: block;
	vertical-align: top;
	margin-left: 418px;
	top: -468px;
	margin-bottom: -19px;
	position: relative;
}

#u651
{
	z-index: 57;
	width: 1026px;
	background-color: transparent;
	left: -7px;
	top: -431px;
	margin-bottom: -100px;
	position: relative;
}

#u731-21
{
	z-index: 154;
	display: block;
	vertical-align: top;
	left: -31px;
	top: -153px;
	margin-bottom: -153px;
	position: relative;
}

#u737-6
{
	z-index: 177;
	display: block;
	vertical-align: top;
	left: -31px;
	margin-top: 3px;
	position: relative;
}

#u732
{
	z-index: 175;
	width: 605px;
	background-color: transparent;
	margin-left: 203px;
	margin-top: 27px;
	position: relative;
}

#pamphletu760
{
	z-index: 220;
	width: 0.01px;
	height: 53px;
	margin-left: 348px;
	margin-top: 724px;
	position: relative;
}

#u761
{
	z-index: 221;
	width: 297px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u764
{
	position: absolute;
	width: 295px;
	height: 52px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u764:hover
{
	border-color: #999999;
	width: 295px;
	height: 52px;
	min-height: 0px;
	margin: 0px;
}

#u765
{
	position: absolute;
	width: 1078px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -570px;
	left: 788px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u765popup
{
	z-index: 223;
}

#u766
{
	z-index: 224;
	width: 1034px;
	height: 839px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u790
{
	z-index: 225;
	width: 994px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 20px;
}

#u791-6
{
	z-index: 226;
	display: block;
	vertical-align: top;
	position: relative;
}

#u794-16
{
	z-index: 232;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 524px;
	position: relative;
}

#u1058
{
	z-index: 248;
	width: 995px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
	left: 14px;
}

#u780
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -542px;
	left: 1802px;
}

#u780:hover
{
	background-color: #999999;
	margin: 0px;
}

#u721:active,#u684:active,#u780:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u781-4
{
	z-index: 251;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u740-4
{
	z-index: 183;
	display: block;
	vertical-align: top;
	left: -49px;
	top: -541px;
	margin-bottom: -58px;
	position: relative;
}

#pu741-9
{
	width: 0.01px;
	margin-left: 64px;
	margin-top: -454px;
}

#u741-9
{
	z-index: 187;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#u742-7
{
	z-index: 196;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 504px;
}

#u748
{
	z-index: 218;
	width: 714px;
	background-color: transparent;
	margin-left: 139px;
	top: -322px;
	margin-bottom: -92px;
	position: relative;
}

#u748_img
{
	margin-bottom: -1px;
}

#u744-6
{
	z-index: 203;
	display: block;
	vertical-align: top;
	left: -49px;
	top: -201px;
	margin-bottom: -87px;
	position: relative;
}

#u745-4
{
	z-index: 209;
	display: block;
	vertical-align: top;
	margin-left: 348px;
	top: -86px;
	margin-bottom: -19px;
	position: relative;
}

#u746
{
	z-index: 213;
	width: 296px;
	border-color: #000000;
	background-color: #B63B6A;
	padding-bottom: 7px;
	margin-left: 348px;
	top: -51px;
	margin-bottom: -51px;
	position: relative;
}

#u747-4
{
	z-index: 214;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#u798-4
{
	z-index: 255;
	display: block;
	vertical-align: top;
	margin-left: 28px;
	margin-top: 240px;
	position: relative;
}

#u799-4
{
	z-index: 259;
	display: block;
	vertical-align: top;
	margin-left: 28px;
	margin-top: 10px;
	position: relative;
}

#u800-4
{
	z-index: 263;
	display: block;
	vertical-align: top;
	margin-left: 29px;
	margin-top: 18px;
	position: relative;
}

#u801-4
{
	z-index: 267;
	display: block;
	vertical-align: top;
	margin-left: 29px;
	position: relative;
}

#u802
{
	z-index: 271;
	width: 352px;
	background-color: transparent;
	margin-left: 348px;
	margin-top: 78px;
	position: relative;
}

#u807-6
{
	z-index: 273;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-left: 29px;
	margin-top: 139px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u807-4
{
	padding-left: 30px;
}

#u807-2
{
	color: #B63B6A;
}

#u808
{
	z-index: 280;
	margin-left: 29px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u808_states.png") no-repeat 0px 0px;
}

#u808_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u808:hover #u808_states
{
	background: url("../images/u808_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

