.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u561
{
	z-index: 2;
	width: 1216px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}


#pu568-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 23px;
	left: 563px;
}

#u568-4
{
	z-index: 5;
	width: 533px;
}

#u612-4
{
	z-index: 27;
	display: block;
	vertical-align: top;
	margin-left: 333px;
	margin-top: 2px;
	position: relative;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u1176
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 25px;
}

#pu609-14
{
	width: 0.01px;
	left: -10px;
	margin-top: 98px;
	position: relative;
}

#u609-14
{
	z-index: 13;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 59px;
}

#u830
{
	z-index: 91;
	width: 439px;
	position: relative;
	margin-right: -10000px;
	left: 624px;
}

#pu613
{
	width: 0.01px;
	left: -81px;
	margin-top: 289px;
	position: relative;
}

#u613
{
	z-index: 31;
	width: 530px;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u615
{
	z-index: 33;
	width: 542px;
	position: relative;
	margin-right: -10000px;
	left: 575px;
}

#u617
{
	z-index: 35;
	width: 700px;
	border-style: none;
	border-color: transparent;
	background-color: #E6E6E6;
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
	left: 497px;
}

#u619-13
{
	z-index: 40;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 12px;
	left: 19px;
}

#u618-4
{
	z-index: 36;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	left: 506px;
}

#u632-4
{
	z-index: 56;
	display: block;
	vertical-align: top;
	margin-top: 283px;
	position: relative;
}

#u633-4
{
	z-index: 60;
	display: block;
	vertical-align: top;
	position: relative;
}

#u637-6
{
	z-index: 76;
	display: block;
	vertical-align: top;
	margin-top: 30px;
	position: relative;
}

#pu629
{
	width: 0.01px;
	margin-top: 30px;
	position: relative;
}

#u629
{
	z-index: 53;
	width: 928px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u634-4
{
	z-index: 64;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 13px;
}

#u631
{
	z-index: 55;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #F7E1E9;
	background-color: rgba(217, 105, 148, 0.2);
	padding-bottom: 2px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
	-pie-background: rgba(217, 105, 148, 0.2);
}

#u636-4
{
	z-index: 72;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 13px;
}

#u630
{
	z-index: 54;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	padding-bottom: 2px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u635-4
{
	z-index: 68;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 13px;
}

#u638-6
{
	z-index: 82;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-top: 77px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u638-4
{
	padding-left: 30px;
}

#u638-2
{
	color: #B63B6A;
}

#u639
{
	z-index: 89;
	background: url("../images/u639_states.png") no-repeat 0px 0px;
	margin-top: 31px;
	position: relative;
}

#u639_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u639:hover #u639_states
{
	background: url("../images/u639_states-r.png") no-repeat 0px 0px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

