.version.evaluacion /* version checker */
{
	color: #0000F7;
	background-color: #76F360;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 128px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1002
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1040
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 130px;
}

#u1000
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u568-4
{
	z-index: 5;
	width: 328px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 768px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u1006
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1006_img
{
	margin-right: -1px;
}

#u576-4
{
	z-index: 17;
	display: block;
	vertical-align: top;
	margin-left: 4px;
	margin-top: 42px;
	position: relative;
}

#u970
{
	z-index: 30;
	width: 352px;
	background-color: transparent;
	margin-left: 332px;
	margin-top: 89px;
	position: relative;
}

#u968-6
{
	z-index: 21;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-top: 88px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u968-4
{
	padding-left: 30px;
}

#u968-2
{
	color: #B63B6A;
}

#u969
{
	z-index: 28;
	left: -46px;
	margin-top: 13px;
	position: relative;
	background: url("../images/u969_states.png") no-repeat 0px 0px;
}

#u969_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u969:hover #u969_states
{
	background: url("../images/u969_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

