.version.introduccion /* version checker */
{
	color: #0000EF;
	background-color: #05509F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.8375000000001px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1329
{
	z-index: 87;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}


#u568-4
{
	z-index: 5;
	width: 377px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 719px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}


#u1333_img
{
	margin-right: -1px;
}

#pu885
{
	width: 0.01px;
	margin-left: -82px;
	margin-top: 94px;
}

#u885
{
	z-index: 93;
	width: 450px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
}

#u631-19
{
	z-index: 66;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 456px;
}

#pu604
{
	width: 0.01px;
	margin-left: -82px;
	margin-top: 219px;
}

#u604
{
	z-index: 9;
	width: 530px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u606
{
	z-index: 11;
	width: 542px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 575px;
}

#u608
{
	z-index: 13;
	width: 775px;
	border-style: none;
	border-color: transparent;
	background-color: #E6E6E6;
	padding-bottom: 18px;
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
	left: 422px;
}

#u610-10
{
	z-index: 18;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 12px;
}

#u609-4
{
	z-index: 14;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	left: 506px;
}

#u623-4
{
	z-index: 31;
	display: block;
	vertical-align: top;
	margin-left: 87px;
	margin-top: 273px;
	position: relative;
}

#u624-4
{
	z-index: 35;
	display: block;
	vertical-align: top;
	margin-left: 88px;
	position: relative;
}

#u628-6
{
	z-index: 51;
	display: block;
	vertical-align: top;
	margin-left: 88px;
	margin-top: 30px;
	position: relative;
}

#pu620
{
	width: 0.01px;
	margin-left: 88px;
	margin-top: 85px;
}

#u620
{
	z-index: 28;
	width: 928px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u625-4
{
	z-index: 39;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 12px;
}

#u622
{
	z-index: 30;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #F7E1E9;
	background-color: rgba(217, 105, 148, 0.2);
	padding-bottom: 2px;
	margin-left: 88px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
	-pie-background: rgba(217, 105, 148, 0.2);
}

#u627-4
{
	z-index: 47;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 12px;
}

#u621
{
	z-index: 29;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	padding-bottom: 2px;
	margin-left: 88px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u626-4
{
	z-index: 43;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 12px;
}

#u629-6
{
	z-index: 57;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-left: 82px;
	margin-top: 150px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u629-4
{
	padding-left: 30px;
}

#u629-2
{
	color: #B63B6A;
}

#u630
{
	z-index: 64;
	margin-left: 82px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u630_states.png") no-repeat 0px 0px;
}

#u630_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u630:hover #u630_states
{
	background: url("../images/u630_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

