.version.introduccion /* version checker */
{
	color: #0000E3;
	background-color: #D4B574;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu516
{
	width: 0.01px;
	margin-left: -100px;
}

#u516
{
	z-index: 2;
	padding-bottom: 6px;
}

#u516_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1245
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1271
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 130px;
}

#u523-4
{
	z-index: 5;
	width: 559px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 537px;
}

#u521
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u516-bw
{
	z-index: 2;
	height: 84px;
}

#u1243
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1249
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1249_img
{
	margin-right: -1px;
}

#pu605-30
{
	width: 0.01px;
	margin-left: -58px;
	margin-top: 66px;
}

#u605-30
{
	z-index: 17;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: -1px;
}

#u606
{
	z-index: 47;
	width: 508px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 630px;
}

#pu611
{
	width: 0.01px;
	margin-left: -82px;
	margin-top: 252px;
}

#u611
{
	z-index: 49;
	width: 530px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u613
{
	z-index: 51;
	width: 542px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 575px;
}

#u615
{
	z-index: 53;
	width: 700px;
	border-style: none;
	border-color: transparent;
	background-color: #E6E6E6;
	position: relative;
	margin-right: -10000px;
	margin-top: 247px;
	left: 497px;
}

#u617-5
{
	z-index: 58;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 18px;
}

#u616-4
{
	z-index: 54;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	left: 506px;
}

#u621-4
{
	z-index: 66;
	display: block;
	vertical-align: top;
	margin-left: 43px;
	margin-top: 281px;
	position: relative;
}

#u622-4
{
	z-index: 70;
	display: block;
	vertical-align: top;
	margin-left: 44px;
	position: relative;
}

#u626-6
{
	z-index: 86;
	display: block;
	vertical-align: top;
	margin-left: 44px;
	margin-top: 30px;
	position: relative;
}

#u618
{
	z-index: 63;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	padding-bottom: 5px;
	margin-left: 44px;
	margin-top: 30px;
	position: relative;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u623-4
{
	z-index: 74;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 12px;
}

#u620
{
	z-index: 65;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #F7E1E9;
	background-color: rgba(217, 105, 148, 0.2);
	padding-bottom: 2px;
	margin-left: 44px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
	-pie-background: rgba(217, 105, 148, 0.2);
}

#u625-4
{
	z-index: 82;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 12px;
}

#u619
{
	z-index: 64;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	padding-bottom: 2px;
	margin-left: 44px;
	position: relative;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u624-4
{
	z-index: 78;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 12px;
}

#u627-6
{
	z-index: 92;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-left: 44px;
	margin-top: 181px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u627-4
{
	padding-left: 30px;
}

#u627-2
{
	color: #B63B6A;
}

#u628
{
	z-index: 99;
	margin-left: 44px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u628_states.png") no-repeat 0px 0px;
}

#u628_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u628:hover #u628_states
{
	background: url("../images/u628_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

