.version.tema1 /* version checker */
{
	color: #000016;
	background-color: #B01CB1;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.5374999999999px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1102
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1136
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 130px;
}

#u568-4
{
	z-index: 5;
	width: 590px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 506px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u1100
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1106
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1106_img
{
	margin-right: -1px;
}

#u176
{
	z-index: 17;
	border-color: #000000;
	background-color: #940157;
	padding-bottom: 177px;
}

#u176_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
}

#u178-4
{
	z-index: 18;
	width: 640px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 250px;
	left: 100px;
}

#u1031
{
	z-index: 161;
	width: 412px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 766px;
}

#u176-bw
{
	z-index: 17;
	margin-top: 8px;
	height: 322px;
}

#u649-4
{
	z-index: 172;
	display: block;
	vertical-align: top;
	left: -67px;
	margin-top: 96px;
	position: relative;
}

#pamphletu673
{
	z-index: 188;
	width: 0.01px;
	height: 294px;
	left: -60px;
	margin-top: 45px;
	position: relative;
}

#u674
{
	z-index: 189;
	width: 1125px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u677
{
	position: absolute;
	width: 553px;
	height: 293px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 570px;
}

#u706
{
	position: absolute;
	width: 553px;
	height: 293px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u677:hover,#u706:hover
{
	border-color: #999999;
	width: 553px;
	height: 293px;
	min-height: 0px;
	margin: 0px;
}

#u686
{
	position: absolute;
	width: 819px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -32px;
	left: 1837px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u686popup
{
	z-index: 192;
}

#u691
{
	z-index: 193;
	width: 765px;
	height: 1147px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	padding-left: 10px;
	padding-top: 16px;
	padding-bottom: 30px;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u702
{
	z-index: 194;
	width: 755px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#u704-16
{
	z-index: 196;
	display: block;
	vertical-align: top;
	margin-top: 23px;
	position: relative;
}

#u707
{
	z-index: 212;
	width: 556px;
	height: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 10px 208px 255px 11px;
}

#u712
{
	z-index: 213;
	width: 554px;
	background-color: transparent;
	margin-left: 1px;
	position: relative;
}

#u714-4
{
	z-index: 215;
	display: block;
	vertical-align: top;
	margin-top: 25px;
	position: relative;
}

#u693
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -9px;
	left: 2599px;
}

#u693:hover
{
	background-color: #999999;
	margin: 0px;
}

#u694-4
{
	z-index: 220;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u660-4
{
	z-index: 180;
	display: block;
	vertical-align: top;
	margin-left: 403px;
	top: -326px;
	margin-bottom: -19px;
	position: relative;
}

#pu650
{
	width: 0.01px;
	margin-left: -60px;
	margin-top: -294px;
}

#u650
{
	z-index: 176;
	width: 554px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u655
{
	z-index: 178;
	width: 556px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 570px;
}

#u661-4
{
	z-index: 184;
	display: block;
	vertical-align: top;
	left: -60px;
	margin-top: 26px;
	position: relative;
}

#pu716-18
{
	width: 0.01px;
	margin-left: -74px;
	margin-top: 223px;
}

#u716-18
{
	z-index: 224;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
}

#pamphletu728
{
	z-index: 248;
	width: 0.01px;
	height: 528px;
	position: relative;
	margin-right: -10000px;
	margin-top: 359px;
	left: 328px;
}

#u729
{
	z-index: 249;
	width: 485px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u732
{
	position: absolute;
	width: 483px;
	height: 95px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u757
{
	position: absolute;
	width: 483px;
	height: 95px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	top: 112px;
}

#u760
{
	position: absolute;
	width: 483px;
	height: 95px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	top: 213px;
}

#u762
{
	position: absolute;
	width: 483px;
	height: 95px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	top: 320px;
}

#u764
{
	position: absolute;
	width: 483px;
	height: 95px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	top: 432px;
}

#u732:hover,#u757:hover,#u760:hover,#u762:hover,#u764:hover
{
	border-color: #999999;
	width: 483px;
	height: 95px;
	min-height: 0px;
	margin: 0px;
}

#u741
{
	position: absolute;
	width: 521px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -169px;
	left: 908px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u741popup
{
	z-index: 255;
}

#u746
{
	z-index: 256;
	width: 477px;
	height: 206px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u723-4
{
	z-index: 257;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 17px;
}

#u758
{
	z-index: 261;
	width: 477px;
	height: 206px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u724-4
{
	z-index: 262;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	left: 14px;
}

#u761
{
	z-index: 266;
	width: 477px;
	height: 206px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u725-4
{
	z-index: 267;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 11px;
}

#u763
{
	z-index: 271;
	width: 477px;
	height: 206px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u726-4
{
	z-index: 272;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 12px;
}

#u765
{
	z-index: 276;
	width: 477px;
	height: 206px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u727-4
{
	z-index: 277;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 45px;
	left: 20px;
}

#u748
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -147px;
	left: 1375px;
}

#u748:hover
{
	background-color: #999999;
	margin: 0px;
}

#u749-4
{
	z-index: 282;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u722-4
{
	z-index: 244;
	display: block;
	vertical-align: top;
	margin-left: 406px;
	top: -613px;
	margin-bottom: -19px;
	position: relative;
}

#u717
{
	z-index: 242;
	width: 492px;
	background-color: transparent;
	margin-left: 254px;
	top: -573px;
	margin-bottom: -573px;
	position: relative;
}

#pu766-12
{
	width: 0.01px;
	margin-left: -68px;
	margin-top: 52px;
}

#u766-12
{
	z-index: 22;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: -1px;
}

#u767
{
	z-index: 34;
	width: 563px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 605px;
}

#u782-4
{
	z-index: 38;
	display: block;
	vertical-align: top;
	margin-left: 418px;
	margin-top: 94px;
	position: relative;
}

#pu777
{
	width: 0.01px;
	padding-bottom: 470px;
	margin-left: -68px;
	margin-top: 13px;
}

#u777
{
	z-index: 36;
	width: 1168px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#pamphletu807
{
	z-index: 42;
	width: 0.01px;
	height: 77px;
	position: relative;
	margin-right: -10000px;
	margin-top: 11px;
	left: 18px;
}

#u808
{
	z-index: 43;
	width: 1077px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u811
{
	position: absolute;
	width: 123px;
	height: 76px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u811:hover
{
	border-color: #999999;
	width: 123px;
	height: 76px;
	min-height: 0px;
	margin: 0px;
}

#u836
{
	position: absolute;
	width: 139px;
	height: 76px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 144px;
}

#u836:hover
{
	border-color: #999999;
	width: 139px;
	height: 76px;
	min-height: 0px;
	margin: 0px;
}

#u838
{
	position: absolute;
	width: 115px;
	height: 76px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 294px;
}

#u840
{
	position: absolute;
	width: 119px;
	height: 76px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 428px;
}

#u840:hover
{
	border-color: #999999;
	width: 119px;
	height: 76px;
	min-height: 0px;
	margin: 0px;
}

#u842
{
	position: absolute;
	width: 115px;
	height: 76px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 558px;
}

#u844
{
	position: absolute;
	width: 115px;
	height: 76px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 690px;
}

#u838:hover,#u842:hover,#u844:hover
{
	border-color: #999999;
	width: 115px;
	height: 76px;
	min-height: 0px;
	margin: 0px;
}

#u846
{
	position: absolute;
	width: 110px;
	height: 76px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 818px;
}

#u846:hover
{
	border-color: #999999;
	width: 110px;
	height: 76px;
	min-height: 0px;
	margin: 0px;
}

#u848
{
	position: absolute;
	width: 137px;
	height: 76px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 938px;
}

#u848:hover
{
	border-color: #999999;
	width: 137px;
	height: 76px;
	min-height: 0px;
	margin: 0px;
}

#u820
{
	position: absolute;
	width: 1141px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: 140px;
	left: 1449px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u820popup
{
	z-index: 52;
}

#u825
{
	z-index: 53;
	width: 1097px;
	height: 384px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u863-8
{
	z-index: 54;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 22px;
}

#u837
{
	z-index: 62;
	width: 1097px;
	height: 384px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u873-16
{
	z-index: 63;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 79px;
	left: 22px;
}

#u839
{
	z-index: 79;
	width: 1097px;
	height: 384px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u871-8
{
	z-index: 80;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	left: 22px;
}

#u841
{
	z-index: 88;
	width: 904px;
	height: 249px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 68px 96px 67px 97px;
}

#u864-8
{
	z-index: 89;
	display: block;
	vertical-align: top;
	position: relative;
}

#u865
{
	z-index: 97;
	width: 904px;
	background-color: transparent;
	position: relative;
}

#u843
{
	z-index: 99;
	width: 1054px;
	height: 164px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 110px 21px 110px 22px;
}

#u857-4
{
	z-index: 100;
	display: block;
	vertical-align: top;
	position: relative;
}

#u858
{
	z-index: 104;
	width: 1054px;
	background-color: transparent;
	margin-top: 19px;
	position: relative;
}

#u845
{
	z-index: 106;
	width: 1097px;
	height: 384px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u870-8
{
	z-index: 107;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 22px;
}

#u847
{
	z-index: 115;
	width: 1097px;
	height: 384px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u850
{
	z-index: 116;
	width: 1054px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 22px;
}

#u851-11
{
	z-index: 117;
	display: block;
	vertical-align: top;
	left: -1px;
	position: relative;
}

#u852
{
	z-index: 128;
	width: 1054px;
	background-color: transparent;
	margin-top: 12px;
	position: relative;
}

#u849
{
	z-index: 130;
	width: 1097px;
	height: 384px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u872-8
{
	z-index: 131;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 108px;
	left: 22px;
}

#u827
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: 163px;
	left: 2535px;
}

#u827:hover
{
	background-color: #999999;
	margin: 0px;
}

#u693:active,#u748:active,#u827:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u828-4
{
	z-index: 140;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

#u874-4
{
	z-index: 144;
	display: block;
	vertical-align: top;
	left: -57px;
	top: -125px;
	margin-bottom: -36px;
	position: relative;
}

#u875-4
{
	z-index: 148;
	display: block;
	vertical-align: top;
	left: -56px;
	top: -89px;
	margin-bottom: -34px;
	position: relative;
}

#u876-7
{
	z-index: 152;
	display: block;
	vertical-align: top;
	left: -56px;
	top: -33px;
	margin-bottom: -33px;
	position: relative;
}

#u877
{
	z-index: 159;
	width: 352px;
	background-color: transparent;
	margin-left: 332px;
	margin-top: 84px;
	position: relative;
}

#u646-6
{
	z-index: 163;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -56px;
	margin-top: 259px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u646-4
{
	padding-left: 30px;
}

#u646-2
{
	color: #B63B6A;
}

#u647
{
	z-index: 170;
	left: -56px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u647_states.png") no-repeat 0px 0px;
}

#u647_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u647:hover #u647_states
{
	background: url("../images/u647_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

