.version.tema2 /* version checker */
{
	color: #000006;
	background-color: #EE8F28;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1102
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1136
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 130px;
}

#u568-4
{
	z-index: 5;
	width: 590px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 506px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u1100
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1106
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1106_img
{
	margin-right: -1px;
}

#u504
{
	z-index: 17;
	border-color: #000000;
	background-color: #F6772C;
}

#u504_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
	padding-top: 41px;
	padding-bottom: 162px;
}

#u1026
{
	z-index: 138;
	width: 412px;
	background-color: transparent;
	left: 766px;
	position: relative;
}

#u505-4
{
	z-index: 18;
	width: 679px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	left: 100px;
	margin-top: 164px;
	position: relative;
}

#u504-bw
{
	z-index: 17;
	margin-top: 8px;
	height: 499px;
}

#u890-8
{
	z-index: 22;
	display: block;
	vertical-align: top;
	left: -68px;
	margin-top: 34px;
	position: relative;
}

#u891
{
	z-index: 30;
	width: 855px;
	background-color: transparent;
	margin-left: 81px;
	margin-top: 9px;
	position: relative;
}

#u896-4
{
	z-index: 32;
	display: block;
	vertical-align: top;
	left: -69px;
	margin-top: 32px;
	position: relative;
}

#u900-4
{
	z-index: 48;
	display: block;
	vertical-align: top;
	margin-left: 432px;
	margin-top: 34px;
	position: relative;
}

#u899
{
	z-index: 36;
	width: 1204px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -94px;
	margin-top: 34px;
	position: relative;
}

#u897
{
	z-index: 37;
	width: 1204px;
	border-color: #000000;
	background-color: #B63B6A;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
}

#u898-4
{
	z-index: 38;
	position: relative;
	width: 1204px;
	margin-right: -10000px;
	margin-top: 6px;
}

#u898-4_img
{
	display: block;
	vertical-align: top;
}

#u901-4
{
	z-index: 52;
	display: block;
	vertical-align: top;
	left: -68px;
	margin-top: 215px;
	position: relative;
}

#u902
{
	z-index: 56;
	width: 1016px;
	background-color: transparent;
	margin-top: 20px;
	position: relative;
}

#u907-4
{
	z-index: 58;
	display: block;
	vertical-align: top;
	left: -68px;
	margin-top: 20px;
	position: relative;
}

#u908
{
	z-index: 62;
	width: 1156px;
	background-color: transparent;
	left: -68px;
	margin-top: 19px;
	position: relative;
}

#u913-4
{
	z-index: 64;
	display: block;
	vertical-align: top;
	left: -69px;
	margin-top: 20px;
	position: relative;
}

#u914-4
{
	z-index: 68;
	display: block;
	vertical-align: top;
	left: -68px;
	margin-top: 8px;
	position: relative;
}

#pppu916-4
{
	width: 0.01px;
	margin-left: -76px;
	margin-top: 102px;
}

#ppu916-4
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 5px;
}

#pu916-4
{
	width: 0.01px;
	padding-bottom: 58px;
}

#u916-4
{
	z-index: 80;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 8px;
}

#pamphletu930
{
	z-index: 90;
	width: 0.01px;
	height: 66px;
	position: relative;
	margin-right: -10000px;
	margin-top: 423px;
}

#u931
{
	z-index: 91;
	width: 437px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u934
{
	position: absolute;
	width: 435px;
	height: 65px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u934:hover
{
	border-color: #999999;
	width: 435px;
	height: 65px;
	min-height: 0px;
	margin: 0px;
}

#u943
{
	position: absolute;
	width: 883px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -386px;
	left: 1288px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u943popup
{
	z-index: 93;
}

#u948
{
	z-index: 94;
	width: 839px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u959-21
{
	z-index: 95;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	left: 18px;
}

#u950
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -364px;
	left: 2116px;
}

#u950:hover
{
	background-color: #999999;
	margin: 0px;
}

#u950:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u951-4
{
	z-index: 117;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u915-8
{
	z-index: 72;
	display: block;
	vertical-align: top;
	margin-left: 7px;
	top: -450px;
	margin-bottom: -249px;
	position: relative;
}

#u928-4
{
	z-index: 86;
	display: block;
	vertical-align: top;
	margin-left: 138px;
	top: -142px;
	margin-bottom: -19px;
	position: relative;
}

#u917
{
	z-index: 84;
	width: 669px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 495px;
}

#u925
{
	z-index: 42;
	width: 417px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	left: -68px;
	top: -107px;
	margin-bottom: -49px;
	position: relative;
}

#u926
{
	z-index: 43;
	width: 417px;
	border-color: #000000;
	background-color: #B63B6A;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
}

#u927-4
{
	z-index: 44;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u960-4
{
	z-index: 121;
	display: block;
	vertical-align: top;
	left: -52px;
	margin-top: 298px;
	position: relative;
}

#u961-4
{
	z-index: 125;
	display: block;
	vertical-align: top;
	left: -52px;
	position: relative;
}

#u962-7
{
	z-index: 129;
	display: block;
	vertical-align: top;
	left: -51px;
	margin-top: 22px;
	position: relative;
}

#u963
{
	z-index: 136;
	width: 352px;
	background-color: transparent;
	margin-left: 337px;
	margin-top: 84px;
	position: relative;
}

#u966-6
{
	z-index: 140;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -51px;
	margin-top: 97px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u966-4
{
	padding-left: 30px;
}

#u966-2
{
	color: #B63B6A;
}

#u967
{
	z-index: 147;
	left: -51px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u967_states.png") no-repeat 0px 0px;
}

#u967_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u967:hover #u967_states
{
	background: url("../images/u967_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

