.version.tema3 /* version checker */
{
	color: #00001B;
	background-color: #5F0AD2;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.9562499999995px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u1102
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1136
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 130px;
}

#u568-4
{
	z-index: 5;
	width: 590px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 506px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u1100
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u1106
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1106_img
{
	margin-right: -1px;
}

#u501
{
	z-index: 17;
	border-color: #000000;
	background-color: #FFBB42;
	padding-bottom: 129px;
}

#u501_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
}

#u502-4
{
	z-index: 18;
	width: 502px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
	margin-top: 226px;
	left: 100px;
}

#u1017
{
	z-index: 77;
	width: 412px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 41px;
	left: 766px;
}

#u501-bw
{
	z-index: 17;
	margin-top: 8px;
	height: 370px;
}

#u978-19
{
	z-index: 48;
	display: block;
	vertical-align: top;
	left: -70px;
	margin-top: 41px;
	position: relative;
}

#u999-4
{
	z-index: 73;
	display: block;
	vertical-align: top;
	margin-left: 418px;
	margin-top: 41px;
	position: relative;
}

#pu984
{
	width: 0.01px;
	margin-left: -32px;
	margin-top: 24px;
}

#u984
{
	z-index: 67;
	width: 356px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u994
{
	z-index: 71;
	width: 365px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 356px;
}

#u989
{
	z-index: 69;
	width: 356px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 721px;
}

#u970-4
{
	z-index: 22;
	display: block;
	vertical-align: top;
	left: -53px;
	margin-top: 284px;
	position: relative;
}

#u971-4
{
	z-index: 26;
	display: block;
	vertical-align: top;
	left: -52px;
	position: relative;
}

#u972-7
{
	z-index: 30;
	display: block;
	vertical-align: top;
	left: -52px;
	margin-top: 22px;
	position: relative;
}

#u973
{
	z-index: 37;
	width: 352px;
	background-color: transparent;
	margin-left: 336px;
	margin-top: 84px;
	position: relative;
}

#u975-6
{
	z-index: 39;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -52px;
	margin-top: 97px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u975-4
{
	padding-left: 30px;
}

#u975-2
{
	color: #B63B6A;
}

#u976
{
	z-index: 46;
	left: -52px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u976_states.png") no-repeat 0px 0px;
}

#u976_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u976:hover #u976_states
{
	background: url("../images/u976_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

