.html
{
	background-color: #FBFBFB;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.9249999999997px;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: 106px;
	margin-bottom: 75px;
}

#u6483
{
	z-index: 79;
	width: 1216px;
	top: -10px;
	left: -100px;
}

#pu151
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u551
{
	z-index: 80;
	width: 1216px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u6382-4
{
	z-index: 81;
	width: 597px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 507px;
}

#u6321
{
	z-index: 85;
	width: 80px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1124px;
}

#u6928
{
	z-index: 89;
	width: 500px;
	top: 6px;
	left: -75px;
}


#u6470-66
{
	z-index: 2;
	display: block;
	vertical-align: top;
	left: -38px;
	position: relative;
}

#u6630
{
	z-index: 68;
	width: 545px;
	margin-left: 208px;
	margin-top: 12px;
	position: relative;
}

#u6635-6
{
	z-index: 70;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-left: 40px;
	margin-top: 39px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u6635-4
{
	padding-left: 30px;
}

#u6635-2
{
	color: #B63B6A;
}

#u6636
{
	z-index: 77;
	background: url("../images/u6636_states.png") no-repeat 0px 0px;
	left: -38px;
	margin-top: 21px;
	position: relative;
}

#u6636_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u6636:hover #u6636_states
{
	background: url("../images/u6636_states-r.png") no-repeat 0px 0px;
}

body
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#page .verticalspacer
{
	clear: both;
}

