.html
{
	background-color: #F9F9F9;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 681px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -10px;
	margin-bottom: 15px;
}

#pu151
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u151
{
	z-index: 2;
	width: 1256px;
	padding-bottom: 5px;
	margin-bottom: -1px;
	margin-right: -10000px;
}

#u151_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}



#u6380-4
{
	z-index: 5;
	width: 597px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 38px;
	left: 499px;
}

#u6313
{
	z-index: 3;
	width: 80px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1124px;
}


#u6910
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 25px;
}

#pu6418
{
	width: 0.01px;
	left: -100px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u6418
{
	z-index: 16;
	width: 1216px;
	border-color: #000000;
	padding-bottom: 55px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/portadac1.jpg") no-repeat center center;
}

#u6418_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	position: relative;
	left: -100px;
}

#u6648-4
{
	z-index: 59;
	width: 249px;
	min-height: 30px;
	background-color: #8DC63F;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 406px;
	left: 101px;
}

.link-naranja
{
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#u6647-4
{
	z-index: 55;
	width: 249px;
	min-height: 30px;
	background-color: #8DC63F;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 406px;
	left: 411px;
}

#u6649-4
{
	z-index: 63;
	width: 248px;
	min-height: 30px;
	background-color: #8DC63F;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	line-height: 19px;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 406px;
	left: 702px;
}

#u6648-4:hover,#u6647-4:hover,#u6649-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 406px -10000px 0px 0px;
}

#pamphletu6672
{
	z-index: 99;
	width: 0.01px;
	height: 45px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1145px;
	left: 504px;
}

/*#u6697
{
	z-index: 100;
	width: 216px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u6698
{
	position: absolute;
	width: 214px;
	height: 44px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u6698:hover
{
	border-color: #999999;
	width: 214px;
	height: 44px;
	min-height: 0px;
	margin: 0px;
}*/

#u6675
{
	position: absolute;
	width: 911px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -750px;
	left: 809px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u6675popup
{
	z-index: 102;
}

#u6676
{
	z-index: 103;
	width: 867px;
	height: 466px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6676_position_content
{
	margin-top: 39px;
	margin-bottom: 38px;
}

#u6695
{
	z-index: 105;
	height: 34px;
	width: 239px;
	vertical-align: top;
	background: url("../images/u6695.png") no-repeat 0px 0px;
	position: relative;
}

#u6695:hover
{
	background: url("../images/u6695-r.png") no-repeat 0px 0px;
}

#pu6686-20
{
	width: 0.01px;
	margin-left: 10px;
	margin-top: 10px;
	position: relative;
}

#u6686-20
{
	z-index: 107;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 44px;
}

#u6679
{
	z-index: 127;
	width: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 9px;
	left: 13px;
}

#u6690
{
	z-index: 129;
	width: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 69px;
	left: 13px;
}

#u6683
{
	z-index: 131;
	width: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
	left: 13px;
}

#u6677
{
	z-index: 133;
	width: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 181px;
	left: 13px;
}

#u6693
{
	z-index: 135;
	width: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 241px;
	left: 13px;
}

#u6687
{
	z-index: 137;
	width: 19px;
	position: relative;
	margin-right: -10000px;
	margin-top: 302px;
	left: 13px;
}

#u6692
{
	z-index: 139;
	width: 822px;
	height: 44px;
	position: relative;
	margin-right: -10000px;
	margin-top: 294px;
}

#u6689
{
	z-index: 140;
	width: 822px;
	height: 44px;
	position: relative;
	margin-right: -10000px;
	margin-top: 229px;
}

#u6696
{
	z-index: 141;
	width: 822px;
	height: 44px;
	position: relative;
	margin-right: -10000px;
	margin-top: 173px;
}

#u6685
{
	z-index: 142;
	width: 822px;
	height: 44px;
	position: relative;
	margin-right: -10000px;
	margin-top: 117px;
	left: 5px;
}

#u6681
{
	z-index: 143;
	width: 822px;
	height: 44px;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
}

#u6682
{
	z-index: 144;
	width: 822px;
	height: 44px;
	position: relative;
	margin-right: -10000px;
}

.ie #u6692,.ie #u6689,.ie #u6696,.ie #u6685,.ie #u6681,.ie #u6682
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u3959-4
{
	z-index: 17;
	width: 394px;
	min-height: 37px;
	line-height: 29px;
	font-size: 24px;
	color: #7F7F7F;
	margin-left: 10px;
	top: -646px;
	margin-bottom: -37px;
	position: relative;
}

#pu6419
{
	width: 0.01px;
	left: -25px;
	top: -556px;
	margin-bottom: -168px;
	position: relative;
}

#u6419
{
	z-index: 25;
	width: 166px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFBB42;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u6419_position_content
{
	margin-top: 55px;
}

#u6457-4
{
	z-index: 31;
	width: 141px;
	min-height: 68px;
	text-align: center;
	margin-left: 10px;
	position: relative;
}

#u6753
{
	z-index: 165;
	width: 167px;
	padding-bottom: 1px;
	left: -1px;
	margin-top: 26px;
	position: relative;
}

#u6747
{
	z-index: 167;
	width: 15px;
	height: 14px;
	border-color: #000000;
	background-color: #B63B6A;
	margin-left: 74px;
	position: relative;
}

#u6746
{
	z-index: 166;
	width: 167px;
	height: 11px;
	border-color: #000000;
	background-color: #B63B6A;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u6420
{
	z-index: 26;
	width: 166px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFBB42;
	background-color: #FFFFFF;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 181px;
}

#u6420_position_content
{
	margin-top: 63px;
}

#u6458-4
{
	z-index: 35;
	width: 148px;
	min-height: 52px;
	text-align: center;
	margin-left: 7px;
	position: relative;
}

#u6752
{
	z-index: 150;
	width: 167px;
	padding-bottom: 1px;
	left: -1px;
	margin-top: 34px;
	position: relative;
}

#u6750
{
	z-index: 152;
	width: 15px;
	height: 14px;
	border-color: #000000;
	background-color: #B63B6A;
	margin-left: 77px;
	position: relative;
}

#u6751
{
	z-index: 151;
	width: 167px;
	height: 11px;
	border-color: #000000;
	background-color: #B63B6A;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#pu6422
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 541px;
}

#u6422
{
	z-index: 28;
	width: 166px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFBB42;
	background-color: #FFFFFF;
	padding-bottom: 25px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u6460-4
{
	z-index: 47;
	width: 148px;
	min-height: 96px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 46px;
	left: 7px;
}

#u6760
{
	z-index: 156;
	width: 167px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
}

#u6761
{
	z-index: 158;
	width: 15px;
	height: 14px;
	border-color: #000000;
	background-color: #B63B6A;
	margin-left: 77px;
	position: relative;
}

#u6762
{
	z-index: 157;
	width: 167px;
	height: 11px;
	border-color: #000000;
	background-color: #B63B6A;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#pu6423
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 897px;
}

#u6423
{
	z-index: 29;
	width: 166px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFBB42;
	background-color: #FFFFFF;
	padding-bottom: 44px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u6464-4
{
	z-index: 43;
	width: 157px;
	min-height: 68px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 4px;
}

#u6772
{
	z-index: 162;
	width: 167px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
}

#u6774
{
	z-index: 164;
	width: 15px;
	height: 14px;
	border-color: #000000;
	background-color: #B63B6A;
	margin-left: 77px;
	position: relative;
}

#u6773
{
	z-index: 163;
	width: 167px;
	height: 11px;
	border-color: #000000;
	background-color: #B63B6A;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u6421
{
	z-index: 27;
	width: 166px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFBB42;
	background-color: #FFFFFF;
	padding-bottom: 44px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 362px;
}

#u6459-4
{
	z-index: 51;
	width: 157px;
	min-height: 68px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 3px;
}

#u6459
{
	font-size: 16px;
	line-height: 19px;
}

#u6424
{
	z-index: 30;
	width: 166px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFBB42;
	background-color: #FFFFFF;
	padding-bottom: 44px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 722px;
}

#u6419:hover,#u6420:hover,#u6422:hover,#u6423:hover,#u6421:hover,#u6424:hover
{
	background-color: #FFC6DD;
	width: 166px;
	min-height: 0px;
	margin: 0px -10000px -1px 0px;
}

#u6462-4
{
	z-index: 39;
	width: 142px;
	min-height: 68px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 12px;
}

#u6457,#u6458,#u6460,#u6464,#u6462
{
	line-height: 20px;
}

#u6754
{
	z-index: 153;
	width: 167px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 362px;
}

#u6756
{
	z-index: 155;
	width: 15px;
	height: 14px;
	border-color: #000000;
	background-color: #B63B6A;
	margin-left: 77px;
	position: relative;
}

#u6755
{
	z-index: 154;
	width: 167px;
	height: 11px;
	border-color: #000000;
	background-color: #B63B6A;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u6766
{
	z-index: 159;
	width: 167px;
	padding-bottom: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	left: 722px;
}

#u6767
{
	z-index: 161;
	width: 15px;
	height: 14px;
	border-color: #000000;
	background-color: #B63B6A;
	margin-left: 77px;
	position: relative;
}

#u6768
{
	z-index: 160;
	width: 167px;
	height: 11px;
	border-color: #000000;
	background-color: #B63B6A;
	top: -7px;
	margin-bottom: -7px;
	position: relative;
}

#u3960-4
{
	z-index: 21;
	width: 275px;
	line-height: 29px;
	font-size: 24px;
	color: #7F7F7F;
	margin-left: 10px;
	top: -300px;
	margin-bottom: -29px;
	position: relative;
}

#pu6660
{
	width: 0.01px;
	margin-left: 10px;
	top: -172px;
	margin-bottom: -90px;
	position: relative;
}

#u6660
{
	z-index: 13;
	width: 197px;
	border-color: #752342;
	background-color: #FFFFFF;
	position: relative;
	margin-right: -10000px;
}

#u6660_position_content
{
	margin-top: 30px;
}

#u6665-4
{
	z-index: 71;
	width: 197px;
	min-height: 30px;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #FFBB42;
	font-weight: bold;
	position: relative;
}

#u6665-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 0px;
}

#u6777
{
	z-index: 15;
	width: 197px;
	height: 17px;
	border-color: #752342;
	background-color: #7F7F7F;
	margin-top: 13px;
	position: relative;
}

#u6777:hover
{
	background-color: #EBEBEB;
	margin: 13px 0px 0px;
}

#pu6662
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 405px;
}

#u6662
{
	z-index: 68;
	width: 190px;
	border-color: #752342;
	background-color: #FFFFFF;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u6668-4
{
	z-index: 83;
	width: 190px;
	min-height: 30px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#u6780
{
	z-index: 169;
	width: 190px;
	height: 17px;
	border-color: #752342;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
}

#pu6664
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 806px;
}

#u6664
{
	z-index: 70;
	width: 193px;
	border-color: #752342;
	background-color: #FFFFFF;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
}

#u6666-4
{
	z-index: 75;
	width: 193px;
	min-height: 30px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#u6782
{
	z-index: 171;
	width: 193px;
	height: 17px;
	border-color: #752342;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
}

#u6661
{
	z-index: 67;
	width: 200px;
	border-color: #752342;
	background-color: #FFFFFF;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

#u6667-4
{
	z-index: 79;
	width: 196px;
	min-height: 30px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#u6663
{
	z-index: 69;
	width: 201px;
	border-color: #752342;
	background-color: #FFFFFF;
	padding-bottom: 30px;
	position: relative;
	margin-right: -10000px;
	left: 601px;
}

#u6660:hover,#u6662:hover,#u6664:hover,#u6661:hover,#u6663:hover
{
	background-color: #EBEBEB;
	margin: 0px -10000px 0px 0px;
}

#u6670-4
{
	z-index: 91;
	width: 201px;
	min-height: 30px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#u6668-4:hover,#u6666-4:hover,#u6667-4:hover,#u6670-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 30px -10000px 0px 0px;
}

#u6457-2,#u6458-2,#u6460-2,#u6464-2,#u6459-2,#u6462-2,#u6668-2,#u6666-2,#u6667-2,#u6670-2
{
	line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
}

#u6668,#u6666,#u6667,#u6670
{
	line-height: 22px;
}

#u6779
{
	z-index: 168;
	width: 200px;
	height: 17px;
	border-color: #752342;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 200px;
}

#u6781
{
	z-index: 170;
	width: 201px;
	height: 17px;
	border-color: #752342;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 73px;
	left: 601px;
}

#u6780:hover,#u6782:hover,#u6779:hover,#u6781:hover
{
	background-color: #EBEBEB;
	margin: 73px -10000px 0px 0px;
}

#u6671-4
{
	z-index: 95;
	width: 249px;
	min-height: 30px;
	background-color: #FFBB42;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	line-height: 22px;
	text-align: center;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: bold;
	margin-left: 384px;
	margin-top: 24px;
	position: relative;
}

#u6671-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 30px;
	margin: 24px 0px 0px 384px;
}

#u6648-4:hover p,#u6647-4:hover p,#u6649-4:hover p,#u6665-4:hover p,#u6668-4:hover p,#u6668-4:hover span,#u6666-4:hover p,#u6666-4:hover span,#u6667-4:hover p,#u6667-4:hover span,#u6670-4:hover p,#u6670-4:hover span,#u6669-4:hover p,#u6671-4:hover p
{
	color: #0071BC;
	visibility: inherit;
}

#u6648-2,#u6647-2,#u6649-2,#u6671-2
{
	padding: 10px;
}

body
{
	padding-top: 10px;
	
}

#page .verticalspacer
{
	clear: both;
}

