#u551
{
	border-style: solid;
	border-color: #7F7F7F;
	background-color: #FFFFFF;
	position: relative;
	border-width: 0px 0px 1px;
}

#u6382-4
{
	line-height: 22px;
	text-align: right;
	font-size: 18px;
	color: #B63B6A;
	position: relative;
	background-color: transparent;
}

#u6321
{
	position: relative;
	background-color: transparent;
}

#u6483,#u6926,#u6928
{
	position: fixed;
	background-color: transparent;
}

