.version.introduccion /* version checker */
{
	color: #00001E;
	background-color: #C65849;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 599.9374999999991px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu561
{
	width: 0.01px;
	margin-left: -100px;
}

#u561
{
	z-index: 2;
	padding-bottom: 6px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u996
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u1091
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 19px;
	left: 130px;
}

#u994
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u568-4
{
	z-index: 5;
	width: 388px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 708px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u561-bw
{
	z-index: 2;
	height: 84px;
}

#u1000
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u1000_img
{
	margin-right: -1px;
}

#u601-4
{
	z-index: 17;
	display: block;
	vertical-align: top;
	margin-left: 249px;
	margin-top: 62px;
	position: relative;
}

#u602-18
{
	z-index: 21;
	display: block;
	vertical-align: top;
	left: -60px;
	margin-top: 32px;
	position: relative;
}

#u807
{
	z-index: 99;
	width: 1126px;
	background-color: transparent;
	left: -60px;
	margin-top: 32px;
	position: relative;
}

#u603-8
{
	z-index: 39;
	display: block;
	vertical-align: top;
	left: -61px;
	margin-top: 32px;
	position: relative;
}

#pu604
{
	width: 0.01px;
	margin-left: -82px;
	margin-top: 186px;
}

#u604
{
	z-index: 47;
	width: 530px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u606
{
	z-index: 49;
	width: 542px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 575px;
}

#u608
{
	z-index: 51;
	width: 700px;
	border-style: none;
	border-color: transparent;
	background-color: #E6E6E6;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	margin-top: 248px;
	left: 497px;
}

#u610-5
{
	z-index: 56;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 19px;
}

#u609-4
{
	z-index: 52;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	left: 506px;
}

#u623-4
{
	z-index: 64;
	display: block;
	vertical-align: top;
	margin-left: 43px;
	margin-top: 288px;
	position: relative;
}

#u624-4
{
	z-index: 68;
	display: block;
	vertical-align: top;
	margin-left: 44px;
	position: relative;
}

#u628-6
{
	z-index: 84;
	display: block;
	vertical-align: top;
	margin-left: 44px;
	margin-top: 30px;
	position: relative;
}

#pu620
{
	width: 0.01px;
	margin-left: 44px;
	margin-top: 30px;
}

#u620
{
	z-index: 61;
	width: 928px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u625-4
{
	z-index: 72;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 12px;
}

#u622
{
	z-index: 63;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #F7E1E9;
	background-color: rgba(217, 105, 148, 0.2);
	padding-bottom: 2px;
	margin-left: 44px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
	-pie-background: rgba(217, 105, 148, 0.2);
}

#u627-4
{
	z-index: 80;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 12px;
}

#u621
{
	z-index: 62;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	padding-bottom: 2px;
	margin-left: 44px;
	position: relative;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u626-4
{
	z-index: 76;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 12px;
}

#u629-6
{
	z-index: 90;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-left: 44px;
	margin-top: 76px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u629-4
{
	padding-left: 30px;
}

#u629-2
{
	color: #B63B6A;
}

#u630
{
	z-index: 97;
	margin-left: 44px;
	margin-top: 31px;
	position: relative;
	background: url("../images/u630_states.png") no-repeat 0px 0px;
}

#u630_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u630:hover #u630_states
{
	background: url("../images/u630_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

