.version.introduccion /* version checker */
{
	color: #000004;
	background-color: #D0085F;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 2324px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 62px;
}

#pu509
{
	width: 0.01px;
	margin-left: -100px;
}

#u509
{
	z-index: 2;
	padding-bottom: 6px;
}

#u509_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}

#u851
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 17px;
}

#u884
{
	z-index: 15;
	width: 177px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 130px;
}

#u849
{
	z-index: 9;
	width: 218px;
	margin-right: -10000px;
	margin-top: 21px;
	left: 390px;
}

#u512-4
{
	z-index: 5;
	width: 328px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 768px;
}

#u507
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u509-bw
{
	z-index: 2;
	height: 84px;
}

#u855
{
	z-index: 13;
	width: 78px;
	margin-right: -10000px;
	margin-top: 17px;
	left: 313px;
}

#u855_img
{
	margin-right: -1px;
}

#u540-4
{
	z-index: 17;
	display: block;
	vertical-align: top;
	left: -59px;
	margin-top: 29px;
	position: relative;
}

#pu543
{
	width: 0.01px;
	margin-left: -28px;
	margin-top: 90px;
}

#u543
{
	z-index: 31;
	width: 333px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u541-10
{
	z-index: 21;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 52px;
	left: 367px;
}

#u548-4
{
	z-index: 33;
	display: block;
	vertical-align: top;
	left: -29px;
	margin-top: 181px;
	position: relative;
}

#u549
{
	z-index: 37;
	width: 939px;
	background-color: transparent;
	left: -28px;
	position: relative;
}

#u554-17
{
	z-index: 39;
	display: block;
	vertical-align: top;
	left: -29px;
	top: -6px;
	margin-bottom: -6px;
	position: relative;
}

#pu559
{
	width: 0.01px;
	margin-left: -81px;
	margin-top: 152px;
}

#u559
{
	z-index: 56;
	width: 530px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
}

#u564
{
	z-index: 58;
	width: 542px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 575px;
}

#u569
{
	z-index: 60;
	width: 691px;
	border-style: none;
	border-color: transparent;
	background-color: #E6E6E6;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	margin-top: 253px;
	left: 506px;
}

#u571-5
{
	z-index: 65;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 35px;
	left: 23px;
}

#u570-4
{
	z-index: 61;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 194px;
	left: 506px;
}

#u576-4
{
	z-index: 73;
	display: block;
	vertical-align: top;
	left: -1px;
	margin-top: 150px;
	position: relative;
}

#u577-4
{
	z-index: 77;
	display: block;
	vertical-align: top;
	position: relative;
}

#u581-6
{
	z-index: 93;
	display: block;
	vertical-align: top;
	margin-top: 30px;
	position: relative;
}

#pu573
{
	width: 0.01px;
	margin-top: 30px;
}

#u573
{
	z-index: 70;
	width: 928px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	position: relative;
	margin-right: -10000px;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u578-4
{
	z-index: 81;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	left: 12px;
}

#u575
{
	z-index: 72;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #F7E1E9;
	background-color: rgba(217, 105, 148, 0.2);
	padding-bottom: 2px;
	top: -5px;
	margin-bottom: -5px;
	position: relative;
	-pie-background: rgba(217, 105, 148, 0.2);
}

#u580-4
{
	z-index: 89;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 12px;
}

#u574
{
	z-index: 71;
	width: 928px;
	border-style: none;
	border-color: transparent;
	background-color: #E5BACA;
	background-color: rgba(182, 59, 106, 0.35);
	padding-bottom: 2px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
	-pie-background: rgba(182, 59, 106, 0.35);
}

#u579-4
{
	z-index: 85;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 12px;
}

#u582-6
{
	z-index: 99;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-top: 77px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u582-4
{
	padding-left: 30px;
}

#u582-2
{
	color: #B63B6A;
}

#u589
{
	z-index: 106;
	margin-top: 33px;
	position: relative;
	background: url("../images/u589_states.png") no-repeat 0px 0px;
}

#u589_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u589:hover #u589_states
{
	background: url("../images/u589_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 36px;
}

#page .verticalspacer
{
	clear: both;
}

