#u75
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.66);
	-pie-background: rgba(255, 255, 255, 0.66);
}

#u75_align_to_page
{
	position: relative;
}

#u182-4
{
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #B63B6A;
	position: relative;
}

#u522-4
{
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	color: #595959;
	position: relative;
}

#u829,#u877,#u827,#u146,#u833
{
	background-color: transparent;
	position: relative;
}

