.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: 128px;
}

#pu561
{
	width: 0.01px;
	left: -100px;
	position: relative;
}

#u561
{
	z-index: 2;
	width: 1216px;
	padding-bottom: 6px;
	margin-right: -10000px;
}

#u561_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 1016px;
	left: -100px;
}


#u568-4
{
	z-index: 5;
	width: 425px;
	margin-right: -10000px;
	margin-top: 23px;
	left: 671px;
}

#u566
{
	z-index: 3;
	width: 76px;
	margin-right: -10000px;
	margin-top: 6px;
	left: 1116px;
}

#u1308
{
	z-index: 11;
	width: 500px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 25px;
}

#u576-4
{
	z-index: 13;
	display: block;
	vertical-align: top;
	margin-left: 4px;
	margin-top: 42px;
	position: relative;
}

#u1326
{
	z-index: 26;
	width: 352px;
	margin-left: 332px;
	margin-top: 89px;
	position: relative;
}

#u1324-6
{
	z-index: 17;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	margin-top: 88px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u1324-4
{
	padding-left: 30px;
}

#u1324-2
{
	color: #B63B6A;
}

#u1325
{
	z-index: 24;
	background: url("../images/u1325_states.png") no-repeat 0px 0px;
	left: -46px;
	margin-top: 13px;
	position: relative;
}

#u1325_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u1325:hover #u1325_states
{
	background: url("../images/u1325_states-r.png") no-repeat 0px 0px;
}

body
{
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

