.version.recomendaciones2 /* version checker */
{
	color: #00001D;
	background-color: #5546C7;
}

.html
{
	background-color: #FBFBFB;
}

#page
{
	z-index: 1;
	width: 1016px;
	min-height: 600px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 7px;
	padding-bottom: 75px;
}

#u6914
{
	z-index: 62;
	width: 1216px;
	top: -10px;
	left: -100px;
}

#u6541
{
	z-index: 63;
	width: 1216px;
	margin-right: -10000px;
}

#u551
{
	z-index: 64;
	width: 1216px;
	padding-bottom: 5px;
	margin-right: -10000px;
}

#u6382-4
{
	z-index: 67;
	width: 597px;
	min-height: 24px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 507px;
}

#u6321
{
	z-index: 65;
	width: 80px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 1124px;
}

#u6970
{
	z-index: 73;
	width: 500px;
	top: 3px;
	left: -83px;
}

#ppamphletu6610
{
	width: 0.01px;
	padding-bottom: 254px;
	margin-left: 30px;
	margin-top: 2px;
}

#pamphletu6610
{
	z-index: 32;
	width: 0.01px;
	height: 311px;
	position: relative;
	margin-right: -10000px;
	margin-top: 283px;
	left: 119px;
}

#u6611
{
	z-index: 33;
	width: 737px;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u6614
{
	position: absolute;
	width: 336px;
	height: 310px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u6645
{
	position: absolute;
	width: 336px;
	height: 310px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	left: 399px;
}

#u6614:hover,#u6645:hover
{
	border-color: #999999;
	width: 336px;
	height: 310px;
	min-height: 0px;
	margin: 0px;
}

#u6615
{
	position: absolute;
	width: 1183px;
	border-style: none;
	border-color: transparent;
	background-color: #8B8B8B;
	background-color: rgba(127, 127, 127, 0.9);
	padding-bottom: 44px;
	top: -240px;
	left: 1003px;
	-pie-background: rgba(127, 127, 127, 0.9);
}

#u6615popup
{
	z-index: 36;
}

#u6616
{
	z-index: 37;
	width: 1137px;
	height: 599px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
	padding: 13px 1px 149px;
}

#u6828-7
{
	z-index: 38;
	display: block;
	vertical-align: top;
	margin-left: 9px;
	position: relative;
}

#u6818
{
	z-index: 45;
	width: 1137px;
	background-color: transparent;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u6818_clip
{
	overflow: hidden;
	width: 1137px;
	height: 492px;
}

#u6818_img
{
	margin-bottom: -15px;
}

#u6646
{
	z-index: 47;
	width: 1139px;
	height: 761px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-right: -10000px;
	position: relative;
	top: 22px;
	left: 22px;
}

#u6656-7
{
	z-index: 48;
	display: block;
	vertical-align: top;
	margin-left: 2px;
	position: relative;
}

#u6823
{
	z-index: 55;
	width: 1137px;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u6630
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: #C4C4C4;
	padding-bottom: 5px;
	top: -217px;
	left: 2133px;
}

#u6630:hover
{
	background-color: #999999;
	margin: 0px;
}

#u6630:active
{
	background-color: #6B6B6B;
	margin: 0px;
}

#u6631-4
{
	z-index: 58;
	width: 20px;
	min-height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	line-height: 20px;
	color: #FFFFFF;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 5px;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u7009
{
	z-index: 77;
	width: 177px;
	margin-right: -10000px;
}

#pu6974
{
	width: 0.01px;
	padding-bottom: 60px;
	margin-left: 213px;
	margin-top: -850px;
}

#u6974
{
	z-index: 75;
	width: 78px;
	top: 7px;
	left: 213px;
}

#u6974_img
{
	margin-right: -1px;
}

#u6968
{
	z-index: 71;
	width: 218px;
	top: 11px;
	left: 290px;
}

#u6592-8
{
	z-index: 9;
	display: block;
	vertical-align: top;
	left: -26px;
	top: -741px;
	margin-bottom: -138px;
	position: relative;
}

#u6598-4
{
	z-index: 19;
	display: block;
	vertical-align: top;
	margin-left: 351px;
	top: -603px;
	margin-bottom: -19px;
	position: relative;
}

#u6593
{
	z-index: 17;
	width: 736px;
	background-color: transparent;
	margin-left: 149px;
	top: -565px;
	margin-bottom: -311px;
	position: relative;
}

#u6829-7
{
	z-index: 2;
	display: block;
	vertical-align: top;
	left: -27px;
	top: -238px;
	margin-bottom: -167px;
	position: relative;
}

#u6601-6
{
	z-index: 23;
	width: 324px;
	min-height: 22px;
	font-style: normal;
	left: -26px;
	top: -43px;
	margin-bottom: -22px;
	position: relative;
	background: transparent url("../images/flechamorada.jpg") no-repeat left center;
}

#u6601-4
{
	padding-left: 30px;
}

#u6601-2
{
	color: #B63B6A;
}

#u6602
{
	z-index: 30;
	left: -26px;
	top: -6px;
	position: relative;
	background: url("../images/u6602_states.png") no-repeat 0px 0px;
}

#u6602_states
{
	height: 49px;
	width: 155px;
	vertical-align: top;
}

#u6602:hover #u6602_states
{
	margin-bottom: -6px;
	background: url("../images/u6602_states-r.png") no-repeat 0px 0px;
}

body
{
	position: relative;
	min-width: 1016px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#page .verticalspacer
{
	clear: both;
}

